/*
*		PAGE ANALYTICS
*/
#DiContent .page-analytics .btn-white-green-wr a {
  margin: 0 0 15px
}

#DiContent .page-analytics a:focus,
#DiContent .page-analytics input:focus,
#DiContent .page-analytics select:focus,
#DiContent .page-analytics button:focus {
  outline: none
}

/*	*/
.page-analytics {
  position: relative
}

.pa__filter {
  width: 100%;
  background-color: #abb820;
  padding: 9px 15px;
  line-height: 37px;
  color: #ffffff;
}

.pa-filter__field {
  margin: 10px 0;
  display: block;
}

.pa-filter__name {
  padding-right: 10px;
  font-size: 14px;
}

.pa-filter__date {
  width: 100%;
  height: 37px;
  display: inline-block;
  border: 1px solid #ffffff;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  vertical-align: middle;
}

.pa-filter__bdate,
.pa-filter__edate {
  position: relative;
}

#DiContent .page-analytics .pa-filter__select {
  width: 100%;
  height: 37px;
  background: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
  font-size: 16px;
  vertical-align: middle;
}

#DiContent .page-analytics .pa-filter__select option {
  background-color: #abb820
}

.pa-filter__btn {
  height: 39px;
  margin: 0;
  text-align: right;
}

.pa-filter__btn button {
  border: 1px solid #ffffff;
  background-color: transparent;
  padding: 0 5px;
  line-height: 35px;
  font-size: 16px;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  display: none;
}

.pa-filter__btn button:hover {
  background-color: #ff6500
}

/*	*/
.pa__content {
  margin-top: 45px
}

#DiContent .page-analytics .pa__title {
  font-size: 24px;
  line-height: normal;
  padding-bottom: 10px;
  border-bottom: 1px solid #ff6500;
  color: #000000;
  font-family: "RobotoCondensedBold", sans-serif, verdana;
  text-transform: uppercase;
  margin: 0 0 40px;
}

#DiContent .pa__count {
  margin-bottom: 50px
}

#DiContent .pa__count * {
  font-family: "RobotoCondensedBold", sans-serif, verdana;
}

.pa-count__title {
  font-size: 16px;
  text-align: center;
  padding-bottom: 10px;
}

#DiContent .pa-count__num {
  min-width: 180px;
  max-width: 100%;
  height: 180px;
  display: table;
  margin: 0 auto 15px;
  padding: 0 5px;
  font-size: 160px;
  text-align: center;
  color: #ff6500;
  line-height: 178px;
  border: 1px solid #000000;
}

.pa-count__list {
  width: 200px;
  white-space: nowrap;
  margin: 0 auto;
  font-size: 16px;
}

.pa-count__list-item {
  padding-left: 30px;
  line-height: 16px;
  margin-bottom: 9px;
  position: relative;
}

.pa-count__list-item:before {
  content: '';
  font-family: 'PrommuFont';
  font-size: 25px;
  color: var(--color-dark);
  position: absolute;
  left: 5px;
}

.pa-count__list-item.ico1:before {
  content: "\e904"
}

.pa-count__list-item.ico2:before {
  content: "\e907"
}

.pa-count__list-item.ico3:before {
  content: "\e906"
}

.pa-count__list-item span {
  color: #ff6500
}

/*	*/
.pa__list {
  margin-bottom: 50px
}

.pa-list__title {
  font-size: 16px;
  padding-bottom: 5px;
  font-family: "RobotoCondensedBold", sans-serif, verdana;
}

.pa-list__item {
  position: relative;
  border: 1px solid #f3f3f3;
  margin-bottom: 5px;
  padding: 18px 13px;
}

.pa-list__item:before {
  content: '';
  background-color: #f3f3f3;
  display: block;
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  z-index: -1;
}

.pa-list__item-name {
  padding: 12px 7px 13px 0;
  border-right: 1px solid #d8d8d8;
  display: table-cell;
  font-size: 16px;
  vertical-align: middle;
}

.pa-list__item-cnt {
  height: 16px;
  padding-left: 23px;
  margin: 0 0 15px 7px;
  display: inline-block;
  color: #abb820;
  font-size: 16px;
  line-height: 16px;
  font-family: "RobotoCondensedBold", sans-serif, verdana;
  white-space: nowrap;
  position: relative;
}

.pa-list__item-cnt span {
  color: #ff6500;
  font-family: "RobotoCondensedBold", sans-serif, verdana;
  position: relative;
}

.pa-list__item-cnt:before {
  content: '';
  font-family: 'PrommuFont';
  font-size: 23px;
  color: var(--color-green);
  position: absolute;
  left: -2px;
}

.pa-list__item-cnt.ico1:before {
  content: "\e904"
}

.pa-list__item-cnt.ico2:before {
  content: "\e907"
}

.pa-list__item-cnt.ico3:before {
  content: "\e906"
}

.pa-list__item-count {
  display: table-cell;
  vertical-align: bottom;
}

.pa-service__list {
  padding: 5px 20px;
  border: 1px solid #f3f3f3;
}

.pa-service__item {
  width: 100%;
  display: table;
  padding: 10px 15px 10px 0;
  border-bottom: 1px solid #d1d1d1;
}

.pa-service__item:last-child {
  border: none
}

.pa-service__item-name {
  display: table-cell;
  padding-left: 45px;
  font-size: 16px;
  line-height: 29px;
  position: relative;
}

.pa-service__item-name:before {
  content: '';
  font-family: 'PrommuFont';
  font-size: 35px;
  color: var(--color-green);
  width: 35px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.pa-service__item-name.premium:before {
  content: "\e920"
}

.pa-service__item-name.share:before {
  content: "\e92a"
}

.pa-service__item-name.geo:before {
  content: "\e91f"
}

.pa-service__item-name.outsource:before {
  content: "\e927"
}

.pa-service__item-name.oustaff:before {
  content: "\e91e"
}

.pa-service__item-name.card:before {
  content: "\e950"
}

.pa-service__item-name.api:before {
  content: "\e91d"
}

.pa-service__item-name.email:before {
  content: "\e924"
}

.pa-service__item-name.push:before {
  content: "\e91f"
}

.pa-service__item-name.sms:before {
  content: "\e922"
}

.pa-service__item-cnt {
  display: table-cell;
  font-size: 16px;
  color: #abb820;
  text-align: right;
}

.pa-service__item-cnt b {
  color: #ff6500;
  font-weight: normal;
}

.pa-service__item-cnt span {
  display: none
}

/*	*/
.pa__graph-block {
  padding: 20px 15px 20px 15px;
  border: 1px solid #f3f3f3;
  position: relative;
}

.pa__graph {
  position: relative;
  z-index: 1;
}

.pa__graph-points {
  width: 700px;
  position: absolute;
  top: 25px;
  left: 40px;
  z-index: 2;
}

.pa__graph-points span {
  position: absolute;
  text-align: center;
}

.pa__graph-pv {
  width: 30px;
  left: -30px;
}

.pa__graph-ph {
  width: 40px;
  bottom: -14px;
}

.pa__graph-points b {
  background-color: #ffffff;
  color: #000000;
  font-size: 12px;
  line-height: 14px;
  font-family: "RobotoCondensedBold", sans-serif, verdana;
  font-weight: normal;
  display: block;
  position: relative;
  cursor: default;
  letter-spacing: -0.5px;
}

.pa__graph-pv b {
  top: 8px;
  right: 3px;
}

.pa__graph-ph b {
  top: 7px;
  left: -20px;
}

.pa__graph-pv:before,
.pa__graph-ph:before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 3px;
  position: absolute;
  background-color: #000000;
}

.pa__graph-pv:before {
  bottom: -3px;
  right: -3px;
}

.pa__graph-ph:before {
  top: -3px;
  right: 40px;
}

.pa__graph-pnt {
  position: absolute
}

.pa__graph-pnt:before {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  top: -3px;
  left: -6px;
  border-radius: 3px;
  background-color: #abb820;
}

.pa__graph-points b:hover {
  z-index: 3
}

/* Calendar	*/
.pa__calendar {
  width: 270px;
  position: absolute;
  top: 38px;
  left: 0;
  padding: 10px;
  background-color: rgba(52, 52, 52, 0.9);
  display: none;
  z-index: 5;
}

.pa__cal-table {
  width: 100%;
  text-align: center;
}

.pa__cal-table .m-left,
.pa__cal-table .m-right {
  font-size: 24px;
  line-height: 38px;
  cursor: pointer;
}

.pa__cal-table .day {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.pa__cal-table .day:hover {
  background-color: rgba(255, 255, 255, 0.5)
}

.pa__cal-table .today,
.pa__cal-table .today:hover {
  background-color: rgba(171, 184, 32, 0.5)
}

.pa__cal-table .none:hover {
  cursor: no-drop;
  background-color: rgba(255, 0, 0, 0.5)
}

.pa__cal-table .select,
.pa__cal-table .select:hover {
  background-color: rgba(255, 101, 0, 0.5)
}

/*
*
*/
#DiContent .page-analytics .paa__title {
  font-size: 24px;
  padding-bottom: 15px;
  margin: 0 0 30px;
  border-bottom: 1px solid #b0b0b0;
}

.paa__date {
  font-size: 16px;
  margin-bottom: 20px;
}

.paa__date b {
  color: #abb820;
  font-family: "RobotoCondensedBold", sans-serif, verdana;
}

.paa-event__list {
  max-width: 850px;
  padding: 10px;
  margin-bottom: 40px;
  border: 1px solid #c2c2c2;
}

.paa-event__item {
  padding: 10px;
  border-bottom: 1px solid #d1d1d1;
}

.paa-event__item:last-child,
.paa-event__item.on {
  border: none
}

.paa-event__item-content {
  width: 100%;
  display: table;
  font-size: 16px;
  position: relative;
}

@media (min-width: 450px) {
  .paa-event__list {
    padding: 20px;
  }

  .paa-event__item {
    padding: 18px;
  }
}

.paa-event__item-content span {
  width: 90%;
  display: table;
}

/*.paa-event__item-content:before{
	content: '';
	position: absolute;
	top: 15px;
	right: 0;
	left: 0;
	border: 1px dotted #696969;
	z-index: -1;
}*/
.paa-event__item-name {
  display: table-cell;
  color: #000000;
}

.paa-event__item-count {
  display: table-cell;
  color: #abb820;
  text-align: right;
}

.paa-event__item-content span {
  background-color: #ffffff
}

.paa-event__item-count i {
  color: #ff6500
}

#analytics-veil {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
}

#analytics-veil:before {
  content: '';
  width: 130px;
  height: 130px;
  position: absolute;
  top: 150px;
  left: -65px;
  background: url(/theme/pic/vacancy/loading.gif) 0 0 no-repeat;
  margin-left: 50%;
}

/*
*		MEDIA
*/
@media screen and (min-width: 450px) {
  .pa-filter__bdate,
  .pa-filter__edate {
    display: inline-block
  }

  .pa-filter__date {
    width: 144px
  }

  #DiContent .page-analytics .pa-filter__select {
    width: 216px
  }
}

@media screen and (min-width: 768px) {
  .pa-service__item-cnt span {
    display: inline;
    white-space: nowrap;
  }

  .pa-filter__field {
    padding-right: 10px;
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .pa-count__list {
    width: 50%
  }

  .pa__filter {
    display: table
  }

  .pa-filter__field {
    display: table-cell;
    padding-right: 20px;
    margin: 0;
    vertical-align: middle;
  }

  .pa-filter__btn {
    width: 125px;
    display: table-cell;
    vertical-align: bottom;
  }
}