#DiTop #DiContent .content-block{ margin-top: 0; }
/*body #DiSiteWrapp{ height: initial; }*/
/*
*		reviews lock page
*/
.reviews-lock{
	width: 100%;
	max-width: 660px;
	margin: 60px auto 80px;
}
#DiContent .rev-lock__title{
	font-size: 24px;
	color: #343434;
	line-height: 30px;
	font-style: italic;
	font-weight: normal;
	font-family: RobotoCondensedLight, RobotoCondensedRegular, verdana, arial;
	text-transform: uppercase;
	margin: 0 0 35px;
}
.rev-lock__text{
	font-size: 15px;
	color: #343434;
	font-family: RobotoCondensedRegular, verdana, arial;
	line-height: 20px;
	margin: 0px;
	text-align: justify;
}
.rev-lock__list{
	margin: 25px 0 10px;
	padding: 0;
	list-style: none;
}
.rev-lock__list-item{
	position: relative;
	padding-left: 25px;
	margin-bottom: 5px;
	line-height: normal;
	font-size: 15px;
	color: #343434;
	font-family: RobotoCondensedRegular, verdana, arial;
}
.rev-lock__list-item:before{
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 6px;
	left: 0;
	background-color: #ABB837;
	border-radius: 50%;
	z-index: 0;
}
.rev-lock__list-item span{
	position: relative;
	background-color: #FFFFFF;
	z-index: 1;
}
.rev-lock__list-item:after{
	content: '';
	display: block;
	height: 14px;
	position: absolute;
	top: 0;
	right: 0;
	left: 25px;
	border-bottom: 1px dotted #343434;
}
.rev-lock__planet{ background: url(/theme/pic/reviews-page/reviews-planet.png) 50% no-repeat; }
.rev-lock__social{ background: url(/theme/pic/reviews-page/reviews-social.png) 50% no-repeat; }
.rev-lock__planet,
.rev-lock__social{
	width: 100%;
	max-width: 136px;
	height: 136px;
	margin: 15px auto 25px;
	display: block;
	background-size: contain;
}
.rev-lock__emp .rev-lock__planet,
.rev-lock__emp .rev-lock__social{
	max-width: initial;
	width: 48%;
	height: 118px;
	margin: 15px 1% 25px;
	float: left;
}
.rev-lock__logo{
	width: 121px;
	height: 34px;
	background: url(/theme/pic/reviews-page/reviews-logo.png) no-repeat;
	margin-bottom: 5px;
}
.rev-lock__signature{
	font-size: 15px;
	color: #343434;
	font-family: RobotoCondensedRegular, verdana, arial;
}
@media (min-width: 768px){
	.rev-lock__list{ margin: 25px 0 45px; }
	.rev-lock__planet,
	.rev-lock__social{ 
		margin: 15px;
		display: inline-block;
	}
	.rev-lock__emp .rev-lock__planet,
	.rev-lock__emp .rev-lock__social{
		max-width: 118px;
		margin: 15px;
		float: 	none;
	}
}
/*
*		reviews personal page
*/
#DiTop #DiContent .reviews-applicant-item{
	width: 100%;
	max-width: 810px;
	margin: 40px auto 20px;
	color: #343434;
	font-family: RobotoCondensedRegular, RobotoRegular, verdana, arial;
}
.rai__img{
	max-width: 100%;
	margin: 0 auto 20px;
	display: block;
	border-radius: 50%;
}
#DiTop #DiContent .rai__title{
	margin: 0 0 25px;
	font-size: 18px;
	font-weight: normal;
}
.rai__subtitle{ text-transform: uppercase; }
.rai__star-block{
	padding: 0;
	margin: 0 3px 0 10px;
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}
.rai__star-block li:after{
	font-family: "PrommuFont";
	content: "";
	font-size: 15px;
	color: var(--color-orange);
	line-height: 15px;
}
.upp__star-block li.full:after { content: "\e94e"; }
.upp__star-block li.empty:after{ content: "\e94d"; }
.upp__star-block li.half:after { content: "\e94f"; }
.rai__line{
	margin: 15px 0 20px;
	width: 100%;
	border-top: 1px solid #D6D6D6;
}
.rai__review{
	width: 22px;
	height: 22px;	
	display: inline-block;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	border-radius: 50%;
	font-size: 13px;
	font-weight: bold;
	margin: 0 3px;
	cursor: default;
}
.rai__review-green{ background-color: #ABB837 }
.rai__review-red{ background-color: #ED2036 }
#DiTop #DiContent .rai__link{ text-decoration: underline; }
.rai__b-subtitle{
	font-size: 18px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.rai__table{ width: 100% }
.rai__table td{ vertical-align: top }
.rai-table__name{ 
	position: relative;
	padding-bottom: 20px;
}
.rai-table__cnt{ 
	width: 60px;
	padding: 0 5px;
}
.rai-table__name:after{
	content: '';
	display: block;
	height: 15px;
	position: absolute;
	top: 0;
	right: 0;
	left: 25px;
	border-bottom: 1px dotted #343434;
	z-index: 0;
}
.rai-table__name span{
	font-size: 15px;
	padding: 0 3px 20px;
	background-color: #FFFFFF;
	position: relative;
	z-index: 1;
}
#DiContent .rai__table input{ display: none; }
.rai-table__label{
	width: 22px;
	height: 22px;
	position: relative;
	display: inline-block;
	text-align: center;
	margin-right: 28px;
	line-height: 22px;
	color: #FFFFFF;
	border-radius: 50%;	
	font-weight: bold;
	cursor: pointer;
	background-color: #BCBCBC;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
#DiContent .rai-table__label{ font-size: 13px; }
.rai-table__label:after{
	content: '';
	display: block;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 0;
	right: -25px;
	background-color: #FFFFFF;
	border: 2px solid #BCBCBC;
	border-radius: 50%;
	text-align: center;
	line-height: 18px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
/* hover */
.rai-table__label.plus:after{	color: #ABB837 }
.rai-table__label.zero:after{ color: #797979 }
.rai-table__label.minus:after{ color: #ED2036 }

.rai-table__label.plus:hover{ background-color: #ABB837 }
.rai-table__label.plus:hover:after{	border: 2px solid #ABB837 }
.rai-table__label.zero:hover{ background-color: #797979 }
.rai-table__label.zero:hover:after{ border: 2px solid #797979 }
.rai-table__label.minus:hover{ background-color: #ED2036 }
.rai-table__label.minus:hover:after{ border: 2px solid #ED2036 }

.rai-table__label.plus:hover:after,
.rai-table__label.zero:hover:after,
.rai-table__label.minus:hover:after{ content: '\2713' }
/* active */
.rai-table__label:active,
.rai-table__label:active:after{ opacity: 0.5 }
/* checked */
.rai__table input:checked + .rai-table__label:after{ content: '\2713' }
.rai__table input:checked + .rai-table__label.plus{ background-color: #ABB837 }
.rai__table input:checked + .rai-table__label.plus:after{ border: 2px solid #ABB837 }
.rai__table input:checked + .rai-table__label.zero{ background-color: #797979 }
.rai__table input:checked + .rai-table__label.zero:after{ border: 2px solid #797979 }
.rai__table input:checked + .rai-table__label.minus{ background-color: #ED2036 }
.rai__table input:checked + .rai-table__label.minus:after{ border: 2px solid #ED2036 }
/* review */
.rai__review-label{
	height: 37px;
	position: relative; 
	padding: 10px 0 0 90px;
	margin-bottom: 8px;
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	vertical-align: middle;
}
.rai__review-label:before,
.rai__review-label:after{
	content: '';
	display: block;
	width: 37px;
	height: 37px;
	position: absolute;
	top: 0;
	text-align: center;
	line-height: 35px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 24px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.rai__review-label:before{
	left: 0;
	background-color: #BCBCBC;
}
.rai__review-label:after{
	left: 40px;
	border: 2px solid #BCBCBC;
}
#DiContent .rai__review-input{ display: none }
/* hover */
.rai__review-label.plus:after{	color: #ABB837 }
.rai__review-label.minus:after{ color: #ED2036 }

.rai__review-label.plus:hover:before{ background-color: #ABB837 }
.rai__review-label.plus:hover:after{	border: 2px solid #ABB837 }
.rai__review-label.minus:hover:before{ background-color: #ED2036 }
.rai__review-label.minus:hover:after{ border: 2px solid #ED2036 }

.rai__review-label.plus:hover:after,
.rai__review-label.minus:hover:after{ content: '\2714' }
/* active */
.rai__review-label:active,
.rai__review-label:active:after{ opacity: 0.5 }
/* checked */
.rai__review-input:checked + .rai__review-label:after{ content: '\2714' }
.rai__review-input:checked + .rai__review-label.plus:before{ background-color: #ABB837 }
.rai__review-input:checked + .rai__review-label.plus:after{ border: 2px solid #ABB837 }
.rai__review-input:checked + .rai__review-label.minus:before{ background-color: #ED2036 }
.rai__review-input:checked + .rai__review-label.minus:after{ border: 2px solid #ED2036 }
/* */
#DiContent .rai__review-area{
	width: 100%;
	height: 106px;
	display: block;
	resize: none;
	margin: 20px 0 14px;
	padding: 14px;
	background-color: #FFFFFF;
	border: 1px solid #B8B8B8;
	color: #343434;	
}
.rai__review-area::-webkit-input-placeholder {color:#B8B8B8;}
.rai__review-area::-moz-placeholder          {color:#B8B8B8;}
.rai__review-area:-moz-placeholder           {color:#B8B8B8;}
.rai__review-area:-ms-input-placeholder      {color:#B8B8B8;}
.rai__review-area:focus{ outline: none; }
.rai__btn{
	width: 100%;
	max-width: 195px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	font-size: 16px;
	outline: none;
	background: #ABB820;
	border: none;
	color: #FFFFFF;
	position: relative;
	z-index: 1;
	float: right;
}
.rai__btn:before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #FF6500;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.rai__btn:hover:before{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);	
}
/*
*		rating reviews list
*/
.rai-rating__item-img{
	width: 100%;
	max-width: 179px;
	max-height: 179px;
	margin: 0 auto 13px;
	display: block;
}
.rai-rating__item-table{
	width: 100%;
	max-width: 179px;
	margin: 0 auto 30px;
}
.rai-rating__item-name{
	font-family: RobotoCondensedRegular, RobotoRegular, verdana, arial;
	color: #343434;
}
.rai-rating__item-table td{ 
	width: 50%;
	padding-bottom: 13px; 
}
.rai-rating__item-table .rai__star-block{ margin: 0 }
.rai-rating__item-table .rai__star-block li{
    width: 10px;
    height: 10px;
}
.rai__star-block li:after{
	font-family: "PrommuFont";
	content: "";
	font-size: 15px;
	color: var(--color-orange);
	line-height: 15px;
}
.rai__star-block li.full:after { content: "\e94e"; }
.rai__star-block li.empty:after{ content: "\e94d"; }
.rai__star-block li.half:after { content: "\e94f"; }
.rai__pagination{
	margin: 10px auto 20px;
	text-align: center;
}
.rai__pagination span{
	color: #abb820;
	text-decoration: underline;
	padding: 0 3px;
}
#DiContent .rai__pagination a{ 
	color: #888888;
	padding: 0 3px;
}
.rai__see-too{
	margin: 30px 0 25px;
	text-align: center;
	display: block;
	color: #343434;
}
#DiContent .rai-btn__rating-list{
	width: 100%;
	max-width: 238px;
	height: initial;
	margin: 0 auto 20px;
	display: block;
	float: none;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	line-height: 38px;
}
#DiContent .rai-btn__rating-list:hover{ color: #FFFFFF }
.rai-btn__orange{ background: #FF6500 }
.rai-btn__orange:before{ background: #ABB820 }
/*
*	EMPLOYER PROFILE
*/
#DiTop #DiContent .reviews-profile{
    width: 100%;
    max-width: 810px;
    margin: 40px auto 0;
    color: #343434;
    font-family: RobotoCondensedRegular, RobotoRegular, verdana, arial;
}
#DiContent .rp-img__link{
	min-height: 29px;
	display: block;
	position: relative;
	padding: 6px 0 0 33px;
	margin-bottom: 9px;
	line-height: normal;
	color: #686868;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
#DiContent .rp-img__link:active{ opacity: 0.7 }
.rp-img__link:before{
	content: '';
	width: 29px;
	height: 29px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ABB837;
	border-radius: 50%;
	color: #FFFFFF;
	text-align: center;
	line-height: 29px;
	font-size: 18px;
	background: #ABB837 url(/theme/pic/reviews-page/reviews_profile_sprite.png) 6px 30px no-repeat;
}
.rp-img__link.plus:before{ content: '+' }
.rp-img__link.star:before{ background-position: 7px 6px }
.rp-img__link.circle:before{ background-position: 7px -25px }
.rp__img{
    max-width: 100%;
    margin: 0 auto 20px;
    display: block;
}
.rp__reviews-cnt{ margin-bottom: 10px }
.rp__reviews-list{ margin: 20px 0 }
.rp-list__item{
	width: 100%;
	padding: 12px;
	margin-bottom: 10px;
	background-color: #F6F6F6;
}
.rp-list__item-plus{ border: 2px solid #ABB837 }
.rp-list__item-minus{ border: 2px solid #ED2036 }
.rp-list__item-name{ margin-bottom: 10px; }
.rp-list__item-plus .rp-list__item-name{ color: #ABB837 }
.rp-list__item-minus .rp-list__item-name{ color: #ED2036 }
.rp-table__cnt{
	width: 30px;
	text-align: right;
}
.rp-cnt__plus,
.rp-cnt__zero,
.rp-cnt__minus{
	width: 22px;
	height: 22px;
	position: relative;
	display: inline-block;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	border-radius: 50%;
	font-weight: bold;
	cursor: default;	
}
.rp-cnt__plus{ background-color: #ABB837 }
.rp-cnt__zero{ background-color: #BCBCBC }
.rp-cnt__minus{ background-color: #ED2036 }
/*
*
*/
#DiContent .responses .responses__header-title{
	margin: 0 0 20px;
	display: block;
	color: #343434;
	font-size: 18px;
}
.responses__header{
	padding: 20px 0 15px;
	border-bottom: 1px solid #D6D6D6;
	margin: 20px 0;
}
.responses__list{
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}
.responses__item{
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #EBEBEB;
	position: relative;
}
.responses__item.active{ border: 1px solid #ABB837 }

#DiContent .responses .responses__item-title,
#DiContent .responses .app-responses__item-title{
	width: 100%;
	min-height: 45px;
	padding: 12px 130px 10px 10px;
	position: relative;
	display: block;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 10px;
	background-color: #abb820;
	color: #FFFFFF;
/*
	background-color: #F3F3F3;
	color: #343434;
*/
}
#DiContent .responses .app-responses__item-title{ 
	overflow: hidden;
	padding: 10px;
}
.app-responses__logo{
	display: inline-block;
	max-width: 65px;
	margin-right: 10px;
	vertical-align: middle;
}
.app-responses__logo img{
	display: block;
	width: 100%;
	border-radius: 50%;
}
#DiContent .responses .app-responses__item-title a{ color: #FFFFFF }
.responses__item-bdate{
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 14px;
}
.responses__item-status{
	position: absolute;
	bottom: 5px;
	right: 10px;
	font-size: 14px;
	text-transform: none;
}
.responses__item-resps{
	min-height: 85px;
	position: relative;
	padding: 10px;
	background-color: #F6F6F6;
	border: 1px solid #D6D6D6;
	margin-bottom: 10px;
}
.app-responses__item-resps{
	position: relative;
	padding: 10px;
	background-color: #F6F6F6;
	border: 1px solid #D6D6D6;	
}
.responses__item-resps.active,
.app-responses__item-resps.active{ border: 1px solid #abb820 }
.responses__resps-logo{
	width: 75px;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.responses__resps-logo a{ display: block }
.responses__resps-logo img{
	display: block;
	max-width: 65px;
	border-radius: 50%;
	border: 1px solid #CBD880;
}
.responses__resps-data{
	display: table-cell;
	vertical-align: middle;
	padding: 0 75px 0 0;
}
.active .responses__resps-data span,
#DiContent .responses .active .responses__resps-data a{ color: #abb820 }
.app-responses__item-resps.active .app-responses__cid,
#DiContent .responses .app-responses__item-resps.active .black-orange{ color: #abb820 }
.responses__resps-date{
	position: absolute;
	top: 7px;
	right: 10px;
	font-size: 14px;
}
.responses__resps-content{
	display: table;
	width: 100%;
}
#DiContent .responses .responses__btn{
	width: 130px;
	margin: 0;
	display: inline-block;
	line-height: initial;
	padding: 3px 0px;
	float: right;
	background: #FF8300;
	color: #FFFFFF;
	font-size: 14px;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	position: relative;
	z-index: 1;;
	cursor: pointer;
	text-align: center;
	border: none;
	text-transform: none; 
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#DiContent .responses .responses__btn:hover{ background: #FF8300 }
.responses__btn:before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ABB837;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.responses__btn:hover:before{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
#DiContent.page-responses .responses .controls.controls{ 
	display: block;
	min-height: 23px;
	margin-top: 5px;
	text-align: right;
	font-size: 14px;
}
#DiContent.page-responses .responses .controls a.apply,
#DiContent.page-responses .responses .controls a.cancel,
#DiContent.page-responses .responses .controls a.js-cancel{
	width: 130px;
	margin: 0;
	display: inline-block;
	line-height: initial;
	padding: 1px 0px;
	text-transform: none;
	line-height: 19px;
}
#DiContent.page-responses .responses .controls span{ display: block }
.app-responses__bdate{
	position: absolute;
	top: 7px;
	right: 10px;
	font-size: 14px;
}
.app-responses__rdate{
	position: absolute;
	top: 30px;
	right: 10px;
	font-size: 14px;
}
.app-responses__content{
	min-height: 40px;
	padding: 0 70px 0 0;
}
.responses__cmplt-rate{	
	width: 20px;
	height: 20px;
	display: block;
	background: url(/theme/pic/reviews-page/rate-complete.png) no-repeat;
	position: absolute;
	bottom: -5px;
	right: 5px;
}


@media (min-width: 768px){
	.responses__header{ padding: 20px 0 15px 80px }
}
#DiContent.page-reviews .rev__btn{
    width: 250px;
    line-height: 30px;
    display: block;
    margin: 20px auto 0;
    padding: 0;
    background: #ff8300;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
    position: relative;
    z-index: 1;
    border: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.rev__btn:before{
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ABB837;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.rev__btn:hover:before{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.responses__item-resps .controls{ text-align: right }