/*
*		PAGE EDIT PROFILE APPLICANT
*/
#DiContent a:focus,
.epa__btn:focus,
.epa__input:focus,
#DiContent input {
  outline: none;
}

#DiContent .epa__btn {
  width: 100%;
  line-height: 30px;
  display: block;
  margin: 0;
  padding: 0 5px;
  background: #ff8300;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 5px;
}

#DiContent .epa__btn:hover {
  color: #FFFFFF;
}

#DiContent .epa__btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ABB823;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#DiContent .epa__btn:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.edit-profile-applicant {
  padding: 0 15px;
}

.edit-profile-applicant .epa__header {
  padding: 0 0 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #D6D6D6;
}

.edit-profile-applicant .epa__header-title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-transform: none;
  color: #343434;
  text-decoration: underline;
}

.epa__header-title:before {
  content: '\e913';
  font-family: "PrommuFont";
  font-size: 27px;
  line-height: 27px;
  color: var(--color-green);
  display: inline-block;
  width: 27px;
  height: 27px;
  vertical-align: middle;
  margin-right: 5px;
}

/*	*/
.epa__content,
.epa__content-logo,
.epa__content-data {
  width: 100%
}

.epa__logo-content {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 2px solid #CBD880;
}

.epa__content-logo {
  max-width: 300px;
  margin: 0 auto;
}

.epa__logo-img {
  width: 100%;
  height: auto;
  display: block;
}

#DiContent .epa__logo-content .epa__logo-edit {
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  line-height: normal;
  padding: 10px 5px 30px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#DiContent .epa__logo-content:hover .epa__logo-edit {
  bottom: 0
}

#DiContent .epa__logo-content .epa__logo-edit:hover {
  color: #ABB820
}

.epa__logo-name-list {
  padding: 15px 3px;
  border-top: 1px solid #D8DEA2;
  border-bottom: 1px solid #D8DEA2;
  list-style: none;
  background-color: #ffffff;
}

.epa__logo-name-list.fixed {
  position: fixed;
  top: 15px;
}

.epa__logo-name {
  padding-left: 20px;
  color: #6A6A6A;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.epa__logo-name:hover,
.epa__logo-name.active {
  color: #ABB820
}

#DiContent .epa__logo-btn {
  margin-bottom: 20px
}

/*	*/
.epa__content-title {
  position: relative;
  margin-bottom: 20px;
}

.epa__content-title:before {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  background: #ABB837;
  z-index: 0;
}

#DiContent .epa__content-title h2 {
  display: inline-block;
  background: #FFFFFF;
  line-height: 23px;
  font-size: 16px;
  padding-right: 7px;
  color: #ABB837;
  position: relative;
  z-index: 1;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
}

.epa__content-module {
  position: relative;
    margin: 0 -5px 30px;
}

#city-module.epa__content-module {
  z-index: 20;
}

#DiContent .edit-profile-applicant .epa__label {
  width: 100%;
  height: 35px;
  border: 1px solid #EBEBEB;
  margin: 0 0 10px;
  padding: 0 15px;
  display: table;
  position: relative;
  -webkit-transition: box-shadow .3s ease-out;
  -moz-transition: box-shadow .3s ease-out;
  -o-transition: box-shadow .3s ease-out;
  transition: box-shadow .3s ease-out;
}

@media (max-width: 450px) {
  #DiContent .edit-profile-applicant .epa__label {
    padding: 0 7px;
  }

  .edit-profile-applicant {
    padding: 0;
  }
  /*.epa__label.epa__email .epa__label-name {*/
  /*width: 33%;*/
  /*line-height: 20px;*/
  /*}*/
}

#DiContent .edit-profile-applicant .epa__label.epa__select {
  padding: 0 30px 0 10px;
}

#DiContent .edit-profile-applicant .epa__label.epa__soc-other,
#DiContent .edit-profile-applicant .epa__label.epa__app-thigh {
  margin: 0 0 25px
}

#DiContent .edit-profile-applicant .epa__label.epa__payment {
  padding-right: 5px
}

#DiContent .edit-profile-applicant .epa__label.error {
  box-shadow: inset 0px 0px 3px red;
  border: 1px solid red;
}
#email-field:before {
  content: attr(data-error);
  width: 200px;
  margin-left: 50%;
  padding: 0 3px;
  position: absolute;
  top: -9px;
  left: -100px;
  background: #FFFFFF;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  font-size: 12px;
  text-align: center;
  line-height: 15px;
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  opacity: 0;
}
#email-field.erroremail:before {
  opacity: 1
}

.epa__label-name {
  display: inline-block;
  top: 0;
  left: 0;
  line-height: 33px;
  font-size: 15px;
  font-family: "RobotoCondensedBold", sans-serif, verdana;
}

.epa__about .epa__label-name {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 15px;
}

#DiContent #epa-str-posts {
  width: 80%;
}

#DiContent .epa__post-detail .epa__input.epa__required {
  width: 100%;
  position: relative;
  text-align: right;
  font-size: 15px;
}

#DiContent .epa__input.epa__post-period {
  position: absolute;
}

#DiContent .edit-profile-applicant .epa__soc-ok .epa__input {
  width: 33%;
}

#DiContent .edit-profile-applicant .epa__input {
  /*c*/
  width: auto;
  height: 33px;
  line-height: 33px;
  font-size: 15px;
  display: inline-block;
  color: #343434;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0 0 0 5px;
}

#DiContent .edit-profile-applicant .epa__period-list .epa__input {
  position: absolute;
  top: 0;
  left: 110px;
}
.epa__date {
  cursor: pointer
}

/*
*	calendar
*/
.epa__calendar {
  width: 100%;
  padding: 30px;
  background-color: rgba(52, 52, 52, 0.6);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  cursor: default;
  display: none;
  border: 1px solid transparent;
  z-index: 3;
}

.epa__calendar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
}

.epa__calendar.error {
  box-shadow: 0px 0px 3px red;
  border: 1px solid red;
  -webkit-transition: box-shadow .3s ease-out;
  -moz-transition: box-shadow .3s ease-out;
  -o-transition: box-shadow .3s ease-out;
  transition: box-shadow .3s ease-out;
}

.pr-card__calendar.error {
  border: 1px solid red;
}

.pr-card__calendar-label {
  color: #646464;
  display: inline-block;
  margin-bottom: 15px;
}

.pr-card__calendar-result {
  float: right;
  text-align: right;
  display: inline-block;
  color: #FF8300;
  margin-bottom: 5px;
}

.epa__calendar-table .epa__calendar-select {
  margin: 0 0 10px;
  min-width: 163px;
  position: relative;
}

/*.epa__select:after{
	content: '';
	display: block;
	position: absolute;
	width: 35px;
	height: 33px;
	top: 0;
	right: 0;
	background: url(/theme/pic/private/add-vac-select.png) 50% no-repeat;
	z-index: 0;
}*/
/*.epa__calendar-select.epa__select:after{ right: 5% }*/
.epa__select.white:after {
  background: url(/theme/pic/private/add-vac-select-white.png) 50% no-repeat
}

.epa__calendar-table {
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}

#DiContent .edit-profile-applicant .epa__calendar-table select {
  width: 95%;
  padding: 0 10px;
  margin-right: 5%;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#DiContent .edit-profile-applicant .epa__calendar-table select.error {
  box-shadow: 0px 0px 3px red;
  border: 1px solid red;
}

#DiContent .edit-profile-applicant .epa__calendar-table option {
  color: #6A6A6A
}

#DiContent .edit-profile-applicant .epa__calendar-table input {
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 0 10px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#DiContent .edit-profile-applicant .epa__calendar-table input.error {
  box-shadow: 0px 0px 3px red;
  border: 1px solid red;
}

.epa__calendar-table thead tr:first-child td:first-child {
  width: 71%;
}

.epa__calendar-table thead tr:first-child td:last-child {
  width: 29%;
}

.epa__calendar-table thead td {
  vertical-align: top;
}

.epa__calendar-table thead tr:last-child td,
.epa__calendar-table tbody td {
  height: 40px;
  vertical-align: middle;
}

.epa__calendar-table tbody .day {
  cursor: pointer
}

.epa__calendar-table tbody td:nth-child(n+6) {
  color: #ff8300
}

.epa__calendar-table .day.today,
.epa__calendar-table .day.today:hover {
  background-color: rgba(171, 184, 32, .5);
  color: #FFFFFF;
}

.epa__calendar-table .day.select,
.epa__calendar-table .day.select:hover {
  background-color: rgba(255, 131, 0, 0.5);
  color: #FFFFFF;
}

.epa__calendar-table .day:hover {
  background-color: rgba(230, 230, 230, .5);
}

.epa__calendar-table .empty:hover {
  background-color: transparent;
  cursor: default;
}

.epa__calendar-table .past:hover {
  background-color: red;
  cursor: no-drop;
}

#DiContent.page-services #pr-card-mes.-green {
  margin: 0;
  color: #FFFFFF !important;
  text-transform: uppercase;
}

/*	*/
.epa__attr-block {
  margin: 24px 0 10px
}

.epa__attr-block.error {
  position: relative;
}
.epa__attr-block.error:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--color-red);
  height: 35px;
  margin-top: -8px;
  box-shadow: inset 0 0 3px var(--color-red);
}
.epa__label.epa__posts.epa__select.error {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--color-red);
  box-shadow: inset 0 0 3px var(--color-red);
  border-radius: 4px;
}

#DiContent .epa__hidden {
  display: none
}

#DiContent .edit-profile-applicant .epa__checkbox {
  display: block;
  padding-left: 25px;
  margin-bottom: 15px;
  position: relative;
  line-height: 20px;
  font-size: 15px;
  color: #343434;
  font-family: "RobotoCondensedBold", sans-serif, verdana;
  cursor: pointer;
}

.epa__checkbox:after {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #EBEBEB;
  text-align: center;
  line-height: 18px;
  color: #343434;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

input:checked + .epa__checkbox:after {
  content: '\2714'
}

.epa__checkbox.error:after {
  box-shadow: inset 0px 0px 3px red;
  border: 1px solid red;
}

#DiContent .epa__save-btn {
  border: none;
  max-width: 200px;
  margin: 0 auto;
}

/* 	SELECT LIST	*/
.epa__select-list {
  width: 100%;
  padding: 10px 0 0;
  margin: 0;
  border-top: none;
  list-style: none;
  background-color: rgba(52, 52, 52, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
}

.epa__language .epa__select-list {
  top: initial;
  bottom: 0;
}

.epa__select-list li {
  width: 100%;
  height: 35px;
  padding: 0 50px 0 25px;
  position: relative;
}

@media (max-width: 450px) {
  .epa__select-list.epa__select-lst-vsbl li {
    padding: 0 5px 0 5px;
  }
}

.epa__select-list b {
  display: block;
  border-top: 1px dotted #FFFFFF;
  position: absolute;
  top: 17px;
  right: 5px;
}

.epa__messenger li:nth-child(2) b {
  left: 40px
}

.epa__messenger li:nth-child(3) b {
  left: 70px
}

.epa__messenger li:nth-child(4) b {
  left: 70px
}

.epa__messenger li:nth-child(5) b {
  left: 70px
}

.epa__messenger li:nth-child(6) b {
  left: 30px
}

.epa__app-hcolor b {
  left: 40px
}

.epa__app-hlen b {
  left: 90px
}

.epa__app-ycolor b {
  left: 55px
}

.epa__app-chest b {
  left: 35px
}

.epa__app-waist b {
  left: 105px
}

.epa__app-thigh b {
  left: 110px
}

.epa__posts li b {
  left: 180px
}

.epa__select-list-icon {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 6px;
  right: 6px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  z-index: 111;
}

.epa__select-list-icon:hover {
  background-color: rgba(255, 255, 255, 0.2)
}

#DiContent .epa__select-list input {
  display: none;
}

#DiContent .epa__select-list label {
  display: block;
  cursor: pointer;
  position: relative;
  line-height: 35px;
  color: #FFFFFF;
  font-size: 14px;
  margin: 0;
}

.epa__select-list label:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 12px;
  right: -12px;
}

.epa__select-list label:after {
  content: '';
  width: 6px;
  height: 6px;
  display: block;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: -9px;
}

.epa__select-list li input:checked ~ label:after {
  background-color: #FFFFFF
}

.epa__label-veil {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

#DiContent h3.epa__posts-title,
#DiContent h3.epa__cities-title {
  margin: 0;
  line-height: 35px;
  font-size: 14px;
  font-family: "RobotoCondensedBold", sans-serif, verdana;
}

.epa__posts-list {
  margin-bottom: 10px;
  counter-reset: posts;
}

.epa__posts-list b {
  text-transform: uppercase;
  color: #abb820;
  padding-right: 20px;
  cursor: default;
  text-decoration: underline;
  display: inline-block;
  line-height: 35px;
}

.epa__posts-list b:before {
  counter-increment: posts;
  content: counter(posts) ".";
  display: inline-block;
  text-decoration: none;
  color: #abb820;
}

.epa__select-list .epa__posts-new {
  padding: 3px;
}

#epa-posts-add span {
  padding: 0;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  display: block;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.epa__select-list.epa__select-lst-vsbl {
  display: table;
  position: unset;
  background: none;
  padding-bottom: 30px;
}

.epa__select-list.epa__select-lst-vsbl li b {
  left: 195px;
  border-top: 1px dotted #000;
}

#DiContent .epa__select-list.epa__select-lst-vsbl label {
  color: #000;
}

.epa__select-list.epa__select-lst-vsbl label:before {
  border: 1px solid #000;
}

.epa__select-list.epa__select-lst-vsbl li input:checked ~ label:after {
  background-color: #000;
}

#epa-posts-add span:hover {
  background-color: rgba(255, 255, 255, 0.2)
}

#DiContent #epa-posts-save.epa__posts-new input {
  width: 70%;
  display: block;
  padding: 0 20px;
  background: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  float: left;
}

#DiContent #epa-posts-save.epa__posts-new span {
  display: block;
  width: 29%;
  float: right;
  border: 1px solid #FFFFFF;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#DiContent #epa-posts-save.epa__posts-new span:hover {
  background-color: rgba(255, 255, 255, 0.2)
}

#DiContent .epa__posts-new:last-child {
  display: none
}

.epa__post-detail {
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

.epa__post-block {
  width: 100%;
  position: relative;
  max-width: 250px;
  margin: 20px auto;
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
}

.epa__post-block:nth-child(2n+1) {
  padding-right: 0;
}

.epa__post-block:nth-child(2n+1) .epa__post-close {
  right: 5px
}

@media (min-width: 580px) {
  .epa__post-block {
    flex: 0 1 50%;
  }

  .epa__post-block:nth-child(2n+1) {
    padding-right: 10px;
  }

  .epa__post-block:nth-child(2n+1) .epa__post-close {
    right: 10px
  }
}

@media (min-width: 768px) {
  .epa__post-block {
    flex: 0 1 100%;
  }

  .epa__post-block:nth-child(2n+1) {
    padding-right: 0;
  }

  .epa__post-block:nth-child(2n+1) .epa__post-close {
    right: 0
  }
}

@media (min-width: 991px) {
  .epa__post-block {
    flex: 0 1 50%;
  }

  .epa__post-block:nth-child(2n+1) {
    padding-right: 10px;
  }

  .epa__post-block:nth-child(2n+1) .epa__post-close {
    right: 10px
  }
}

.epa__post-block .epa__post-close {
  top: 5px;
  right: 5px;
}

.epa__post-name {
  margin-bottom: 20px;
  padding-right: 20px;
  flex: 1 1 auto;
  font-size: 16px;
  color: #ABB837;
  font-weight: 500;
  text-transform: uppercase;
}

.epa__post-close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 30px;
  border: 2px solid #c9c9c9;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.epa__post-close:after {
  content: '\e97d';
  font-family: "PrommuFont";
  color: var(--color-l2-grey);
  font-size: 20px;
  line-height: 17px;
  margin-left: -2px;
}

.epa__post-close:hover {
  background-color: #fd9595;
}

#DiContent .epa__post-block .epa__select-list input {
  width: calc(100% - 25px);
  height: 35px;
  display: block;
  position: absolute;
  left: 25px;
  right: 50px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.epa__post-block .epa__select-list label {
  z-index: 1
}

#epa-post-single,
#add-city-content,
#add-day-period,
#add-metro-content,
#add-metro-item,
#add-additional-phone {
  display: none
}

#DiContent .edit-profile-applicant .epa__label.epa__about {
  padding: 0
}

.epa__about .epa__label-name {
  right: 20px;
  background: transparent;
}

#DiContent .epa__about .epa__textarea {
  width: 100%;
  max-width: 320px;
  resize: none;
  background: transparent;
  border: none;
  padding: 35px 15px 12px;
  min-height: 125px;
  font-size: 14px;
}
#DiContent .epa__about .epa__textarea{
  max-width: initial;
  padding: 0 15px 15px;
}
#DiContent .epa__about .epa__textarea:focus {
  outline: none
}

/*
*		CITIES
*/
.epa__cities-list {
  counter-reset: cities;
  position: relative;
  margin-bottom: 10px;
  padding-right: 35px;
}

.epa__cities-list b {
  text-transform: uppercase;
  color: #abb820;
  padding-right: 20px;
  cursor: default;
  text-decoration: underline;
  display: inline-block;
  line-height: 35px;
}

.epa__cities-list b:before {
  counter-increment: cities;
  content: counter(cities) ".";
  display: inline-block;
  text-decoration: none;
  color: #abb820;
}

.epa__cities-block-list {
  counter-reset: cities
}

.epa__city-title {
  position: relative;
  padding-bottom: 20px;
  z-index: 0;
}

.epa__city-title:before {
  position: absolute;
  content: '';
  right: 55px;
  left: 0;
  top: 17px;
  height: 1px;
  background-color: #C9C9C9;
}

.epa__city-title b {
  text-transform: uppercase;
  color: #abb820;
  padding-right: 25px;
  cursor: default;
  line-height: 35px;
  display: inline-block;
  background-color: #FFFFFF;
  position: relative;
}

.epa__city-title b:after {

  counter-increment: cities;
  content: counter(cities);
  display: inline-block;
  text-decoration: none;
  color: #abb820;
}

.epa__city-err {
  opacity: 0;
  position: absolute;
  top: -17px;
  left: 0;
  font-size: 12px;
  color: red;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.epa__city-err.error {
  opacity: 1;
}

/*	*/
.city-list,
.metro-list,
.phone-list {
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  border-top: none;
  list-style: none;
  background-color: rgba(52, 52, 52, 0.6);
  position: absolute;
  top: 34px;
  left: 0;
  z-index: 11;
  font-size: 14px;
  color: #FFFFFF;
  display: none;
  color: #FFFFFF;
}

.city-list li,
.metro-list li,
.phone-list li {
  width: 100%;
  line-height: 35px;
  padding: 0 25px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.city-list li:hover,
.metro-list li:hover,
.phone-list li:hover {
  background-color: rgba(255, 255, 255, 0.2)
}

.epa__days-checkboxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.epa__day {
  width: 25%;
  display: table-cell;
  position: relative;
}

#DiContent .edit-profile-applicant .epa__day-input {
  position: absolute;
  opacity: 0;
  left: 0;
  width: 100%;
  height: 20px;
  z-index: 1;
  cursor: pointer;
}

#DiContent .epa__btn.epa__add-city-btn {
  text-transform: none;
  width: 130px;
  line-height: 25px;
  float: right;
  margin-bottom: 20px;
}

#DiContent .edit-profile-applicant .epa__period {
  width: 100%;
}

.epa__period .epa__label-name {
  color: #858585;
}

.epa__period-close,
.epa__metro-close,
.epa__city-del {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 7px;
  right: 10px;
  border: 2px solid #ebebeb;
  background: #FFFFFF url(/theme/pic/private/edit-profile-icon.png) -1px -1px no-repeat;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  z-index: 10;
}

.epa__metro-close,
.epa__city-del {
  right: 0;
}

.epa__period-close:hover,
.epa__metro-close:hover,
.epa__city-del:hover {
  background-color: #fd9595
}

#DiContent .edit-profile-applicant .epa__metro-item {
  border: none;
  width: 50%;
  float: left;
}

#DiContent h3.epa__cities-title {
  padding-left: 15px
}

/*	*/
.epa__city-btn,
.epa__add-phone-btn {
  width: 29px;
  height: 29px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: rgba(52, 52, 52, 0.6);
  border-radius: 3px;
  color: #FFFFFF;
  text-align: center;
  line-height: 28px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.epa__city-item {
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
}

.epa__city-item:first-child .epa__city-del {
  display: none
}

.epa__city-item:first-child .epa__city-title:before {
  right: 0
}

.epa__mess-hint {
  display: block;
  background-color: rgba(52, 52, 52, 0.6);
  position: absolute;
  top: 45px;
  right: 0;
  width: 100%;
  padding: 5px 10px;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 12px;
  opacity: 1;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.epa__mess-hint.off {
  opacity: 0
}

.epa__mess-hint:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 7px solid rgba(52, 52, 52, 0.6);
  border-bottom: 5px solid transparent;
  display: none;
}

/*#DiContent .edit-profile-applicant .epa__label.epa__select{ margin-bottom: 64px }*/
/*
*
*/
.confirm-user {
  margin: 0 auto 20px;
  padding-left: 35px;
  color: red;
  font-size: 12px;
  text-align: left;
  line-height: 30px;
  position: relative;
  cursor: pointer;
}

.confirm-user:before {
  content: '\e993';
  font-family: "PrommuFont";
  font-size: 30px;
  line-height: 30px;
  color: var(--color-red);
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.epa__input.epa__required {
  position: absolute;
  padding: 0;
}

/*
*		MEDIA
*/
@media (min-width: 450px) {
}

@media (min-width: 500px) {
  .epa__post-block {
    width: 50%;
    max-width: initial;
    float: left;
    padding-top: 30px;
    margin: 0 0 25px;
    border-top: 1px solid #c9c9c9;
    position: relative;
  }

  .epa__post-block .epa__post-close {
    top: 30px;
  }

  /*.epa__post-block:nth-child(2n+1){ padding-right: 10px }*/
  .epa__post-block:nth-child(2n) {
    padding-left: 10px
  }

  .epa__post-block:nth-child(1),
  .epa__post-block:nth-child(2) {
    border-top: none
  }

  /*.epa__post-block:nth-child(2n+1) .epa__post-close{ right: 10px }*/
  .epa__post-block:nth-child(2n) .epa__post-close {
    right: 0
  }

  #DiContent .edit-profile-applicant .epa__period {
    width: 49%;
    float: left;
  }

  /*#DiContent .edit-profile-applicant .epa__period:nth-child(2n+1){ margin-right: 1% }*/
  /*#DiContent .edit-profile-applicant .epa__period:nth-child(2n){ margin-left: 1% }*/
  #DiContent .edit-profile-applicant .epa__city-item .epa__period {
    width: 100%;
    float: left;
  }

  .epa__days-checkboxes {
    width: 100%;
    display: table;
  }

  .epa__day {
    width: initial;
  }

  .epa__attr-block2 {
    width: 50%;
  }
}

@media (min-width: 650px) {

}

@media (min-width: 768px) {
  .edit-profile-applicant .epa__header-title,
  .edit-profile-applicant .epa__content {
    padding: 0 0 0 110px
  }

  .epa__content {
    display: table;
  }

  .epa__content-logo {
    width: 200px;
    min-width: 200px;
    display: table-cell;
    padding-right: 20px;
    vertical-align: top;
    position: relative;
  }

  .epa__content-data {
    display: table-cell;
    vertical-align: top;
  }

  /*#DiContent .edit-profile-applicant .epa__label.epa__select{ margin-bottom: 47px }*/
  .confirm-user {
    text-align: center;
    line-height: normal;
  }
}

@media (min-width: 992px) {
  .edit-profile-applicant .epa__header-title,
  .edit-profile-applicant .epa__content {
    padding: 0 0 0 200px
  }

  .epa__content-title {
    max-width: 630px;
  }

  .epa__content-module {
    max-width: 630px;
  }

  #DiContent input[type=text] {
    width: auto;
  }
}

@media (min-width: 1200px) {
  #DiContent .edit-profile-applicant .epa__label.epa__select {
    margin-bottom: 10px
  }

  .epa__mess-hint {
    width: 170px;
    right: -190px;
  }

  .epa__mess-hint:before {
    display: block
  }
}

@media (max-width: 350px) {
  #MWwrapper .mw-win {
    width: 310px !important;
    left: 10px !important;
    margin: 0 !important;
  }
}

.epa__req-list {
  font-size: 14px;
  margin: 0 0 10px;
  display: none;
}

.epa__req-list div {
  display: inline;
  color: red;
}

.epa__req-list b {
  cursor: pointer
}

/*
*		LOAD IMG BTNS
*/
.epa-logo__btn-block {
  width: 100%;
  max-width: 180px;
  margin: 0 auto 20px;
}

.epa-logo__btn-block.single .epa-logo__load {
  width: 100%
}

.epa-logo__btn-block.single .epa-logo__webcam {
  display: none
}

.epa-logo__load,
.epa-logo__webcam {
  width: 85px;
  height: 34px;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.epa-logo__load {
  background: #ff8300;
  float: left;
  border-radius: 5px;
}

.epa-logo__webcam {
  background: #a0bb00;
  float: right;
}

.epa-logo__load:before,
.epa-logo__webcam:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.epa-logo__load:before {
  background: #a0bb00;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  border-radius: 5px;
}

.epa-logo__webcam:before {
  background: #ff8300;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.epa-logo__load:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.epa-logo__webcam:hover:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.epa-logo__load:after,
.epa-logo__webcam:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/theme/pic/register-popup-page/register_popup_btn_sprite.png) no-repeat;
}

.epa-logo__load:after {
  background-position: 50% -40px;
}

.epa-logo__webcam:after {
  background-position: 50% 6px;
}
/*
*
*/
.country-phone {
  width: 99%;
  display: table;
  vertical-align: top;
}

.country-phone.phonereg span {
  width: 1%;
  display: table-cell;
  line-height: 33px;
  vertical-align: top;
  font-size: 14px;
  color: #343434;
}

.epa__mess-allo .epa__label-name {
  white-space: nowrap
}

#DiContent .country-phone.phonereg input {
  display: table-cell;
  vertical-align: top;
  height: 33px;
}

/*
*   доработка либы
*/
.country-phone-selected {
  height: 33px;
  line-height: 32px;
  padding: 0px;
  background-position: 10px 50%;
  margin-right: 0px;
}

@media (max-width: 450px) {
  .country-phone-selected {
    padding: 0 2px 0 0;
  }

  .epa__content-logo .epa__logo-content {
    width: 80%;
    margin: 0 auto 15px auto;
  }
}

.country-phone-selected img {
  margin: 10px 5px;
}

.country-phone-options {
  top: 34px
}

.country-phone {
  border: none;
  background: transparent;
  height: 33px;
  padding: 0 33px 0 0;
  position: static;
}

.country-phone.error {
  border: none;
  box-shadow: none;
}

.country-phone-selector:hover {
  background: transparent
}

/*
*		28.03.19
*/
#DiContent .epa__label.epa__date,
#DiContent .epa__label.epa__payment {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  /*align-items: stretch;*/
  align-content: stretch;
}

#DiContent .epa__date .epa__label-name {
  position: static;
  padding: 0;
  white-space: nowrap;
}

#DiContent .epa__payment .epa__label-name {
  white-space: nowrap;
  font-size: 15px;
}

#DiContent .epa__date .epa__input {
  padding: 0 10px;
}

#DiContent .epa__payment .epa__input {
  margin: 0 5px;
  padding: 0;
  -webkit-transition: box-shadow .3s ease-out;
  -moz-transition: box-shadow .3s ease-out;
  -o-transition: box-shadow .3s ease-out;
  transition: box-shadow .3s ease-out;
}

#DiContent .epa__payment .epa__input.error {
  box-shadow: inset 0px 0px 3px red;
  border: 1px solid red;
  /*margin-left: 130px;*/
}

.epa__payment em {
  line-height: 33px;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
}

.epa__period-error {
  position: absolute;
  left: 109px;
  right: 40px;
  top: 0;
  line-height: 33px;
  color: red;
  display: none;
  font-size: 15px;
}

.epa__period-error b {
  width: 18px;
  height: 33px;
  margin: 0 1px;
  box-shadow: inset 0px 0px 3px red;
  border: 1px solid red;
}

#DiContent .edit-profile-applicant .profile__field.epa__period.error {
  box-shadow: none;
  border: 1px solid #EBEBEB;
}

.epa__period.error .epa__period-error {
  display: flex;
}
.ppp__content > .edit-profile-applicant {
  padding: 0;
}
/*
* 05-12-2019
 */
#DiContent .width-2{ width:50%; }
#DiContent .width-3{ width:33.3333%; }
#DiContent .width-4{ width:25%; }
#DiContent .width-4{ width:20%; }
#DiContent .profile__field{
  width: 100%;
  height: 35px;
  border: 1px solid #EBEBEB;
  margin: 0 0 15px;
  display: flex;
  position: relative;
  -webkit-transition: box-shadow .3s ease-out;
  -moz-transition: box-shadow .3s ease-out;
  -o-transition: box-shadow .3s ease-out;
  transition: box-shadow .3s ease-out;
}
#DiContent .profile__field.epa__about{
  height: initial;
  flex-wrap: wrap;
}
#DiContent .profile__field.error{
  box-shadow: inset 0px 0px 3px red;
  border: 1px solid red;
}
#DiContent .profile__field-name{
  line-height: 33px;
  font-size: 15px;
  padding: 0 5px;
  white-space: nowrap;
}
#DiContent input[type=text].profile__field-input{
  width: 99%;
  height: 33px;
  line-height: 33px;
  font-size: 15px;
  color: #343434;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0 5px;
}
.profile__col{ padding: 0 5px; }
#DiContent #phone-code.profile__field-input{ padding: 0; }
#conf-phone .prmu-btn.prmu-btn_normal{ max-width: initial; }
.profile__col .prmu-btn.prmu-btn_normal{
  max-width: initial;
}
.d-none{ display: none }
#DiContent .edit-profile-applicant .epa__label.epa__select.epa__posts{
  padding: 0;
}
.epa__posts.epa__label-name{
  padding: 0 15px;
}
.epa__select-list.epa__select-lst-vsbl{
  padding: 0;
  column-count: 1;
  display: block;
  position: static;
}
.epa__posts .epa__select-list li{
  padding: 0 27px 0 15px;
}
.epa__select-list.epa__select-lst-vsbl li b{ left: 0; }
.epa__select-list.epa__select-lst-vsbl li span{
  background-color: #ffffff;
  padding-right: 5px;
  position: relative;
  z-index: 1;
  font-size: 15px;
}
.epa__posts .epa__label-name{ padding-left: 15px; }
/* */
@media (min-width: 768px){

}
@media (min-width: 992px){
  .epa__content-module {
    max-width: 640px;
  }
  .epa__select-list.epa__select-lst-vsbl{
    column-count: 2;
  }
}