/*
*   PRIVATE PROFILE PAGE
*/
#DiContent.page-applicant-profile-own .affective-perc{ overflow: hidden }
#DiTop #DiContent .private-profile-page{
    width: 100%;
    max-width: 810px;
    margin: 25px auto 0;
    padding: 0 15px;
    color: #343434;
    font-family: RobotoCondensedRegular, RobotoRegular, verdana, arial;
    display: table;
}
#DiTop #DiContent .private-profile-page.for-guest{ max-width: 991px }
#DiContent .private-profile-page .ppp__btn{
    width: 100%;
    line-height: 30px;
    display: block;
    margin: 0;
    padding: 0 5px;
    background: #ff6500;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.ppp__btn:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #abb820;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.ppp__btn:hover:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/*  */
.ppp__logo{
    width: 100%;
    max-width: 300px;
    margin: 0 auto 30px;
}
.ppp__logo-main{
    border-radius: 50%;
    border: 2px solid #CBD880;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.ppp-logo-main__link,
.ppp-logo-main__img,
.ppp-logo-item__link,
.ppp-logo-item__img{
    width: 100%;
    display: block;
}
#DiContent .private-profile-page .ppp-logo-main__change{
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(0,0,0, 0.7);
    font-size: 16px;
    line-height: normal;
    padding: 10px 5px 30px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#DiContent .ppp__logo-main:hover .ppp-logo-main__change{ bottom: 0 }
#DiContent .private-profile-page .ppp-logo-main__change:hover{ color: #ABB820 }
.ppp-logo__item{
    width: 33.33%;
    float: left;
    padding: 0 7px 7px 0;
}
.ppp-logo__item a{
    border-radius: 50%;
    overflow: hidden;
}
.ppp__logo-more{ margin: 0 -7px 8px 0 }
/*  */
.ppp__content{
    max-width: 500px;
    margin: 0 auto;
}
#DiContent .ppp__content-title{
    padding: 0;
    margin: 0 0 25px -30px;
    font-size: 18px;
    text-transform: none;
    color: #343434;
    text-decoration: underline;
    margin: 0 0 25px;
    text-align: center;
}
.ppp__content-title:before{
    content: '';
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url(/theme/pic/private/vac-list-user-icon.png) no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}
.ppp__subtitle{ text-transform: uppercase }
.ppp__star-block{
    padding: 0;
    margin: 0 3px 0 10px;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}
.ppp__star-block li{
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(/theme/pic/reviews-page/reviews_sprite.png) 0 -16px no-repeat;
}
.ppp__star-block li.full{ background-position: 0 0; }
.ppp__star-block li.empty{ background-position: 0 -16px; }
.ppp__star-block li.half{ background-position: 0 -32px; }
.ppp__line{
    margin: 15px 0 20px;
    width: 100%;
    border-top: 1px solid #D6D6D6;
}
.upp__table{ width: 100% }
.upp__table td{ vertical-align: top }
.upp__table-name{ 
    position: relative;
    padding-bottom: 20px;
}
.upp__table-name:after{
    content: '';
    display: block;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    left: 25px;
    border-bottom: 1px dotted #343434;
    z-index: 0;
}
.upp__table-name span{
    font-size: 15px;
    padding: 0 3px 20px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
}
.upp__table-cnt{
    width: 30px;
    text-align: right;
}
.upp__table-cnt-plus, .upp__table-cnt-zero, .upp__table-cnt-minus{
    width: 22px;
    height: 22px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    color: #FFFFFF;
    border-radius: 50%;
    font-weight: bold;
    cursor: default;
}
.upp__table-cnt-plus{ background-color: #ABB837 }
.upp__table-cnt-zero{ background-color: #BCBCBC }
.upp__table-cnt-minus{ background-color: #ED2036 }
.upp__review{
    width: 22px;
    height: 22px;   
    display: inline-block;
    text-align: center;
    line-height: 22px;
    color: #FFFFFF;
    border-radius: 50%;
    font-size: 13px;
    font-weight: bold;
    margin: 0 3px;
    cursor: default;
}
.upp__review-green{ background-color: #ABB837 }
.upp__review-red{ background-color: #ED2036 }
.upp__reviews-cnt{
    display: inline-block;
    padding: 0 15px 20px 0;
}
#DiContent .private-profile-page .upp__link{
    color: #FFFFFF;
}
.ppp__comments-item{
    padding: 15px 12px;
    border: 1px solid #ABB837;
    margin-bottom: 10px;
}
.ppp__comments-item.negative{ border: 1px solid #ED2036 }
.ppp__comm-name{ 
    margin-bottom: 10px;
    color: #ABB837;
}
.negative .ppp__comm-name{ color: #ED2036 }
#DiContent .private-profile-page .ppp__allreview-btn{
    margin: 20px auto 30px;
    max-width: 190px;
    background: #abb820;
}
.ppp__allreview-btn:before{ background: #ff6500 }
.ppp__work-item{
    width: 100%;
    display: table;
    margin-bottom: 20px;
}
.ppp-work-item__logo{
    width: 70px;
    display: table-cell;
    vertical-align: top;
    padding-right: 15px;
}
.ppp-work-item__logo a,
.ppp-work-item__logo img{
    display: block;
    width: 100%;
}
.ppp-work-item__data{
    display: table-cell;
    vertical-align: top;
}
#DiContent .private-profile-page .ppp-work-item__data a{ 
    text-decoration: underline;
    font-size: 15px;
}
.ppp-work-item__date{
    display: block;
    color: #848484;
    font-size: 12px;
    padding: 5px 0;
}
.ppp__module-title{
    position: relative;
    margin-bottom: 20px;
}
.ppp__module-title:before{
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 11px;
    left: 0;
    background: #ABB837;
    z-index: 0;
}
#DiContent .ppp__module-title h2{
    display: inline-block;
    background: #FFFFFF;
    line-height: 23px;
    font-size: 16px;
    padding-right: 7px;
    color: #ABB837;
    position: relative;
    z-index: 1;
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
}
.ppp__field{
    width: 100%;
    height: 35px;
    border: 1px solid #EBEBEB;
    margin: 0 0 10px;
    padding: 0 15px;
    position: relative;
    display: table;
}
.ppp__field.error{
    box-shadow: inset 0px 0px 3px red;
    border: 1px solid red;
    color: red;
}
.ppp__field-name{
    width: 3%;
    padding-right: 5px;
    display: table-cell;
    vertical-align: top;
    line-height: 33px;
    font-size: 14px;
    font-family: RobotoCondensedBold, RobotoCondensedRegular, verdana, arial;
    white-space: nowrap;
}
.ppp__field-val{
    display: table-cell;
    vertical-align: top;
    line-height: 33px;
    font-size: 14px;
    color: #343434;
    font-family: RobotoCondensedRegular, RobotoRegular, verdana, arial;
}
.ppp__checkboxes{
    margin: 24px 0 10px;
}
.ppp__attr-block1{
    width: 30%;
    float: left
}
.ppp__attr-block2{
    width: 70%;
    float: left;
}
.ppp__checkbox{
    padding-right: 34px;
    margin-bottom: 22px;
    position: relative;
    float: right;
    line-height: 20px;
    font-size: 14px;
    color: #343434;
    font-family: RobotoCondensedBold, RobotoCondensedRegular, verdana, arial;
}
.ppp__checkbox:after{
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #EBEBEB;
    text-align: center;
    line-height: 18px;
    color: #343434;
}
.ppp__checkbox.active:after{ content: '\2714' }
.ppp__about{ margin: 25px 15px 35px }
.ppp__about.error{ color: red }
.ppp__about-name{
    line-height: 33px;
    font-size: 14px;
    padding-bottom: 20px;
    font-family: RobotoCondensedBold, RobotoCondensedRegular, verdana, arial;
}
.ppp__about-val{ 
    text-align: justify;
    word-break: break-word;
}
/*  */
.ppp__post-list{ margin: 25px 0 0 }
.ppp__post-name{ 
    padding: 0 10px 20px;
    min-height: 60px;
}
.ppp__post-name b{
    color: #ABB837;
    font-family: RobotoCondensedBold, RobotoCondensedRegular, verdana, arial;
    display: table-cell;
}
.ppp__post-name span{ display: table-cell }
.ppp__post-item{ margin-bottom: 30px }
/*  */
.ppp__city-list{ counter-reset: cities }
.ppp__city-title{
    position: relative;
    padding-bottom: 20px;
}
.ppp__city-title:before{
    position: absolute;
    content: '';
    right: 0;
    left: 0;
    top: 17px;
    height: 1px;
    background-color: #C9C9C9;
}
.ppp__city-title b{
    text-transform: uppercase;
    color: #abb820;
    padding-right: 25px;
    font-family: RobotoCondensedBold, RobotoCondensedRegular, verdana, arial;
    cursor: default;
    line-height: 35px;
    display: inline-block;
    background-color: #FFFFFF;
    position: relative;
}
.ppp__city-title b:after{
    counter-increment: cities;
    content: counter(cities);
    display: inline-block;
    text-decoration: none;
    color: #abb820;
    font-family: RobotoCondensedBold, RobotoCondensedRegular, verdana, arial;
}
.ppp__cities-title{ padding-left: 15px }
.ppp__days-checkboxes{
    width: 100%;
    display: table;
}
.ppp__day{
    display: table-cell;
    position: relative;
}
.ppp__checkbox{
    padding-right: 22px;
    margin-bottom: 22px;
    position: relative;
    float: right;
    line-height: 20px;
    font-size: 14px;
    color: #343434;
    font-family: RobotoCondensedRegular, verdana, arial;
    cursor: pointer;
}
.ppp__checkbox:after{
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #EBEBEB;
    text-align: center;
    line-height: 18px;
    color: #343434;
}
.ppp__checkbox.active:after{ content: '\2714' }
/*  */
.ppp__logo-comm{ margin-bottom: 20px }
#DiTop #DiContent .ppp__logo-comm .upp__link{ text-decoration: none }
#DiContent .ppp__logo-comm a:last-child{ text-decoration: underline }
.ppp__logo-comm .upp__review{ 
    margin: 0;
    vertical-align: bottom;
}
.ppp__logo-rating{ 
    margin-bottom: 15px;
    text-align: center;
}
.ppp__logo-rating .ppp__star-block{ margin: 0 }
.ppp__logo-allrev{ padding-left: 5px }
/*
*   UPP version
*/
#DiTop #DiContent .user-profile-page{
    width: 100%;
    max-width: 810px;
    margin: 0 auto;
    color: #343434;
    font-family: RobotoCondensedRegular, RobotoRegular, verdana, arial;
}
#DiContent .upp-img__link{
    min-height: 29px;
    display: block;
    position: relative;
    padding: 6px 0 0 33px;
    margin-bottom: 9px;
    line-height: normal;
    color: #686868;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#DiContent .upp-img__link:active{ opacity: 0.7 }
.upp-img__link:before{
    content: '';
    width: 29px;
    height: 29px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ABB837;
    border-radius: 50%;
    color: #FFFFFF;
    text-align: center;
    line-height: 29px;
    font-size: 18px;
    background: #ABB837 url(/theme/pic/reviews-page/reviews_profile_sprite.png) 6px 30px no-repeat;
}
.upp-img__link.upp-img__plus:before{ content: '+' }
.upp-img__link.upp-img__star:before{ background-position: 7px 6px }
.upp-img__link.upp-img__circle:before{ background-position: 7px -25px }
.upp__img{
    max-width: 100%;
    margin: 0 auto 20px;
    display: block;
}
.upp__reviews-cnt{ margin-bottom: 10px }
.upp__reviews-list{ margin: 20px 0 }
.upp-list__item{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #F6F6F6;
}
.upp-list__item-plus{ border: 2px solid #ABB837 }
.upp-list__item-minus{ border: 2px solid #ED2036 }
.upp-list__item-name{ margin-bottom: 10px; }
.upp-list__item-plus .upp-list__item-name,
#DiContent .upp-list__item-plus .upp-list__item-name a{ color: #ABB837 }
.upp-list__item-minus .upp-list__item-name,
#DiContent .upp-list__item-minus .upp-list__item-name a{ color: #ED2036 }
.upp__table-cnt{
    width: 30px;
    text-align: right;
}
.upp__table-cnt-plus,
.upp__table-cnt-zero,
.upp__table-cnt-minus{
    width: 22px;
    height: 22px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    color: #FFFFFF;
    border-radius: 50%;
    font-weight: bold;
    cursor: default;    
}
.upp__table-cnt-plus{ background-color: #ABB837 }
.upp__table-cnt-zero{ background-color: #BCBCBC }
.upp__table-cnt-minus{ background-color: #ED2036 }
.upp__star-block{
    padding: 0;
    margin: 0 3px 0 10px;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}
.upp__star-block li{
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(/theme/pic/reviews-page/reviews_sprite.png) 0 -16px no-repeat;
}
.upp__star-block li.full{ background-position: 0 0; }
.upp__star-block li.empty{ background-position: 0 -16px; }
.upp__star-block li.half{ background-position: 0 -32px; }
#DiContent .upp__btn-rating-list{
    padding: 0;
    font-size: 16px;
    outline: none;
    background: #ABB820;
    border: none;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 238px;
    height: initial;
    margin: 0 auto 20px;
    display: block;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    line-height: 38px;
}
#DiContent .upp__btn-rating-list:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FF6500;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#DiContent .upp__btn-rating-list:hover:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);   
}
#DiContent .upp__btn-rating-list:hover{ color: #FFFFFF }
.upp__review{
    width: 22px;
    height: 22px;   
    display: inline-block;
    text-align: center;
    line-height: 22px;
    color: #FFFFFF;
    border-radius: 50%;
    font-size: 13px;
    font-weight: bold;
    margin: 0 3px;
    cursor: default;
}
.upp__review-green{ background-color: #ABB837 }
.upp__review-red{ background-color: #ED2036 }
#DiTop #DiContent .upp__link{ text-decoration: none }
.upp__table{ width: 100% }
.upp__table td{ vertical-align: top }
.upp__table-name{ 
    position: relative;
    padding-bottom: 20px;
}
.rai-table__cnt{ 
    width: 60px;
    padding: 0 5px;
}
.upp__table-name:after{
    content: '';
    display: block;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    left: 25px;
    border-bottom: 1px dotted #343434;
    z-index: 0;
}
.upp__table-name span{
    font-size: 15px;
    padding: 0 3px 20px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
}

#DiContent .user-profile-page__title,
.user-profile-page__line{ display: none; }
#DiTop #DiContent .upp__title{
    margin: 0 0 25px;
    font-size: 18px;
    font-weight: normal;
}
.upp__subtitle{ text-transform: uppercase; }
.upp__line{
    margin: 15px 0 20px;
    width: 100%;
    border-top: 1px solid #D6D6D6;
}
.upp__img-block{ 
    width: 100%; 
    margin-bottom: 20px;
}
.upp__img-block-main{
    min-width: 180px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.upp__img-block-main img,
.upp__img-block-main .upp__img-block-main-link{ 
    width: 100%;
    display: block;
}
.upp__img-block-main .upp__img-block-main-link{ padding: 0 5px }
.upp__img-block-main .img-reg__pencil{ right: 15px; }
.upp__img-block-more{
    width: 33.3%;
    display: block;
    margin-top: 10px;
    overflow: hidden;
    float: left;
}
.upp__img-block-more a{
    width: 100%;
    padding: 0 5px;
    display: block;`
}
.upp__img-block-more img{
    width: 100%;
    height: auto;
    cursor: zoom-in;
}
#DiContent.page-applicant-profile-own .affective-block, 
#DiContent.page-ankety .affective-block,
#DiContent.page-applicant-profile-own.page-ankety.action-profile  .affective-block{ position: static; }
.upp__project-item{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #F6F6F6;
    border: 2px solid #D6D6D6;
}
.upp__project-info img{
    width: 100%;
}
.upp__project-info{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
a.upp__project-info{ width: 65px }
.upp__project-company{
    color: #ABB837;
    margin-bottom: 5px;
    display: block;
}
#DiContent .upp__img-block-main .upp__change-logo{
    position: absolute;
    bottom: -100px;
    left: 5px;
    right: 5px;
    color: #FFFFFF;
    background-color: rgba(0,0,0, 0.7);
    font-size: 16px;
    line-height: normal;
    padding: 10px 5px;
    font-family: RobotoCondensedRegular, RobotoRegular, verdana, arial;
}
#DiContent .upp__img-block-main:hover .upp__change-logo{ bottom: 0 }
#DiContent .upp__img-block-main .upp__change-logo:hover{ color: #ABB820 }
.upp__img-block-main .upp__img-block-main-link{ cursor: zoom-in; }
#DiContent .upp__reviews-cnt .upp__reviews-name{ color: #343434 }
#DiContent .upp__reviews-cnt .upp__reviews-name:hover{ text-decoration: underline }
#DiSiteWrapp #DiContent{ padding: 10px 0 150px }
.ppp__field.ppp__post-field{
    display: block;
    min-height: 35px;
    height: inherit;
    overflow: hidden;
}
.ppp__field.ppp__post-field em{
    font-style: normal;
    display: table-cell;
    vertical-align: middle;
    padding-left: 3px;
}
.ppp__field.ppp__post-exp{ min-height: 50px }
.ppp__post-item .ppp__field-val{
    padding: 7px 0;
    line-height: normal;
}
/*
*   MEDIA
*/
@media (min-width: 550px){
    .ppp__module{ padding-right: 100px }
}
@media (min-width: 768px){
    #DiSiteWrapp #DiContent{ padding: 10px 0 200px }
    .ppp__logo{
        width: 200px;
        min-width: 200px;
        max-width: initial;
        display: table-cell;
        padding-right: 20px;
        vertical-align: top;
    }
    .ppp__content{
        max-width: initial;
        display: table-cell;
        vertical-align: top;
        padding-left: 30px;
    }
    #DiContent .ppp__content-title{
        text-align: left;
        margin: 0 0 25px -30px;
    }
    .ppp__post-item{
        width: 50%;
        float: left;
    }
    .ppp__post-item:nth-child(2n+1){ padding-right: 10px }
    .ppp__post-item:nth-child(2n){ padding-left: 10px }
    .ppp__period-list .ppp__field{
        width: 49%;
        float: left;
    }
    .ppp__period-list .ppp__field:nth-child(2n+1){ margin-right: 1% }
    .ppp__period-list .ppp__field:nth-child(2n){ margin-left: 1% }
    .ppp__checkbox{padding-right: 34px }
    .ppp__module{ padding-right: 0px }
    /*  */
    #DiContent .user-profile-page__title{
        background-color: #ABB837;
        color: #FFFFFF;
        font-size: 20px;
        margin: 0;
        display: inline-block;
        padding: 5px 60px;
        text-transform: none;
        display: inline-block;
    }
    .user-profile-page__line{
        margin: 0;
        border-top: 2px solid #ABB837;
        display: block;
    }
    #DiTop #DiContent .user-profile-page{ margin: 40px auto 0 }
    .ppp__clear-two{ clear: both } 
}
@media (min-width: 992px){
    .ppp__module{ padding-right: 100px }
    .for-guest .ppp__post-list .ppp__clear-two{ clear: initial } 
    .for-guest .ppp__post-list .ppp__clear-three{ clear: both }
    .for-guest .ppp__post-list .ppp__post-item{ width: 33.33%; }
    .for-guest .ppp__post-list .ppp__post-item:nth-child(2n+1){ padding: 0 5px }
    .for-guest .ppp__post-list .ppp__post-item:nth-child(2n){ padding: 0 5px }
    .for-guest .ppp__period-list .ppp__field{ width: 32.33% }
    .for-guest .ppp__period-list .ppp__field:nth-child(2n+1){ margin: 0 0.5% 10px }
    .for-guest .ppp__period-list .ppp__field:nth-child(2n){ margin: 0 0.5% 10px }
}
/*  */
.ppp-logo__item-onl{
    width:80%;
    height:50px;
    position:absolute;
    left:10%;
    bottom:-24px;
    background-color:#fff;
    border-radius:50%;
    border:1px solid #abb820;
    text-align: center;
}
.ppp-logo__item-onl span,
.ppp-logo__item-onl span:hover{
    color:#abb820;
    font-size:12px;
    font-weight:700;
    position:relative;
    padding-right:13px;
}
.ppp-logo__item-onl span:after{
    content:'';
    width:10px;
    height:10px;
    position:absolute;
    right:0;
    top:4px;
    display:block;
    border-radius:50%;
    background-color:#abb820;
}
/*
*
*/
.confirmed-user{
    max-width: 100px;
    height: 30px;
    margin: 20px auto;
    padding-left: 35px;
    background: url(/theme/pic/profile/confirm-user.png) no-repeat;
    color: #abb820;
    font-size: 12px;
    cursor: default;
    line-height: 30px;
    text-align: left;
    position: relative;
}
/*
*
*/
#DiSiteWrapp #DiContent #MWwrapper .mw-win.dark-ver{ 
    width: 350px;
    left: -175px; 
}
#DiSiteWrapp #DiContent #MWwrapper .mw-win.dark-ver{
    background: #5aad17;
    background: -moz-linear-gradient(-45deg, #5aad17 0%, #0f4801 100%);
    background: -webkit-linear-gradient(-45deg, #5aad17 0%,#0f4801 100%);
    background: linear-gradient(135deg, #5aad17 0%,#0f4801 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aad17', endColorstr='#0f4801',GradientType=1 );
    padding: 40px;
    border: none;
    font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
    color: #FFFFFF;
}
#DiSiteWrapp #DiContent #MWwrapper .header{
    border: none;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}
#DiSiteWrapp #DiContent #MWwrapper .header div{
    padding: 0 0 10px;
    position: static;
    background: transparent;
    font-size: 24px;
    font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
    font-weight: normal;
}
#DiSiteWrapp #DiContent #MWwrapper .mw-close{
    width: 29px;
    height: 29px;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    top: 11px;
    right: 11px;
}
#DiSiteWrapp #DiContent #MWwrapper .mw-close:before{
    content: 'X';
    width: 28px;
    line-height: 28px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
}
#MWwrapper form{ 
    font-size: 18px;
    text-align: center;
}
#MWwrapper form.text-left{ text-align:left }
#MWwrapper form.text-left ul{
    margin: 0;
    padding-left: 0px;
    list-style: none;
}
/*
*
*/
.ppp__rating-block{ 
    position: relative;
    display: inline-block;
}
.ppp__rating-block p{
    width: 140px;
    position: absolute;
    top: 30px;
    right: 25%;
    padding: 7px;
    margin: 0;
    background-color: #abb820;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    line-height: 14px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    z-index: 2;
    display: none;
    font-size: 12px;
    font-family: RobotoCondensed-Regular,verdana,arial;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
}
.ppp__rating-block p:before{
    border-bottom: 10px solid #ffffff;
    top: -11px;
}
.ppp__rating-block p:after{
    border-bottom: 10px solid #abb820;
    top: -10px;
}
.ppp__rating-block p:before,
.ppp__rating-block p:after{
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    right: 60px;
}
/*
*
*/
.ppp-logo-main__active{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ppp-logo-main__active i{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;  
}
.ppp-logo-main__active .enable{ color:#abb820 }
.ppp-logo-main__active .enable i{ background: #abb820 }
.ppp-logo-main__active .disable{ color:#D6D6D6 }
.ppp-logo-main__active .disable i{ background: #D6D6D6 }
.ppp__isnews{
    margin-bottom: 35px;
}
.ppp__isnews .ppp__checkbox{
    float: none;
    cursor: default;
}