#DiContent.page-ankety .row {
    z-index: 1;
}

/* personal__area */

#DiContent .personal__area.personal__area-flex {
    z-index: 0;
}

@media screen and (min-width: 768px) {
    .personal__area.personal__area-flex {
        display: flex;
        flex-wrap: wrap;
    }
}

.personal__area--item {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}

.upp__rating-block {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .personal__area--item {
        flex: 1 0 auto;
        height: 90px; /*100px;*/
    }
    .upp__rating-block {
        text-align: unset;
    }
}

.personal__area--item + .personal__area--item {
    margin: 20px 0;
}

.personal__area--item:first-child {
    flex: 1 0 0;
}

.personal__area--item-index {
    z-index: 0;
}

.personal__area--item-index-top {
    z-index: 2;
}

@media screen and (max-width: 989px) {
    .upp__rating-affective {
        max-width: 275px;
        margin: 0 auto;
        margin-top: 25px;
    }
}

@media screen and (min-width: 767px) {
    .personal__area--item + .personal__area--item {
        margin: 0 0 0 40px;
    }
}

.personal__area--separator {
    height: 1px;
    background: var(--color-grey);
    margin: 20px 0 25px 0;
}

#DiContent.page-ankety .affective-block {
    margin-top: 0;
}

.personal__area .upp__img-block-main {
    min-width: 150px;
    max-width: 150px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #CBD880;
    overflow: hidden;
}

@media screen and (min-width: 767px) {
    .personal__area .upp__img-block-main {
        min-width: 75px;
        max-width: 75px;
        min-height: 75px;
        margin: 0 auto;
    }
}

.disable {
    text-align: center;
}

.personal__area--indicator {
    border-radius: 50px;
    width: 100%;
    background: var(--color-green);
    height: 30px;
}

.personal__area--number {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
    font-size: 24px;
    font-weight: 600;
}

.personal__area--affective {
    position: relative;
    margin-top: 10px;
    border: 1px solid var(--color-green);
    padding: 2px;
    border-radius: 50px;
}

.personal__area--button {
    margin: 25px 0 0 0;
    text-align: right;
}

.upp__img-block-main img {
    width: 100%;
}

.upp__img-block-main .upp__change-logo {
    position: absolute;
    bottom: -100px;
    left: 0px;
    right: 0px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    line-height: normal;
    padding: 20px 5px 13px;
}

.upp__img-block-main:hover .upp__change-logo {
    bottom: 0
}

.upp__img-block-main .upp__change-logo:hover {
    color: #ABB820;
}

.upp-logo__item-onl {
    max-width: 75px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.upp__title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    display: block;
    margin: 10px 0;
}

.upp__title--date {
    display: block;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

@media screen and (min-width: 767px) {
    .upp__title {
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        top: 0;
        margin: 0;
        text-align: left;
        width: 320px;
    }

    .upp__title--date {
        text-align: left;
        display: table;
    }

}

.upp__title--forall {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    text-align: left;
}

.upp__star-block {
    list-style: none;
    margin: 5px;
    padding: 0;
}
.upp__subtitle {
    text-transform: none;
    position: relative;
    color: var(--color-grey);
    transition: var(--main-trans);
}

.upp__info {
    transition: var(--main-trans);
    position: relative;
    width: 30px;
    height: 30px;
    color: var(--color-green);
    text-align: left;
}
.upp__info i{
    opacity: 0.5;
    transition: var(--main-trans);
}
.upp__info:hover {
    color: var(--color-green);
    cursor: pointer;
    transition: var(--main-trans);
}
.upp__info:hover i{
    opacity: 0.7;
    transition: var(--main-trans);
}
.upp__rating-affective .upp__info .icn-question-two {
    position: absolute;
    right: -50px;
}

.upp__rating-affective .upp__subtitle--eff {
    text-align: right;
    /*padding-right: 15px;*/
}

.upp__info--hint {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: var(--main-trans);
    background: var(--color-white);
    width: 300px;
    padding: 20px 10px 10px 10px;
    border-radius: 4px;
    border: 1px solid var(--color-green);
    top: calc( 100% + 20px );
    left: -175px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.upp__info:hover .upp__info--hint {
    opacity: 1;
    visibility: visible;
    transition: var(--main-trans);
    top: calc( 100% + 10px );
}

@media screen and (min-width: 767px) {
    .upp__info--hint {
        left: -130px;
    }
}

.icn-question-two,
.icn-info-three{
    /*position: unset;*/
    left: auto;
    transform: unset;
    font-size: 30px;
    top: -12px;
    right: -35px;
}

.icn-info-three:before {
    content: "\e9db";
}

.icn-question-two:before {
    content: "\e9da";
}

/*
capacity blocks
*/
.vacancy__module{
    margin-bottom: 20px;
    padding: 0 15px;
    display: flex;
}
.vacancy__module .personal__area--capacity{
    width: 100%;
}
.personal__area--capacity {
    position: relative;
    border: 2px solid var(--color-green);
    padding: 30px 40px 0 20px;
    border-radius: 4px;
}

.personal__area--capacity {
    margin-top: 20px;
    padding-bottom: 20px;
}
@media screen and (min-width: 767px) {
    .personal__area--capacity {
        margin-top: 0;
    }
    .personal__area--capacity + .personal__area--capacity {
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) {
    .personal__area--capacity.personal__area--capacity-height {
        height: 100%;
    }
    .vacancy__module{
        width: 50%;
        float: left;
    }
}

.personal__area--capacity-name {
    position: absolute;
    top: -10px;
    background: var(--color-white);
    padding: 0 10px;
    left: 10px;
    text-transform: uppercase;
    color: var(--color-green);
    font-weight: 700;
}

.personal__area--capacity-data {
    position: absolute;
    top: -10px;
    background: var(--color-white);
    padding: 0 10px;
    right: 10px;
    text-transform: uppercase;
    color: var(--color-green);
    font-weight: 700;
}

.personal__area--capacity-cancel,
.personal__area--capacity-edit {
    position: absolute;
    right: 25px;
    top: 35px;
}
.personal__area--capacity-cancel:before,
.personal__area--capacity-edit:before {
    position: absolute;
    font-family: "PrommuFont";
    content: '\e94b';
    font-size: 30px;
    top: -30px;
    right: -15px;
}
.personal__area--capacity-cancel:before {
    content: '\e97d';
    color: var(--color-red);
    top: -35px;
    right: -25px;
    line-height: 28px;
}

.personal__area--capacity-edit:hover {

}

.ppe__checkbox.active {
    padding: 20px 0;
}

.ppe__checkbox.active:before {
    font-family: "PrommuFont";
    content: "\e9bd";
    font-size: 20px;
    position: relative;
    top: 3px;
}

.upp__project-vacancy {
    display: block;
}

.upp__project-info .dates {
    font-size: 12px;
}

.upp__project-item {
    position: relative;
    margin-bottom: 10px;
}

.upp__project-item:last-child {
    margin-bottom: 120px;
}

.upp__project-item + .upp__project-item {
    padding-top: 10px;
    border-top: 1px solid var(--color-green);
}

.upp__project-item-responded,
.upp__project-item-messages {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 5px;
    border: 1px solid var(--color-green);
}
.upp__project-item-responded {
    right: 15px;
}

/*
try google material design
*/

#DiContent .group__info {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    background: none;
    font-weight: 600;
    padding: 1px 6px 0 6px;
    height: auto;
    color: var(--color-dark);
    cursor: default;
    position: relative;
    display: block;
}

#DiContent span.group__info {
    border-bottom: none;
}

.group {
    position: relative;
    margin-bottom: 5px;
}

.group__point {
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
}

.group__about--9 {}
.group__about--10 {}
.group__about--11 {}
.group__about--12 {}
.group__about--13 {}
.group__about--14 {}
.group__about--15 {}
.group__about--16 {}

.group__about--9:before,
.group__about--10:before,
.group__about--11:before,
.group__about--12:before,
.group__about--13:before,
.group__about--14:before,
.group__about--15:before,
.group__about--16:before {
    content: "\e994";
    font-family: "PrommuFont";
    font-size: 14px;
    position: relative;
    top: 2px;
}
.group__about--10:before {content: "\e99c";}
.group__about--11:before {content: "\e999";}
.group__about--12:before {content: "\e99a";}
.group__about--13:before {content: "\e904";}
.group__about--14:before {content: "\e997";}
.group__about--15:before {content: "\e99e";}
.group__about--16:before {content: "\e99b";}

.group__info--drop {
    position: absolute;
    border: 1px solid var(--color-grey);
    padding: 5px;
    font-weight: 600;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    transition: var(--main-trans);
    left: 0;
}
.group__info:hover .group__info--drop {
    position: absolute;
    background: white;
    z-index: 2;
    top: 0;
    opacity: 1;
    visibility: visible;
}

.group__info--view {
    font-weight: 600;
}

.group__point.p0 {
    background: var(--color-grey);
}

.group__point.p0:before {
    content: '\e9be';
    font-family: "PrommuFont";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 2px;
    top: 1px;
    font-size: 10px;
    color: var(--color-white);
}

.group__point.p1 {
    background: var(--color-green);
}

.group__point.p1:before {
    content: '\e93e';
    font-family: "PrommuFont";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 2px;
    top: 1px;
    font-size: 10px;
    color: var(--color-white);
}

.group__point.p-1 {
    background: var(--color-red);
}

.group__point.p-1:before {
    content: '-';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 3px;
    top: -14.5px;
    font-size: 30px;
    color: var(--color-white);
}

.group__wrap {
    float: right;
}

#DiContent .group__about {
    font-size: 12px;
    color: var(--color-grey);
    cursor: default;
}


.fancybox-is-open .popup__msg ul{
    text-align: initial;
}
.fancybox-is-open .popup__msg p{
    font-size: 16px;
    text-align: justify;
}
@media screen and (min-width: 768px) {
    /* custom popup */
    .fancybox-is-open .popup__msg {
        max-width: 680px;
    }
    .affective__wrap {
        display: flex;
        align-items: center;
    }
}



/*

.form__field-hint {
  width: 42px;
  min-width: 42px;
  height: 42px;
  margin: 0 6px;
}

.form__field-hint {
    width: 26px;
    min-width: 26px;
    height: 26px;
    margin: 0 6px;
    font-size: 26px;
    color: #abb820;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    line-height: 26px;
    background: #ffffff;
    opacity: .5;
    position: relative;
}

.form__field-hint:after {
    content: '\e9da';
    font-family: "PrommuFont";
}

*/

.upp__table {
    width: 100%
}

.upp__table td {
    vertical-align: top
}

.upp__table-name {
    position: relative;
    padding-bottom: 10px;
    text-align: left;
}

.upp__table-name:after {
    content: '';
    display: block;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    left: 25px;
    border-bottom: 1px dotted #343434;
    z-index: 0;
}

.upp__table-name span {
    font-size: 15px;
    padding: 0 3px 20px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
}

.upp__table-cnt {
    width: 25px;
    text-align: right;
}

.upp__table-cnt-plus, .upp__table-cnt-zero, .upp__table-cnt-minus {
    width: 22px;
    height: 22px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    color: #FFFFFF;
    border-radius: 50%;
    font-weight: bold;
    cursor: default;
}

.upp__table-cnt-plus {
    background-color: #ABB837
}

.upp__table-cnt-zero {
    background-color: #BCBCBC
}

.upp__table-cnt-minus {
    background-color: #ED2036
}


/*
*/

.self_employed-user,
.confirmed-user {
    color: var(--color-green);
}

.self_employed-user:before,
.confirmed-user:before {
    content: '\e992';
    font-family: "PrommuFont";
    font-size: 30px;
    line-height: 30px;
    color: var(--color-green);
    cursor: default;
    text-align: left;
    position: relative;
    top: 8px;
    left: -5px;
}

.self_employed-user:before {
    content: '\e967';
}

.personal__area--flex-column {
    display: flex;
    flex-direction: column;
}

.personal__area--flex-column .personal__area--capacity{
    flex: 1 0 auto;
}

.personal__area--vac {
    font-size: 13px;
}
.personal__area--vac + .personal__area--vac {
    margin-top: 5px;
    padding-top: 15px;
    border-top: 1px solid var(--color-green);
}

.personal__area--vac-name {
    font-weight: bold;
}

.personal__area--capacity-scroll {
    overflow-x: auto;
}

.personal__area .prmu-btn.prmu-btn_normal {
    margin: 0;
    width: 85%;
}

.ppp__self-employed-question .icn-question-two{
    color: var(--color-green);
    opacity: 0.5;
    transition: var(--main-trans);
}
.ppp__self-employed-question .icn-question-two:hover {
    color: var(--color-green);
    opacity: 0.7;
}

.ppp__self-employed-question {
    position: relative;
}

/* pop-up for selfemployer
*/

#self_employed_message {
    display: none;
    max-width: 280px;
}

@media screen and (min-width: 450px){
    #self_employed_message {
        max-width: 430px;
    }
}
@media screen and (min-width: 767px){
    #self_employed_message {
        max-width: 600px;
    }
    #DiContent .row.mt20>div {
        margin-top: 0;
    }
}

#self_employed_message h3 {
    font-size: 20px;
}

#self_employed_message p {
    font-size: 16px;
    text-align: justify;
}

#self_employed_message ul {
    font-size: 16px;
    text-align: left;
}

.question_popup.prmu-btn.prmu-btn_normal {
    width: 35px;
    height: 35px;
    margin: 0;
}
.fancybox-is-open .popup__msg ul{
    text-align: initial;
}
.fancybox-is-open .popup__msg p{
    font-size: 16px;
    text-align: justify;
}

.money-check-alt:before {
    font-family: "PrommuFont";
    content: "\e9d6";
    font-size: 40px;
}
.home-heart:before {
    font-family: "PrommuFont";
    content: "\e9d5";
    font-size: 40px;
}
.handshake:before {
    font-family: "PrommuFont";
    content: "\e9d4";
    font-size: 40px;
}
.envelop-open-dollar:before {
    font-family: "PrommuFont";
    content: "\e9d3";
    font-size: 40px;
}
.cut:before {
    font-family: "PrommuFont";
    content: "\e9d2";
    font-size: 40px;
}
.credit-card:before {
    font-family: "PrommuFont";
    content: "\e9d1";
    font-size: 40px;
}
.box-check:before {
    font-family: "PrommuFont";
    content: "\e9d0";
    font-size: 40px;
}
.biking:before {
    font-family: "PrommuFont";
    content: "\e9cf";
    font-size: 40px;
}

.ppp__self--inner-row {
    display: flex;
}

.ppp__self--inner-row:hover .ppp__self--img{
    color: var(--color-white);
    transition: var(--main-trans);
    cursor: default;
}

.ppp__self--img {
    flex: 1 0 55px;
    align-items: center;
    display: flex;
    color: var(--color-l2-grey);
}

@media screen and (min-width: 450px) {
    .ppp__self--img {
        flex: 1 0 70px;
    }
}

.ppp__self--txt {
    margin-bottom: 20px;
    width: 100%;
    cursor: default;
}

.ppp__self--txt-head {
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2px;
    text-align: left;
}
.ppp__self--txt-about {
    text-align: justify;
    display: block;
    border-left: 1px solid var(--color-white);
    padding-left: 20px;
}

.fancybox-close-small:after {
    /*color: var(--color-white)!important;*/
}
/* end popup
*/


/*
*   GENERAL
 */
.border__red{
    border-color: var(--color-red);
}
.block__hide.block__hide{ display: none }
.block__visible.block__visible{ display: block }
/* text */
.text__red{
    color: var(--color-red);
}
.text__justify{
    text-align: justify;
}
.text__center{
    text-align: center;
}
.text__nowrap{
    white-space: nowrap;
}
.text__underline{
    text-decoration: underline !important;
}
/*
* FORM
 */
.form__field{
    display: flex;
    margin: 0 -6px 15px;
    align-items: center;
}
.form__field-first{ padding-top: 15px }
.form__field-label{
    padding: 0 6px;
    text-align: right;
}
.form__field-content{ width: 100%; }
.form__content-indent{ margin: 0 6px; }
.form__content-pindent{ padding: 0 6px; }
.form__content-flex{
    width:100%;
    display: flex;
    align-items: flex-end;
}
.form__flex-wrap{ flex-wrap: wrap; }
.form__flex-vmiddle{ align-items: center }
.form__content-2{ width: 50%; }
.form__content-3{ width: 33.33%; }
.form__field-hint{
    width: 42px;
    min-width: 42px;
    height: 42px;
    margin: 0 6px;
}
.form__field-input{
    min-height: 42px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    outline: 0;
    font-weight: 600;
    font-family: inherit;
    font-size: 0.95em;
    transition: var(--main-trans);
    background: var(--color-white) !important;
    border-color: #bbb;
    color: #555;
}
.vacancy__module .form__field-input{
    font-size: 14px;
}
.form__textarea{
    min-height: 80px;
    max-height: 120px;
    resize: vertical;
}
.form__field-select select{ display: none }
.form__field-select:after,
.form__field-date:after{
    content: '\e984';
    font-family: "PrommuFont";
    width: 30px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 0;
    bottom: 0;
    line-height: 40px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    z-index: 1;
}
.form__field-load:before{
    content: '';
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    background: #ffffffd6 url(/theme/pic/loading1.gif) center no-repeat;
    z-index:2;
}
.form__select-list{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    color: #fff;
    background-color: rgba(52, 52, 52, 0.8);
    max-height: 270px;
    overflow: auto;
    z-index: 1000;
}
.form__select-list::-webkit-scrollbar { width: 5px; height: 5px;}
.form__select-list::-webkit-scrollbar-button {  background-color: var(--color-l2-grey); }
.form__select-list::-webkit-scrollbar-track {  background-color: #999;}
.form__select-list::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.form__select-list::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 5px;}
.form__select-list::-webkit-scrollbar-corner { background-color: #999;}
.form__select-list::-webkit-resizer { background-color: #666;}
.form__select-li{
    padding: 1px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    font-weight: normal;
    font-size: 14px;
    cursor: default;
}
.form__select-li:not([data-id='']),
.form__select-li-empty{
    padding: 5px 10px;
}
.form__select-li:hover:not([data-id='']){
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.form__select-li-active{
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}
.form__select-search{
    border: none !important;
    width: calc(100% - 12px);
    padding: 6px !important;
    background: #ffffff !important;
    color: #212121;
}
.form__select-search:focus{ outline: none }
.form__field-date{
    position: relative;
    display: block;
}
.form__field-select{
    cursor: pointer;
    padding: 0 30px 0 10px;
}
.form__select-selected{
    padding: 10px 0;
    line-height: 20px;
    display: inline-block;
}
.form__select-selected-multi{
    padding: 8px 20px 8px 5px;
    background-color: rgba(52, 52, 52, 0.6);
    color: #fff;
    border-radius: 5px;
    position: relative;
    margin: 2px 5px 2px 0;
}
.form__select-selected-multi b{
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 9px;
    right: 0px;
    text-align: center;
    cursor: pointer;
}
.form__select-selected-multi b:after{
    content: '\e97d';
    font-family: "PrommuFont";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -2px;
    font-weight: normal;
    font-size: 24px;
}
.form__field-dash{
    line-height: 42px;
    font-size: 30px;
    font-weight: bold;
    margin: 0 6px;
}
.form__field-checkbox{
    display: none !important;
}
.form__checkbox-label{
    padding: 4px 10px 4px 25px;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.form__checkbox-label:before{
    content: '\e98a';
    font-family: "PrommuFont";
    position: absolute;
    left: 0;
    top: 3px;
    color: #777777;
    font-size: 20px;
}
.form__field-checkbox:checked + label:before{
    content: '\e989';
    font-family: "PrommuFont";
}
.form__textarea-panel{
    width: 100%;
    position: relative;
}
.form__textarea-panel>div{
    box-sizing: border-box;
}
.form__field-hint:after{
    content: "\e9db";
    font-family: "PrommuFont";
}
.form__field-hint{
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin: 0 6px;
    font-size: 30px;
    color: #abb820;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    line-height: 30px;
    opacity: .5;
    position: relative;
    transition: var(--main-trans);
    z-index:1;
}
.form__field-hint:hover{
    opacity: .7;
    color: var(--color-dark);
}
.custom-calendar.ui-widget.ui-widget-content{ font-size: 14px }
.city__delete-indent{
    padding-right: 30px;
    position: relative;
}
.city__delete-btn{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -21px;
    width: 30px;
    height: 42px;
    font-size: 22px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    color: var(--color-green);
}
.city__delete-btn:before{
    content: '\e94c';
    font-family: "PrommuFont";
}
#salary_time_add-btn,
#salary_time_del-btn{
    background: var(--color-green);
    color: var(--color-dark);
    font-size: 20px;
    opacity: 1;
}
#salary_time_add-btn:after{ content: "\e93e"; }
#salary_time_del-btn:after{ content: "\e97d"; }
.form__field-disable{
    position: relative;
}
.form__field-disable:before{
    content: '';
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background: rgba(235, 235, 235, 0.7);
    z-index: 2;
    cursor: no-drop;
}
.vacancy__module .form__field-disable:before{
    background: rgba(255, 255, 255, 0.7);
}
/*
*   Errors
*/
.prmu-error-mess{
    color: var(--color-red);
    font-size: 12px;
}
.prmu-error{
    border-color: var(--color-red) !important;
}
.form__field-niceditor .prmu-error{
    border: 1px solid var(--color-red) !important;
}
/*
*		niceditor
*/
.nicEdit-button {
    background-image: url(/jslib/nicedit/nicEditorIcons.gif) !important;
}
.nicEdit-main {
    margin: 0 !important;
    padding: 10px 15px;
    width: 100% !important;
    font-size: 14px;
    height: 120px;
    overflow-y: auto !important;
    background: #ffffff;
    box-sizing: border-box;
}

.nicEdit-main:focus {
    outline: none;
}
.form__field-niceditor{ max-width: 75%; }
.form__field-niceditor .form__textarea-panel+div{
    width: initial !important;
    max-height: initial !important;
    border: 1px solid #cccccc;
}
/*
*   Calendar
*/
#location, #location-edit{
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}
.location__item{
    padding: 0 15px;
}
.location__city-name, .location__city-date{
    position: relative;
    margin-bottom: 5px;
}
#DiContent .location__city-info {
    font-size: 12px;
    color: var(--color-grey);
    cursor: default;
}
#DiContent .location__city-value {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    background: none;
    font-weight: 600;
    padding: 1px 6px 0 6px;
    height: auto;
    color: var(--color-dark);
    cursor: default;
    position: relative;
    display: block;
}
/* */
.location__calendar{
    border: 1px solid var(--color-ll-grey);
    border-radius: 4px;
    background-color: #F5F5F5;
    position: relative;
    margin-bottom: 15px;
}
.location__calendar:before {
    content: '';
    width: 100%;
    height: 36px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--color-grey);
    background: #fd9d38;
    background: -moz-linear-gradient(top, #fd9d38 0%, #ff8301 100%);
    background: -webkit-linear-gradient(top, #fd9d38 0%, #ff8301 100%);
    background: linear-gradient(to bottom, #fd9d38 0%, #ff8301 100%);
    z-index: 0;
}

.location__calendar:after {
    content: '';
    width: 100%;
    height: 27px;
    display: block;
    position: absolute;
    top: 36px;
    left: 0;
    background-color: var(--color-l2-grey);
    z-index: 0;
}
.location__calendar-table{
    width: 100%;
    position: relative;
}
/* */
.location__calendar-mleft,
.location__calendar-mright{
    position: relative;
    cursor: pointer;
    width: 14.3%;
}
.location__calendar-mleft.disable,
.location__calendar-mright.disable{
    opacity: 0;
    cursor: default;
}
.location__calendar-mleft:before,
.location__calendar-mright:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 8px;
}

.location__calendar-mleft:before {
    border-right: 10px solid white;
    left: 15px;
}

.location__calendar-mright:before {
    border-left: 10px solid white;
    right: 15px;
}

.location__calendar-mname{
    width: 71.4%;
    text-shadow: 0px -1px 0px #666666;
    text-align: center;
    font-size: 14px;
}
/* */
.location__calendar-table strong {
    color: #ABB820;
    padding-top: 10px;
    text-transform: uppercase;
    display: inline-block;
}
.location__calendar-table .location__edit-item strong{
  padding: 0;
}
.location__calendar-table thead tr:first-child {
    height: 35px;
    color: #FFFFFF;
}

.location__calendar-table thead tr:last-child {
    height: 28px;
    color: var(--color-grey);
    text-transform: uppercase;
}
.location__calendar-table th {
    text-align: center;
    position: relative;
    z-index: 1;
}
.location__calendar-table td{
    border: 1px solid transparent;
    position: relative;
}

.location__calendar-item {
    width: 34px;
    height: 34px;
    background-color: var(--color-l2-grey);
    border: 1px solid var(--color-l2-grey);
    border-radius: 3px;
    position: relative;
    opacity: .3;
    cursor: default;
}
.location__calendar-item.actual{ opacity: 1 }

.day .location__calendar-item {
    color: var(--color-grey);
    background-color: transparent;
}

.active .location__calendar-item {
    background-color: var(--color-green);
    color: #FFFFFF;
    border: none;
}

.today.day .location__calendar-item,
.today.active .location__calendar-item{
    background-color: #FF8505;
    color: #FFFFFF;
    border: none;
}

.location__calendar-item > i{
    line-height: 12px;
    font-size: 12px;
    width: 14px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.location__periods,
.location__calendar-item > b{
    height: 24px;
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 22px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.location__calendar-item > p{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    z-index: 2;
    font-size: 12px;
    text-align: right;
    line-height: 12px;
    padding: 1px 1px 0 0;
}
.location__calendar-item > p:before{
    font-family: "PrommuFont";
    content: '\e94b';
}
.location__calendar-item.edit{
    cursor: pointer;
}
.location__periods-list strong{
  color: var(--color-green);
}
.location__periods-list{
  padding-left: 15px;
  margin-bottom: 6px;
}
.location__edit-block{
    border: 1px solid var(--color-l2-grey);
    border-radius: 3px;
    position: relative;
    padding: 3px;
    margin: 2px;
}
.module_form .btn__orange{
  cursor: pointer;
  margin-right: 5px;
}
.location__event-input{
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.location__event label{
  padding: 0 5px;
}
.location__event-select{
  width:100%;
  position: relative;
}
.location__event span:not(.text__red){
  padding: 0 5px;
}
.location__event input{

}
.location__edit-data{
  color: var(--color-green);
  font-size: 16px;
  padding: 0 0 10px;
}
.location__edit-list{
  padding: 0 0 10px;
}
.location__edit-item{
  padding: 0 50px 10px 0;
  position: relative;
  line-height: 24px;
}
.location__edit-item>div:last-child{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
}
.location__edit-item:last-child{ padding: 0 50px 0 0 }
.location__event-edit,
.location__event-delete{
  margin-left: 5px;
  display: inline-block;
  cursor: pointer;
}
.location__event-edit:before{
  content: '\e94b';
  font-family: "PrommuFont";
}
.location__event-delete:before{
  content: '\e94c';
  font-family: "PrommuFont";
}
  /*
  *   Calendar hints
  */
.tooltipster-calendar .tooltipster-box{
    background: var(--color-white);
    border: 2px solid var(--color-ll-grey);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.tooltipster-calendar .tooltipster-arrow-border{
  border-top-color: var(--color-ll-grey) !important;
}
.tooltipster-calendar .tooltipster-arrow-background{
  border-top-color: var(--color-white) !important;
}
.tooltipster-calendar .tooltipster-content{
  color: var(--color-grey);
  padding: 6px 14px 0;
}
/*
*   Media
*/
@media (min-width: 768px)
{
    .location__calendar{
        padding: 0 2px 2px;
    }
    .location__calendar-item{
        width: 36px;
        height: 36px;
        margin: 1px;
    }
    .location__periods,
    .location__calendar-item > b{
        height: 26px;
        font-size: 24px;
        line-height: 24px;
    }
    #city-block{ padding-right: 15px }
}
@media (min-width: 992px)
{
    .location__calendar-item{
        width: 52px;
        height: 52px;
    }
    .location__calendar-item > i{
        line-height: 14px;
        font-size: 14px;
        width: 20px;
        padding: 3px;
    }
    .location__periods,
    .location__calendar-item > b{
        height: 37px;
        font-size: 28px;
        line-height: 28px;
    }
    .location__calendar-item > p{
      bottom: inherit;
      left: initial;
      font-size: 16px;
      line-height: 16px;
    }
    .location__edit-block{
      padding: 10px;
    }
}
@media (min-width: 1200px)
{
    .location__calendar-item{
        width: 64px;
        height: 64px;
        padding: 3px;
        margin: 2px;
    }
    .location__periods,
    .location__calendar-item > b{
        height: 44px;
        line-height: 26px;
    }
    .location__calendar-item > p{
        font-size: 18px;
        line-height: 18px;
    }
}