/*#DiContent.page-ankety{ padding: 10px 0 30px; }*/
/*
*	PROFILE
*/
#DiTop #DiContent .user-profile-page{
    width: 100%;
    max-width: 810px;
    margin: 0 auto;
    color: #343434;
    font-family: RobotoCondensedRegular, RobotoRegular, verdana, arial;
}
#DiContent .upp-img__link{
	min-height: 29px;
	display: block;
	position: relative;
	padding: 6px 0 0 33px;
	margin-bottom: 9px;
	line-height: normal;
	color: #686868;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
#DiContent .upp-img__link:active{ opacity: 0.7 }
.upp-img__link:before{
	content: '';
	width: 29px;
	height: 29px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ABB837;
	border-radius: 50%;
	color: #FFFFFF;
	text-align: center;
	line-height: 29px;
	font-size: 18px;
	background: #ABB837 url(/theme/pic/reviews-page/reviews_profile_sprite.png) 6px 30px no-repeat;
}
.upp-img__link.upp-img__plus:before{ content: '+' }
.upp-img__link.upp-img__star:before{ background-position: 7px 6px }
.upp-img__link.upp-img__circle:before{ background-position: 7px -25px }
.upp__img{
    max-width: 100%;
    margin: 0 auto 20px;
    display: block;
}
.upp__reviews-cnt{ margin-bottom: 10px }
.upp__reviews-list{ margin: 20px 0 }
.upp-list__item{
	width: 100%;
	padding: 12px;
	margin-bottom: 10px;
	background-color: #F6F6F6;
}
.upp-list__item-plus{ border: 2px solid #ABB837 }
.upp-list__item-minus{ border: 2px solid #ED2036 }
.upp-list__item-name{ margin-bottom: 10px; }
.upp-list__item-plus .upp-list__item-name,
#DiContent .upp-list__item-plus .upp-list__item-name a{ color: #ABB837 }
.upp-list__item-minus .upp-list__item-name,
#DiContent .upp-list__item-minus .upp-list__item-name a{ color: #ED2036 }
.upp__table-cnt{
	width: 30px;
	text-align: right;
}
.upp__table-cnt-plus,
.upp__table-cnt-zero,
.upp__table-cnt-minus{
	width: 22px;
	height: 22px;
	position: relative;
	display: inline-block;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	border-radius: 50%;
	font-weight: bold;
	cursor: default;	
}
.upp__table-cnt-plus{ background-color: #ABB837 }
.upp__table-cnt-zero{ background-color: #BCBCBC }
.upp__table-cnt-minus{ background-color: #ED2036 }
.upp__star-block{
	padding: 0;
	margin: 0 3px 0 10px;
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}
.upp__star-block li{
	width: 15px;
	height: 15px;
	display: inline-block;
}
.upp__star-block li:after{
	font-family: "PrommuFont";
	content: "";
	font-size: 15px;
	color: var(--color-orange);
	line-height: 15px;
}
.upp__star-block li.full:after { content: "\e94e"; }
.upp__star-block li.empty:after{ content: "\e94d"; }
.upp__star-block li.half:after { content: "\e94f"; }
#DiContent .upp__btn-rating-list{
	padding: 0;
	font-size: 16px;
	outline: none;
	background: #ABB820;
	border: none;
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 238px;
	height: initial;
	margin: 0 auto 20px;
	display: block;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	line-height: 38px;
}
#DiContent .upp__btn-rating-list:before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #FF6500;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
#DiContent .upp__btn-rating-list:hover:before{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);	
}
#DiContent .upp__btn-rating-list:hover{ color: #FFFFFF }
.upp__review{
	width: 22px;
	height: 22px;	
	display: inline-block;
	text-align: center;
	line-height: 22px;
	color: #FFFFFF;
	border-radius: 50%;
	font-size: 13px;
	font-weight: bold;
	margin: 0 3px;
	cursor: default;
}
.upp__review-green{ background-color: #ABB837 }
.upp__review-red{ background-color: #ED2036 }
#DiTop #DiContent .upp__link{ text-decoration: underline; }
.upp__table{ width: 100% }
.upp__table td{ vertical-align: top }
.upp__table-name{ 
	position: relative;
	padding-bottom: 20px;
}
.rai-table__cnt{ 
	width: 60px;
	padding: 0 5px;
}
.upp__table-name:after{
	content: '';
	display: block;
	height: 15px;
	position: absolute;
	top: 0;
	right: 0;
	left: 25px;
	border-bottom: 1px dotted #343434;
	z-index: 0;
}
.upp__table-name span{
	font-size: 15px;
	padding: 0 3px 20px;
	background-color: #FFFFFF;
	position: relative;
	z-index: 1;
}

#DiContent .user-profile-page__title,
.user-profile-page__line{ display: none; }
#DiTop #DiContent .upp__title{
	margin: 0 0 25px;
	font-size: 18px;
	font-weight: normal;
}
.upp__subtitle{ text-transform: uppercase; }
.upp__line{
	margin: 15px 0 20px;
	width: 100%;
	border-top: 1px solid #D6D6D6;
}
.upp__img-block{ 
	width: 100%; 
	margin-bottom: 20px;
}
.upp__img-block-main{
	min-width: 180px;
	max-width: 296px;
	text-align: center;
	position: relative;
	margin: 0 auto;
	border-radius: 50%;
	border: 2px solid #CBD880;
	overflow: hidden;
}
.upp__img-block-main img,
.upp__img-block-main .upp__img-block-main-link{ 
	width: 100%;
	display: block;
}
.upp__img-block-main .img-reg__pencil{ right: 15px; }
.upp__img-block-more{
    width: 33.3%;
    display: block;
    margin-top: 10px;
    overflow: hidden;
    float: left;
}
.upp__img-block-more.off{ display: none }
.upp__img-block-more a{
	width: 100%;
	padding: 0 5px;
	display: block;
}
.upp__img-block-more a:focus{ outline: none }
.upp__img-block-more img{
	width: 100%;
	height: auto;
	cursor: zoom-in;
	border-radius: 50%;
	border: 2px solid #CBD880;
}
#DiContent.page-applicant-profile-own .affective-block, 
#DiContent.page-ankety .affective-block,
#DiContent.page-applicant-profile-own.page-ankety.action-profile  .affective-block{ position: static; }
.upp__project-item{
	width: 100%;
	padding: 12px;
	margin-bottom: 10px;
	background-color: #F6F6F6;
	border: 2px solid #D6D6D6;
}
.upp__project-info img{
	width: 100%;
}
.upp__project-info{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
a.upp__project-info{ width: 65px }
.upp__project-company{
	color: #ABB837;
	margin-bottom: 5px;
	display: block;
}
#DiContent .upp__img-block-main .upp__change-logo{
	position: absolute;
	bottom: -100px;
	left: 5px;
	right: 5px;
	color: #FFFFFF;
	background-color: rgba(0,0,0, 0.7);
	font-size: 16px;
	line-height: normal;
	padding: 10px 5px 30px;
	font-family: RobotoCondensedRegular, RobotoRegular, verdana, arial;
}
#DiContent .upp__img-block-main:hover .upp__change-logo{ bottom: 0 }
#DiContent .upp__img-block-main .upp__change-logo:hover{ color: #ABB820 }
.upp__img-block-main .upp__img-block-main-link{ cursor: zoom-in; }
.upp__img-block-main .upp__img-block-main-link:focus{ outline: none }
.upp__logo-more{
	display: flex;
	justify-content: center;
	position: relative;
	flex-wrap: wrap;
}
.upp-logo-more__link{
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ffffff78;
	background: -moz-linear-gradient(top, #ffffff78 0%, #FFFFFF 100%);
	background: -webkit-linear-gradient(top, #ffffff78 0%,#FFFFFF 100%);
	background: linear-gradient(to bottom, #ffffff78 0%,#FFFFFF 100%);
	text-transform: uppercase;
	text-align: center;
	line-height: 60px;
	color: #abb820;
	cursor: pointer;
}
.upp-logo-more__link:hover{ font-weight: bold }
/*
*	EMPLOYER
*/
.ppe__module-title{ max-width: 640px }
.ppe__module{ max-width: 640px }
.ppe__module-title{
	position: relative;
	margin-bottom: 20px;
}
.ppe__module-title:before{
	content: '';
	width: 100%;
	height: 1px;
	display: block;
	position: absolute;
	top: 11px;
	left: 0;
	background: #ABB837;
	z-index: 0;
}
#DiContent .ppe__module-title h2{
	display: inline-block;
	background: #FFFFFF;
	line-height: 23px;
	font-size: 16px;
	padding-right: 7px;
	color: #ABB837;
	position: relative;
	z-index: 1;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
}
.ppe__field{
	width: 100%;
	max-width: 450px;
	height: 35px;
	border: 1px solid #EBEBEB;
	margin: 0 0 10px;
	padding: 0 15px;
	position: relative;
	display: table;
}
.ppe__field.ppe__about{
	height: initial;
	display: block;
}
.ppe__about .ppe__field-name{
	width: initial;
	display: block;
}
.ppe__about .ppe__field-val{
	width: initial;
	display: block;
	word-break: break-word;
}
.ppe__field.error{
	box-shadow: inset 0px 0px 3px red;
	border: 1px solid red;
	color: red;
}
.ppe__field-name{
	width: 3%;
	padding-right: 5px;
	display: table-cell;
	vertical-align: top;
	line-height: 33px;
	font-size: 14px;
	font-family: RobotoCondensedBold, RobotoCondensedRegular, verdana, arial;
	white-space: nowrap;
}
.ppe__field-val{
	display: table-cell;
	vertical-align: top;
	line-height: 33px;
	font-size: 14px;
	color: #343434;
	font-family: RobotoCondensedRegular, RobotoRegular, verdana, arial;
}
.ppe__checkbox{
	display: inline-block;
	padding: 0 22px 0 5px;
	margin: 10px 0;
	position: relative;
	line-height: 20px;
	font-size: 14px;
	color: #343434;
	font-family: RobotoCondensedRegular, verdana, arial;
}
.ppe__checkbox:after{
	content: '';
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid #EBEBEB;
	text-align: center;
	line-height: 18px;
	color: #343434;
}
.ppe__checkbox.active:after{ content: '\2714' }
.no-md-relat.ppe__logo{
	max-width: 500px;
	margin: 0 auto 30px;
	float: none; 
}
.ppe__content{ margin: 0 auto 60px; }
/*
*	MEDIA
*/
@media (min-width: 768px){
	#DiContent .user-profile-page__title{
		background-color: #ABB837;
		color: #FFFFFF;
		font-size: 20px;
		margin: 0;
		display: inline-block;
		padding: 5px 60px;
		text-transform: none;
		display: inline-block;
	}
	.user-profile-page__line{
		margin: 0;
		border-top: 2px solid #ABB837;
		display: block;
	}
	#DiTop #DiContent .user-profile-page{ margin: 40px auto 0 }
	.no-md-relat.ppe__logo{
		max-width: inherit;
		margin: 0;
		float: left;
	}
	.ppe__module{ padding-right: 100px }
}
/* */
.upp-logo__item-onl{
	width:80%;
	height:50px;
	position:absolute;
	left:10%;
	bottom:-24px;
	background-color:#fff;
	border-radius:50%;
	border:1px solid #abb820;
	text-align: center;
}
.upp-logo__item-onl span,
.upp-logo__item-onl span:hover{
	color:#abb820;
	font-size:12px;
	font-weight:700;
	position:relative;
	padding-right:13px;
}
.upp-logo__item-onl span:after{
	content:'';
	width:10px;
	height:10px;
	position:absolute;
	right:0;
	top:4px;
	display:block;
	border-radius:50%;
	background-color:#abb820;
}
.confirmed-user{
	max-width: 100px;
	height: 30px;
	margin: 20px auto;
	font-size: 12px;
	cursor: default;
	line-height: 30px;
	text-align: left;
	position: relative;
}
.self_employed-user:before,
.confirmed-user:before{
	content: '\e993';
	font-family: "PrommuFont";
	font-size: 30px;
	color: var(--color-green);
	height: 30px;
	cursor: default;
	text-align: left;
	position: relative;
	top: 8px;
	left: -5px;
}
#DiSiteWrapp #DiContent #MWwrapper .mw-win.dark-ver{ 
	width: 350px;
	left: -175px; 
}
#DiSiteWrapp #DiContent #MWwrapper .mw-win.dark-ver{
	background: #5aad17;
	background: -moz-linear-gradient(-45deg, #5aad17 0%, #0f4801 100%);
	background: -webkit-linear-gradient(-45deg, #5aad17 0%,#0f4801 100%);
	background: linear-gradient(135deg, #5aad17 0%,#0f4801 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aad17', endColorstr='#0f4801',GradientType=1 );
	padding: 40px;
	border: none;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	color: #FFFFFF;
	border-radius: 10px;
}
#DiSiteWrapp #DiContent #MWwrapper .header{
	border: none;
	margin: 0;
	font-size: 24px;
	font-weight: normal;
}
#DiSiteWrapp #DiContent #MWwrapper .header div{
	padding: 0 0 10px;
	position: static;
	background: transparent;
	font-size: 24px;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	font-weight: normal;
}
#DiSiteWrapp #DiContent #MWwrapper .mw-close{
	width: 29px;
	height: 29px;
	background: none;
	border-radius: 15px;
	top: 11px;
	right: 11px;
}
#DiSiteWrapp #DiContent #MWwrapper .mw-close:before{
	content: '\e97d';
	font-family: "PrommuFont";
	width: 28px;
	line-height: 28px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	color: var(--color-l2-grey);
	font-size: 18px;
	text-align: center;
	transition: background-color .25s;
	border-radius: 50%
}
#DiSiteWrapp #DiContent #MWwrapper .mw-close:hover:before{
	color: #555;
	background: #eee;
	transition: background-color .25s;
	border-radius: 50%
}
#MWwrapper form{ 
	font-size: 18px;
	text-align: center;
}
#MWwrapper form.text-left{ text-align:left }
#MWwrapper form.text-left ul{
	margin: 0;
	padding-left: 0px;
	list-style: none;
}
.upp__rating-block{ 
	position: relative;
	display: inline-block;
}
.upp__rating-block div{ display: inline-block; }
.upp__rating-block p{
	width: 140px;
	position: absolute;
	top: 30px;
	right: 25%;
	padding: 7px;
	margin: 0;
	background-color: #abb820;
	color: #ffffff;
	font-weight: normal;
	text-align: center;
	line-height: 14px;
	border: 1px solid #ffffff;
	border-radius: 5px;
	z-index: 2;
	display: none;
	font-size: 12px;
	font-family: RobotoCondensed-Regular,verdana,arial;
	text-transform: none;
	text-decoration: underline;
	cursor: pointer;
}
.upp__rating-block p:before{
	border-bottom: 10px solid #ffffff;
	top: -11px;
}
.upp__rating-block p:after{
	border-bottom: 10px solid #abb820;
	top: -10px;
}
.upp__rating-block p:before,
.upp__rating-block p:after{
	content: '';
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	right: 60px;
}

.upp__content-status-on{
	color:#ABB837;
}
.upp__content-status-off{
	color:red;
}

#DiContent.page-company-profile-own .btn-update a{
	min-width:215px;
}
.upp__project-item-messages{
	display: inline-block;
	background: #D6D6D6;
	min-width: 20px;
	text-align: center;
	float: right;
}
/*
*		21.01.18
*/
#DiContent.page-company-profile-own .prmu-btn{
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	margin: 10px 0;
	line-height: 34px;
	border-radius: 20px;
}
.page-company-profile-own .prmu-btn:after, 
.page-company-profile-own .prmu-btn:before{ border-radius: 18px; }
#DiContent.page-company-profile-own .ppe__module .prmu-btn{
	max-width: 300px;
	margin: 20px auto 0;
}
@media (min-width: 768px){
	#DiContent.page-company-profile-own .prmu-btn{ line-height: 29px; }
}
/*
*
*/
.upp-logo-main__active{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.upp-logo-main__active i{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;  
}
.upp-logo-main__active .enable{ color:#abb820 }
.upp-logo-main__active .enable i{ background: #abb820 }
.upp-logo-main__active .disable{ color:#D6D6D6 }
.upp-logo-main__active .disable i{ background: #D6D6D6 }

@media (min-width: 990px) {
	#DiContent .content-block {
		margin: 20px auto 0 auto;
		width: 80%
	}
}