/* 
*       load img
*/
.snapshot__canvas{ display: none }
.load-img__bg-veil{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .5;
    z-index: 1000000;
    cursor: pointer;
}
.load-img__form{
    display: none;
    width: 300px;
    min-height: 200px;
    position: absolute;
    top: 150px;
    left: -150px;
    margin-left: 50%;
    background: #fff;
    border: 1px solid silver;
    padding: 20px;
    z-index: 1000000;
}
.load-img__snapshot{ position: relative }
.load-img__form video{ width: 100% }
.load-img__close{
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: -15px;
    top: -15px;
    background: transparent url(/theme/pic/ico-mw.png) -48px -3px no-repeat;
    cursor: pointer;
}
#form-load-img,
.load-img__crop,
.load-img__snapshot,
.load-img__crop-img,
.load-img__err-btn,
.load-img__shot-res{ display: none }
.load-img__load{
    display: block;
    position: absolute;
    margin: -16px 0 0 -16px;
    left: 50%;
    top: 50%;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 5px;
    background: #fff;
}
.load-img__load:before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: transparent url(/theme/pic/loading1.gif) 0 0 no-repeat;
}
.load-img__mess{
    text-align: center;
    font-size: 16px;
    padding: 30px 20px;
}
.load-img__crop-img{ max-width: 100% }
.load-img__crop-cont{ 
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
}
.load-img__prev-cont{
    width: 200px;
    text-align: center;
    position: relative;
    left: -100px;
    margin-left: 50%;
}
.load-img__prev-lg,
.load-img__prev-sm{
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block; 
}
.load-img__prev-lg{
    width: 200px;
    height: 200px;
}
.load-img__prev-sm{
    width: 70px;
    height: 70px;
}
.load-img__btn-block{
    width: 100%;
    text-align: center;
}
.cropper__save,
.cropper__rotate-left,
.cropper__rotate-right{
    display: inline-block;
    vertical-align: top;
    margin: 10px 5px;
    cursor: pointer;
    border: 1px solid #212121;
    border-radius: 3px;
    width: 28px;
    height: 28px;
    position: relative;
}
.cropper__save:before,
.cropper__save:after,
.cropper__rotate-left:before,
.cropper__rotate-left:after,
.cropper__rotate-right:before,
.cropper__rotate-right:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/theme/pic/load-img-sprite.png) 0 0 no-repeat;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.cropper__save:before{ background-position: -1px -112px }
.cropper__save:after{ background-position: -1px -140px }
.cropper__rotate-left:after{ background-position: 0 -28px }
.cropper__rotate-right:before{ background-position: -1px -56px }
.cropper__rotate-right:after{ background-position: -1px -84px }
.cropper__save:after,
.cropper__rotate-left:after,
.cropper__rotate-right:after{ opacity: 0 }
.cropper__save:hover:after,
.cropper__rotate-left:hover:after,
.cropper__rotate-right:hover:after{ opacity: 1 }
.load-img__err-btn{
    display: none;
    width: 80px;
    font-weight: bold;
    font-family: RobotoCondensed-Regular;
    border: 1px solid #212121;
    border-radius: 3px;
    text-align: center;
    padding: 5px 15px;
    font-size: 12px;
    position: relative;
    left: -40px;
    margin: 20px 0 20px 50%;
    cursor: pointer;
    line-height: 16px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.load-img__err-btn:hover{
    color: #ffffff;
    background: #abb820!important;
}
.load-img__shot-btn{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    display: none;
}
.load-img__shot-btn:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/theme/pic/photo-page/photo-page-snapshot.png) 50% no-repeat;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.load-img__shot-btn:hover:before{ opacity: 0.4 }
.load-img__shot-btn:active:before{
    opacity: 1;
    background-color: #ffffff;
    background-image: none;
}
.load-img__shot-res{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.load-img__shot-res:hover + .load-img__shot-btns .load-img__shot-done,
.load-img__shot-res:hover + .load-img__shot-btns .load-img__shot-rst,
.load-img__shot-btns:hover .load-img__shot-done,
.load-img__shot-btns:hover .load-img__shot-rst{ opacity: 0.3 }
.load-img__shot-btns{
    width: 400px;
    height: 150px;
    position: absolute;
    top: 155px;
    left: 80px;
    display: none;
}
.load-img__shot-btns .load-img__shot-done:hover,
.load-img__shot-btns .load-img__shot-rst:hover{ opacity: 1 }
.load-img__shot-done,
.load-img__shot-rst{
    width: 150px;
    height: 150px;
    background: url(/theme/pic/photo-page/photo-page-snapshot-sprite.png) no-repeat;  
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    cursor: pointer;
}
.load-img__shot-done{ 
    background-position: 0 -150px;
    float: left;
}
.load-img__shot-rst{ 
    background-position: 0 0;
    float: right;
}
.load-img__shot-btn:before{ opacity: 0.4 }
.load-img__shot-btns .load-img__shot-done,
.load-img__shot-btns .load-img__shot-rst{ opacity: 0.3 }
.cropper-view-box{ border-radius: 50% }
/*
*       media
*/
@media(min-width:367px){
    .load-img__form{
        width: 320px;
        left: -160px;
    }    
}
@media(max-width:767px){
    .load-img__shot-btns{
        width: 230px;
        left: 24px;
        top: 70px;
    }
    .load-img__shot-done,
    .load-img__shot-rst{
        width: 100px;
        height: 100px;
        background-size: cover;
    }
    .load-img__shot-done{ background-position: 0 -100px }
}
@media(min-width:768px){
    .load-img__form{
        width: 600px;
        left: -300px;
    }
    .load-img__crop-cont{ 
        width: 338px;
        height: 338px;
        float: left;
    }
    .load-img__prev-cont{
        float: right;
        margin-left: 0px;
        left: 0;
    }
    .load-img__btn-block{
        width: 200px;
        display: inline-block;
        float: right;
    }
}
@media(min-width:992px){
    .load-img__form{
        width: 800px;
        left: -400px;
    }
    .load-img__crop-cont{ 
        width: 538px;
        height: 538px;
    }
    .load-img__shot-btn:before,
    .load-img__shot-btns .load-img__shot-done,
    .load-img__shot-btns .load-img__shot-rst{ opacity: 0 }
    .load-img__shot-btns{
        top: 200px;
        left: 180px;
    }
}