#DiContent .row.mt20 .submenu-block{ margin: 0 }
.personal-acc__menu{
    width: 100%;
    display: block;
    border-bottom: 1px solid #212121;
}
/*Fixed*/
.personal-acc__menu.fixed {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    border-bottom: 1px solid transparent;
    filter: drop-shadow(0 0 0.55rem #000000);
}
.personal-acc__menu.fixed .personal-acc__menu-wrap {
    display: flex;
}
#DiContent .personal-acc__menu.fixed .pa__menu-link {
    font-size: 0;
}
#DiContent .personal-acc__menu.fixed .pa__menu-link i {
    width: 30px;
    //height: 18px;
}
/*
#DiContent .personal-acc__menu.fixed .pa__menu-link i:before,
#DiContent .personal-acc__menu.fixed .pa__menu-link i:after {
    //background-size: 110%;
}

.personal-acc__menu.fixed .pa__menu-20.applicant i:before,
.personal-acc__menu.fixed .pa__menu-20.applicant i:after {
    background-position: 0 3px;
}
.personal-acc__menu.fixed .pa__menu-75.applicant i:before,
.personal-acc__menu.fixed .pa__menu-75.applicant i:after {
    background-position: 0 -47px;
}
.personal-acc__menu.fixed .pa__menu-23.applicant i:before,
.personal-acc__menu.fixed .pa__menu-23.applicant i:after {
    background-position: 0 -96px;
}
.personal-acc__menu.fixed .pa__menu-84.applicant i:before,
.personal-acc__menu.fixed .pa__menu-84.applicant i:after {
    background-position: 0 -344px;
}
.personal-acc__menu.fixed .pa__menu-84.applicant i:before,
.personal-acc__menu.fixed .pa__menu-84.applicant i:after {
    background-position: 0 -344px;
}
.personal-acc__menu.fixed .pa__menu-21.applicant i:before,
.personal-acc__menu.fixed .pa__menu-21.applicant i:after {
    background-position: 0 -146px;
}
.personal-acc__menu.fixed .pa__menu-78.applicant i:before,
.personal-acc__menu.fixed .pa__menu-78.applicant i:after {
    background-position: 0 -293px;
}
.personal-acc__menu.fixed .pa__menu-80.applicant i:before,
.personal-acc__menu.fixed .pa__menu-80.applicant i:after {
    background-position: 0 -589px;
}
.personal-acc__menu.fixed .pa__menu-83.applicant i:before,
.personal-acc__menu.fixed .pa__menu-83.applicant i:after {
    background-position: 0 -490px;
}
*/

/*End Fixed*/
#DiContent .pa__menu-link{
    display: block;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    color: #212121;
    position: relative;
    padding: 5px 3px;
    font-family: RobotoCondensed-Regular, verdana, arial;
}
#DiContent .applicant.pa__menu-link.active,
#DiContent .applicant.pa__menu-link:hover,
#DiContent .employer.pa__menu-link.active,
#DiContent .employer.pa__menu-link:hover{ color: #abb820 }
.pa__menu-link:before,
.pa__menu-link:after{
    content: '';
    height: inherit;
    margin: 0;
    position: absolute;
    top: 3px;
    bottom: 3px;
    background-color: #DEDEDE;
    border: none;
}
.pa__menu-link:before{
    right: 100%;     
    left: -1px;
}
.pa__menu-link:after{
    right: -1px;     
    left: 100%;
}
.personal-acc__menu-icon{
    position: relative;
    display: block;
    left: -17px;
}
.pa__menu-item{ 
    display: table;
    width: 100%;
}
.pa__menu-item-icon,
.pa__menu-item-text{ 
    display: table-cell;
    vertical-align: middle;
}
.pa__menu-item-icon{ width: 18px }
.pa__menu-link i{
    display: block;
    width: 15px;
    height: 12px;
    position: relative;
    text-align: center;
}
.pa__menu-link i:before,
.pa__menu-link i:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/theme/pic/private/private-menu-sprite.png) 0 0 no-repeat;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
.pa__menu-link i:before{ opacity: 1 }
.pa__menu-link i:after{ opacity: 0 }
.pa__menu-link.active i:before{ opacity: 0 }
.pa__menu-link:hover i:before{ opacity: 0 }
.pa__menu-link.active i:after{ opacity: 1 }
.pa__menu-link:hover i:after{ opacity: 1 }

.pa__menu-20.applicant i:before{ background-position: 0 0px }
.pa__menu-20.applicant i:after{ background-position: 0 -12px }
.pa__menu-75.applicant i:before{ background-position: 0 -24px }
.pa__menu-75.applicant i:after{ background-position: 0 -36px }
.pa__menu-23.applicant i:before{ background-position: 0 -48px }
.pa__menu-23.applicant i:after{ background-position: 0 -60px }
.pa__menu-78.applicant i:before{ background-position: 0 -144px }
.pa__menu-78.applicant i:after{ background-position: 0 -156px }
.pa__menu-21.applicant i:before{ background-position: 0 -72px }
.pa__menu-21.applicant i:after{ background-position: 0 -84px }
.pa__menu-22.applicant i:before{ background-position: 0 -96px }
.pa__menu-22.applicant i:after{ background-position: 0 -108px }
.pa__menu-25.applicant i:before{ background-position: 0 -120px }
.pa__menu-25.applicant i:after{ background-position: 0 -132px }
.pa__menu-80.applicant i:before{ background-position: 0 -288px }
.pa__menu-80.applicant i:after{ background-position: 0 -300px }
.pa__menu-83.applicant i:before{ background-position: 0 -240px }
.pa__menu-83.applicant i:after{ background-position: 0 -252px }
.pa__menu-82.applicant i:before{ background-position: 0 -168px }
.pa__menu-82.applicant i:after{ background-position: 0 -180px }
.pa__menu-84.applicant i:before{ background-position: 0 -168px }
.pa__menu-84.applicant i:after{ background-position: 0 -180px }

.pa__menu-15.employer i:before{ background-position: 0 0px }
.pa__menu-15.employer i:after{ background-position: 0 -12px }
.pa__menu-76.employer i:before{ background-position: 0 -24px }
.pa__menu-76.employer i:after{ background-position: 0 -36px }
.pa__menu-16.employer i:before{ background-position: 0 -264px }
.pa__menu-16.employer i:after{ background-position: 0 -276px }
.pa__menu-17.employer i:before{ background-position: 0 -168px }
.pa__menu-17.employer i:after{ background-position: 0 -180px }
.pa__menu-18.employer i:before{ background-position: 0 -312px }
.pa__menu-18.employer i:after{ background-position: 0 -324px }
.pa__menu-14.employer i:before{ background-position: 0 -192px }
.pa__menu-14.employer i:after{ background-position: 0 -204px }
.pa__menu-79.employer i:before{ background-position: 0 -144px }
.pa__menu-79.employer i:after{ background-position: 0 -156px }
.pa__menu-19.employer i:before{ background-position: 0 -120px }
.pa__menu-19.employer i:after{ background-position: 0 -132px }
.pa__menu-27.employer i:before{ background-position: 0 -240px }
.pa__menu-27.employer i:after{ background-position: 0 -252px }
.pa__menu-81.employer i:before{ background-position: 0 -288px }
.pa__menu-81.employer i:after{ background-position: 0 -300px }

/*  */
#DiContent .analytics-link{
    line-height: 27px;
    display: inline-block;
    vertical-align: bottom;
    color: #abb820;
    font-size: 16px;
    padding: 0 5px 0 35px;
    font-family: RobotoCondensedBold, RobotoCondensedRegular, verdana, arial;
    position: relative;
    display: none;
}
#DiContent .analytics-link:hover{ color: #abb820 }
#DiContent .analytics-link:before{
    content: '';
    width: 22px;
    height: 15px;
    position: absolute;
    top: 6px;
    left: 5px;
    background: url(/theme/pic/analytics/analytics-link.png) no-repeat;
}
/*
*   MEDIA
*/
@media(min-width:768px){
    .personal-acc__menu{ 
        display:table;
    }
    #DiContent .pa__menu-link{ 
        display:table-cell;
        padding: 10px 3px;
    }
    .pa__menu-link:after{
        top: 8px;
        bottom: 8px;
    }
    .pa__menu-link:before,
    .pa__menu-link:last-child:after{ display: none }

}
@media (min-width: 1200px){
    .pa__menu-item-icon{ width: 30px }
    .pa__menu-link i{ margin: 0 auto }
    .pa__menu-item-text{ text-align: left } 
}
/*
*
*/
.content-header-add{
    display: inline-block;
    position: relative;
    /*vertical-align: top;*/
    /*vertical-align: middle;*/
    vertical-align: bottom;
    height: 36px;
}
.content-header-add span{
    width: 25px;
    height: 25px;
    display: block;
    color: #ffffff;
    background: #ff921d;
    font-size: 30px;
    line-height: 23px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
}
.content-header-add ul{
    height: 0;
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #ff921d;
    z-index: 1;
    border-radius: 5px;
    border-top-left-radius: 0px;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
}
#DiContent .content-header-add a{
    display: block;
    color: #ffffff;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 16px;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
}
.content-header-add:hover ul{ height: 64px }
.content-header-add:hover span{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.content-header-add a:hover{ background: #ffbe78 }



#dropadd{
    width: 36px;
    height: 36px;
    border-radius: 16px;
    margin: 0;
    display: inline-block;
    transition: top 0.3s ease;
    -webkit-transition: top 0.3s ease;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    cursor: pointer;
    background: none;
}

/*.content-header-add #dropadd + ul a:hover {
    background: #b9c733;
}

.content-header-add #dropadd + ul {
    background: #abb820;
}*/

#dropadd:hover span.a1 {
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    background-color: rgba(216,177,0,0.3);
}

#dropadd span{
    position: absolute;
}

#dropadd .a1{
    top: 3px;
    right: 1px;
    width: 34px;
    height: 30px;
    background-color: rgba(216,177,0,0.3);
    border-radius: 17px;
}

#dropadd .a2{
    top: 9px;
    left: 9px;
    width: 18px;
    height: 18px;
    background: #ff921d;
    border-radius: 10px;
}

#dropadd .a3{
    background: #fff;
    width: 8px;
    height: 2px;
    left: 14px;
    top: 17px;
}

#dropadd .a4{
    background: #fff;
    height: 8px;
    width: 2px;
    top: 14px;
    left: 17px;
}