#DiContent .row.mt20 .submenu-block {
    margin: 0;
    overflow: hidden;
    transition: max-height .5s;
    max-height: 300px;
}

#DiContent .row.mt20 .submenu-block.toggle {
    transition: max-height .5s;
    max-height: 0;
}

.personal-acc__menu{
    width: 100%;
    display: block;
    /*border-bottom: 1px solid #212121;*/
    background: #fff;
    transition: var(--main-trans);
}

@media screen and (max-width:768px) {
    .mobile-none {
        display: none;
    }
    /*Fixed*/
    .personal-acc__menu.fixed {
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 21;
        border-bottom: 1px solid transparent;
        filter: drop-shadow(0 0 0.15rem #3e3e3e);
        transition: var(--main-trans);
    }

    .personal-acc__menu .personal-acc__menu-wrap {
        display: flex;
        max-width: 320px;
        margin: 0 auto;
        justify-content: center;
    }

    #DiContent .personal-acc__menu .pa__menu-link {
        font-size: 0;
    }

    #DiContent .personal-acc__menu .pa__menu-link i {
        width: 30px;
    }

    #DiContent .personal-acc__menu .pa__menu-item-icon {
        width: 34px;
        background: #fff;
        height: 34px;
        border-radius: 50%;
        border: 1px solid #abb820;
        transition: all .3s ease-out;
    }

    #DiContent .personal-acc__menu .pa__menu-link:before,
    #DiContent .personal-acc__menu .pa__menu-link:after {
        content: none;
    }

    .personal-acc__menu.fixed .applicant i:before,
    .personal-acc__menu.fixed .applicant i:after {
        transition: all .3s ease-out;
    }

    /*End Fixed*/
}

#DiContent .pa__menu-link{
    display: block;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    color: #212121;
    position: relative;
    padding: 5px 3px;
}
#DiContent .applicant.pa__menu-link.active,
#DiContent .applicant.pa__menu-link:hover,
#DiContent .employer.pa__menu-link.active,
#DiContent .employer.pa__menu-link:hover{ color: #abb820 }
.pa__menu-link:before,
.pa__menu-link:after{
    content: '';
    height: inherit;
    margin: 0;
    position: absolute;
    top: 3px;
    bottom: 3px;
    background-color: #DEDEDE;
    border: none;
}
.pa__menu-link:before{
    right: 100%;
    left: -1px;
}
.pa__menu-link:after{
    right: -1px;
    left: 100%;
}
.personal-acc__menu-icon{
    position: relative;
    display: block;
    left: -17px;
}
.pa__menu-item{
    display: table;
    width: 100%;
}
.pa__menu-item-icon,
.pa__menu-item-text{
    display: table-cell;
    vertical-align: middle;
}
.pa__menu-item-icon{ width: 18px }
.pa__menu-link i{
    display: block;
    position: relative;
    text-align: center;
}
.pa__menu-link i:before {
    font-family: "PrommuFont";
    content: '';
    display: block;
    font-size: 16px;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
.employer i:before,
.applicant i:before {
    font-style: normal;
    padding: 0 5px;
}

.pa__menu-20.applicant i:before{ content: '\e953'; }
.pa__menu-75.applicant i:before{ content: '\e947'; }
.pa__menu-23.applicant i:before{ content: '\e94a'; }
.pa__menu-78.applicant i:before{ content: '\e90f'; }
.pa__menu-21.applicant i:before{ content: '\e982'; }
.pa__menu-22.applicant i:before{ content: ''; }
.pa__menu-25.applicant i:before{ content: ''; }
.pa__menu-80.applicant i:before{ content: '\e950'; }
.pa__menu-83.applicant i:before{ content: '\e935'; }
.pa__menu-82.applicant i:before{ content: ''; }
.pa__menu-84.applicant i:before{ content: '\e945'; }

.pa__menu-15.employer i:before{ content: '\e953'; }
.pa__menu-76.employer i:before{ content: '\e947'; }
.pa__menu-16.employer i:before{ content: '\e94a'; }
.pa__menu-17.employer i:before{ content: '\e945'; }
.pa__menu-18.employer i:before{ content: '\e982'; }
.pa__menu-14.employer i:before{ content: ''; }
.pa__menu-79.employer i:before{ content: '\e90f'; }
.pa__menu-19.employer i:before{ content: ''; }
.pa__menu-27.employer i:before{ content: '\e935'; }
.pa__menu-81.employer i:before{ content: '\e950'; }
/*
*   MEDIA
*/
@media(min-width:768px){
    .personal-acc__menu{
        display:table;
    }
    #DiContent .pa__menu-link{
        display:table-cell;
        padding: 10px 3px;
    }
    .pa__menu-link:after{
        top: 8px;
        bottom: 8px;
    }
    .pa__menu-link:before,
    .pa__menu-link:last-child:after {
        display: none
    }

    .pa__menu-item-icon,
    .pa__menu-item-text{
        display: unset;
    }

}
@media (min-width: 992px){
    .personal-acc__menu-wrap{
        display: table;
        width: 100%;
    }
    .pa__menu-item-icon,
    .pa__menu-item-text{
        display: table-cell;
    }
}
@media (min-width: 1200px){
    .pa__menu-item-icon{ width: 30px }
    .pa__menu-link i{ margin: 0 auto }
    .pa__menu-item-text{ text-align: left }
}
/*
*
*/
.content-header-add{
    display: inline-block;
    position: relative;
    /*vertical-align: top;*/
    /*vertical-align: middle;*/
    vertical-align: bottom;
    height: 36px;
}
.content-header-add span{
    width: 25px;
    height: 25px;
    display: block;
    color: #ffffff;
    background: #ff921d;
    font-size: 30px;
    line-height: 23px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
}
.content-header-add ul{
    height: 0;
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #ff921d;
    z-index: 1;
    border-radius: 5px;
    border-top-left-radius: 0px;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
}
#DiContent .content-header-add a{
    display: block;
    color: #ffffff;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 16px;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
}
.content-header-add:hover ul{ height: 64px }
.content-header-add:hover span{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.content-header-add a:hover{ background: #ffbe78 }



#dropadd{
    width: 36px;
    height: 36px;
    border-radius: 16px;
    margin: 0;
    display: inline-block;
    transition: top 0.3s ease;
    -webkit-transition: top 0.3s ease;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    -webkit-transform: translate3d(0,0,0);
    cursor: pointer;
    background: none;
}

/*.content-header-add #dropadd + ul a:hover {
    background: #b9c733;
}

.content-header-add #dropadd + ul {
    background: #abb820;
}*/

#dropadd:hover span.a1 {
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    background-color: rgba(216,177,0,0.3);
}

#dropadd span{
    position: absolute;
}

#dropadd .a1{
    top: 3px;
    right: 1px;
    width: 34px;
    height: 30px;
    background-color: rgba(216,177,0,0.3);
    border-radius: 17px;
}

#dropadd .a2{
    top: 9px;
    left: 9px;
    width: 18px;
    height: 18px;
    background: #ff921d;
    border-radius: 10px;
}

#dropadd .a3{
    background: #fff;
    width: 8px;
    height: 2px;
    left: 14px;
    top: 17px;
}

#dropadd .a4{
    background: #fff;
    height: 8px;
    width: 2px;
    top: 14px;
    left: 17px;
}

@media(max-width:450px){
    #DiContent.page-ankety .row {
        position: relative;
        max-width: 320px;
        margin: 0 auto;
    }
}