RewriteEngine on
RewriteBase /

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# otherwise forward it to index.php
RewriteRule . index.php

RedirectMatch (/images/.*\.jpg)$ https://prommu.com$1
RedirectMatch (/images/.*\.png)$ https://prommu.com$1

RewriteCond %{REQUEST_URI} ^/rabotodatel$
RewriteRule ^.*$ http://prommu.dev/about/empl? [R=301,L]
RewriteCond %{REQUEST_URI} ^/soiskatelyam$
RewriteRule ^.*$ http://prommu.dev/about/prom? [R=301,L]