/*
* ALL TABS
*/
.responses-table{ width: 100% }
.responses-table th{ white-space: nowrap }
.responses-table th,
.responses-table td{
	text-align: center;
	vertical-align: middle;
}
.responses-table th,
.responses-table td{ padding: 5px }
.responses-table th:first-child,
.responses-table td:first-child{ padding-left: 0 }
.responses-table th:last-child,
.responses-table td:last-child{ padding-right: 0 }
.responses-table td:first-child{ width:65px }
.responses-table td:nth-child(3){ width:100px }
.responses-table td:nth-child(4){ width:30% }
.responses__logo{
	width: 60px;
	height: auto;
	border-radius: 50%;
	border: 2px solid #CBD880;
	display: block;
}
#DiContent .responses-table .responses__btn{
	display: inline-block;
	background: #abb820;
	color: #ffffff;
	text-transform: uppercase;
	padding: 5px 10px;
	font-size: 12px;
	white-space: nowrap;
	cursor: pointer;
	margin-bottom: 5px;
}
.table__row{ font-family: RobotoCondensed-Regular,verdana,arial }
.table__row:nth-child(even){ background:#f2f2f2 }
.responses-table td:last-child{
	width: 250px;
	text-align: right;
}
.status-block span{
	display: inline-block;
	cursor: pointer;
	padding: 5px;
	border: 1px solid #000000;
	border-radius: 5px;
	margin: 0 5px 5px 0;
	font-size: 12px;
}

.control-block-cont span{
	display: inline-block;
	cursor: pointer;
	padding: 5px;
	border: 1px solid #000000;
	border-radius: 5px;
	margin: 0 5px 5px 0;
	font-size: 12px;
}

.control-block-cont{
	display: inline;
}

#DiContent .responses-table .hide__button-change.hide__button-change {
	display: none;
}

.tabs-block{
	display: flex;
	text-align: center;
	margin-bottom: 20px;
	font-size: 18px;
	flex-wrap: wrap;
	justify-content: center;
}
#DiContent .tabs-block .tabs-block__link{
	min-width: 160px;
	width: 16.66%;
	color: #212121;
	margin-bottom: 10px;
}
#DiContent .tabs-block .tabs-block__link b{ font-weight:normal }
#DiContent .tabs-block .tabs-block__link.active{
	text-decoration: underline;
	color: #abb820;
}
#DiContent .tabs-block .tabs-block__link:hover{ text-decoration: underline }
.vacancy_info p{
	text-align: center;
	font-size: 18px;
	margin: 80px 0;
}
/*
*		popup
*/
#DiSiteWrapp #DiContent #MWwrapper .mw-win.dark-ver{
	top: 40%;
	width: 350px;
	left: -175px; 
}
#DiSiteWrapp #DiContent #MWwrapper .mw-win.dark-ver{
	background: #5aad17;
	background: -moz-linear-gradient(-45deg, #5aad17 0%, #0f4801 100%);
	background: -webkit-linear-gradient(-45deg, #5aad17 0%,#0f4801 100%);
	background: linear-gradient(135deg, #5aad17 0%,#0f4801 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aad17', endColorstr='#0f4801',GradientType=1 );
	padding: 40px;
	border: none;
    font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
    color: #FFFFFF;
}
#DiSiteWrapp #DiContent #MWwrapper .header{
	border: none;
	margin: 0;
	font-size: 24px;
	font-weight: normal;
}
#DiSiteWrapp #DiContent #MWwrapper .header div{
	padding: 0 0 10px;
	position: static;
	background: transparent;
	font-size: 24px;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	font-weight: normal;
}
#DiSiteWrapp #DiContent #MWwrapper .mw-close{
    width: 29px;
    height: 29px;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    top: 11px;
    right: 11px;
}
#DiSiteWrapp #DiContent #MWwrapper .mw-close:before{
    content: 'X';
    width: 28px;
    line-height: 28px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
}
#MWwrapper form{ 
	font-size: 18px;
	text-align: center;
}
.message-wrapp{
	margin-bottom: 30px;
}
.message-wrapp.empl .right{
	display: flex;
	justify-content: flex-end;
}

.message-wrapp.promo .left{
	display: flex;
	justify-content: flex-start;
}

.message-wrapp.empl .message{
	margin-left: 10%;
	background: #dce57e;
	width: 90%;
	padding: 10px;
	border-radius: 3px;
}

.message-wrapp.promo .message{
	margin-right: 10%;
	background: #F7F7F7;
	width: 90%;
	padding: 10px;
	border-radius: 3px;
}

.message-wrapp .fio{
	font-weight:bold;
	margin-right: 5px;
}
#DiContent .btn-white-green-wr button{
	background-color: #f68000!important;
	line-height: 30px;
	border: 2px solid #f68000;
	padding-left: 25px;
	padding-right: 25px;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 5px;
	top: 26px;
	border-radius: 5px;
	color: white;
	outline:none;
}

#DiContent .btn-white-green-wr button:hover{
	border: 2px solid #abb820!important;
}

.send-mess{
	outline:none;
	height: 60px;
	padding: 10px;
}
.vacancy_info__back-link{
	display: inline-block;
	margin-bottom: 25px;
	font-size: 18px;
	line-height: 30px;
}
#DiContent .vacancy_info__back-link:hover{ text-decoration: underline; }
.vacancy_info__back-link span{
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 5px;
	background-color: #abb820;
	border-radius: 15px;
	color: #ffffff;
	text-align: center;
	font-size: 28px;
	line-height: 26px;
	vertical-align: top;
}
/*
* INVITED
*/
.vacancy_info, .vacancy_info *{ font-family: RobotoCondensedRegular, Calibri, Arial, sans-serif; }
.vacancy_info h1{
	font-size: 26px;
	font-weight: normal;
	margin: 35px 0;
}
/*	*/
.vacancy-invited__list{
	max-width: 1000px;
	margin: 0 auto 30px;
}
.vacancy-invited__item{
	width: 100%;
	background: #f5f5f5;
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 10px;
}
.vacancy-invited__item>div{

}
.vacancy-invited__item-logo{
	width: 60px;
	float: left;
}
.vacancy-invited__item img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #abb820;
}
.vacancy-invited__item-title{
	font-size: 24px;
	color: #abb820;
	padding-bottom: 10px;
}
.vacancy-invited__item-link{
	text-align: right;
	padding-bottom: 10px;
}
/*
*		MEDIA
*/
@media screen and (min-width: 768px){
	.invited-list__services .prmu-btn{
		margin: 0 5px 15px;
		max-width: 200px;
	}
	.vacancy-invited__item{
		display: table;
	}
	.vacancy-invited__item img{
		width: 100px;
		height: 100px;
	}
	.vacancy-invited__item-logo{
		width: 115px;
		float: none;
	}
	.vacancy-invited__item>div{
		display: table-cell;
		vertical-align: top;
	}
	.vacancy-invited__item-right{
		width: 250px;
		padding-left: 15px;
	}
	.vacancy-invited__item-link{
		text-align: left;
		padding-bottom: 0;
	}
}
