				<tr>
					<td>
						<table background="https://prommu.com/theme/pic/letter-analitics/analitics-body-bg.png" width="600" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding:25px 50px 18px 75px">
							<tr>
								<td colspan="2">
									<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:10px">
										<span style="font-size:14px; color:#abb837">Пользователь:</span> 
										<span style="font-size:16px; color:#2d2d2d">#NAME#</span>
									</span>
									<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:10px">
										<span style="font-size:14px; color:#abb837">Email:</span> 
										<span style="font-size:16px; color:#2d2d2d">#EMAIL#</span>
									</span>
									<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:10px">
										<span style="font-size:14px; color:#abb837">Ваша активность за период:</span> 
										<b style="font-size:16px; color:#2d2d2d">#PERIOD#</b>
									</span>
								</td>
							</tr>



							<tr>
								<td  colspan="2" style="padding:10px 0 10px 5px; border-bottom:2px solid #efefef">
									<span style="font-size:16px; color:#000000; font-family:Arial,Helvetica,sans-serif">ПУБЛИКАЦИЯ ВАКАНСИЙ</span>
								</td>
							</tr>
							<tr>
								<td  colspan="2" style="padding:20px 0 20px 5px">
									<span style="font-size:14px; color:#000000; font-family:Arial,Helvetica,sans-serif">ОПУБЛИКОВАННЫХ ВАКАНСИЙ: <spa style="color:#abb837; font-size:18px; text-decoration:underline">#VACCNT#</spa></span>
								</td>
							</tr>
							<tr>
								<td style="padding:0 0 20px 10px; font-family:Arial,Helvetica,sans-serif; white-space:nowrap; max-width: 175px" valign="top">
									<span style="display:block; font-size:80px; text-align:center; color:#ff6500; width:108px; padding:8px 0; margin-bottom:22px; border:1px solid #c9c9c9;">#VACCNT#</span>
									<span style="display:block; font-size:14px; color:#000000; padding-bottom:10px">ВСЕГО ПРОСМОТРОВ: <span style="color:#ff6500">#VACVIEW#</span></span>
									<span style="display:block; font-size:14px; color:#000000; padding-bottom:10px">ВСЕГО ОТКЛИКОВ: <span style="color:#ff6500">#VACRESP#</span></span>
									<span style="display:block; font-size:14px; color:#000000; padding-bottom:10px">ПРИГЛАШЕНИЙ: <span style="color:#ff6500">#VACINV#</span></span>
								</td>
								<td style="padding:0 5px 0 25px; font-family:Arial,Helvetica,sans-serif; color:#000000; font-size:18px; line-height: 18px" valign="top">#VACLIST#</td>
								
							</tr>



							<tr>
								<td colspan="2" style="padding:13px 0 13px 5px; border-bottom:2px solid #efefef">
									<span style="font-size:16px; color:#000000; font-family:Arial,Helvetica,sans-serif">ИСПОЛЬЗОВАНИЕ УСЛУГ</span>
								</td>
							</tr>
							<tr>
								<td  colspan="2" style="padding:20px 0 20px 5px">
									<span style="font-size:14px; color:#000000; font-family:Arial,Helvetica,sans-serif">ВСЕГО УСЛУГ ИСПОЛЬЗОВАНО: <spa style="color:#abb837; font-size:18px; text-decoration:underline">#SERVCNT#</spa></span>
								</td>
							</tr>
							<tr>
								<td style="padding:0 0 20px 10px; font-family:Arial,Helvetica,sans-serif; white-space:nowrap" valign="top">
									<span style="display:block; font-size:80px; text-align:center; color:#ff6500; width:108px; padding:8px 0; border:1px solid #c9c9c9;">#SERVCNT#</span>
								</td>
								<td style="padding:0 5px 0 25px; font-family:Arial,Helvetica,sans-serif; color:#000000; font-size:18px; line-height: 18px" valign="top">#SERVLIST#</td>
							</tr>



							<tr>
								<td colspan="2" style="padding:13px 0 13px 5px; border-bottom:2px solid #efefef">
									<span style="font-size:16px; color:#000000; font-family:Arial,Helvetica,sans-serif">ПРОСМОТРЫ АККАУНТА</span>
								</td>
							</tr>
							<tr>
								<td style="padding:20px 0 20px 5px">
									<span style="font-size:14px; color:#000000; font-family:Arial,Helvetica,sans-serif">ВСЕГО ПРОСМОТРОВ</span>
								</td>
								<!-- <td style="padding:20px 0">
									<span style="font-size:14px; color:#000000; font-family:Arial,Helvetica,sans-serif">Статистика просмотров</span>
								</td> -->
							</tr>
							<tr>
								<td style="padding:0 0 20px 10px; font-family:Arial,Helvetica,sans-serif; white-space:nowrap" valign="top">
									<span style="display:block; font-size:80px; text-align:center; color:#ff6500; width:108px; padding:8px 0; border:1px solid #c9c9c9;">#VIEWCNT#</span>
								</td>
								<!-- <td style="padding:0 5px 20px 7px; font-family:Arial,Helvetica,sans-serif;" valign="top">
									<span style="border:1px solid #c9c9c9; display:block; height:110px">
										<img src="#VIEWIMG#" alt="Prommu.com" width="305" height="92" border="0" style="display:block; padding:10px; max-width:255px;">
									</span>
								</td> -->
							</tr>
						</table>
					</td>
				</tr>