<tr>
	<td>
		<table background="https://prommu.com/theme/pic/letter-analitics/analitics-body-bg.png" width="600" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding:25px 50px 18px 75px">
			<tr>
				<td colspan="2">
					<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:10px">
						<span style="font-size:14px; color:#abb837">Пользователь:</span> 
						<span style="font-size:16px; color:#2d2d2d">#NAME_USER#</span>
					</span>
					<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:10px">
						<span style="font-size:14px; color:#abb837">Email:</span> 
						<span style="font-size:16px; color:#2d2d2d">#EMAIL_USER#</span>
					</span>
					<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:10px">
						<span style="font-size:14px; color:#abb837">Ваша активность за период:</span> 
						<b style="font-size:16px; color:#2d2d2d">#ANALYTIC_PERIOD#</b>
					</span>
				</td>
			</tr>
			<tr>
				<td  colspan="2" style="padding:10px 0 10px 5px; border-bottom:2px solid #efefef"></td>
			</tr>
			<tr>
				<td style="padding:20px 0 20px 5px">
					<span style="font-size:14px;color:#000000;font-family:Arial,Helvetica,sans-serif">Просмотренных вакансий:</span>
				</td>
				<td style="text-align:right"><spa style="color:#abb837;font-size:18px;font-family:Arial,Helvetica,sans-serif">#ANALYTIC_VACCNT#</spa></td>
			</tr>
			<tr>
				<td style="padding:20px 0 20px 5px">
					<span style="font-size:14px;color:#000000;font-family:Arial,Helvetica,sans-serif">Приглашения на вакансию от работодателя:</span>
				</td>
				<td style="text-align:right"><spa style="color:#abb837;font-size:18px;font-family:Arial,Helvetica,sans-serif">#ANALYTIC_INVIT#</spa></td>
			</tr>
			<tr>
				<td style="padding:20px 0 20px 5px">
					<span style="font-size:14px;color:#000000;font-family:Arial,Helvetica,sans-serif">Самостоятельных кликов на размещенные вакансии:</span>
				</td>
				<td style="text-align:right"><spa style="color:#abb837;font-size:18px;font-family:Arial,Helvetica,sans-serif">#ANALYTIC_CLICKS#</spa></td>
			</tr>
			<tr>
				<td style="padding:20px 0 20px 5px">
					<span style="font-size:14px;color:#000000;font-family:Arial,Helvetica,sans-serif">Отработанных (утвержденных) вакансий:</span>
				</td>
				<td style="text-align:right"><spa style="color:#abb837;font-size:18px;font-family:Arial,Helvetica,sans-serif">#ANALYTIC_VACSPENT#</spa></td>
			</tr>
		</table>
	</td>
</tr>