<table background="https://prommu.com/theme/pic/letter-analitics/analitics-body-bg.png" width="600" border="0" cellpadding="0" cellspacing="0" style="margin: -15px; padding:25px 50px 18px 75px">
	<tr>
		<td colspan="2">
			<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:10px">
				<span style="font-size:14px; color:#abb837">Пользователь:</span> 
				<span style="font-size:16px; color:#2d2d2d">#NAME_USER#</span>
			</span>
			<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:10px">
				<span style="font-size:14px; color:#abb837">Email:</span> 
				<span style="font-size:16px; color:#2d2d2d">#EMAIL_USER#</span>
			</span>
			<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:10px">
				<span style="font-size:14px; color:#abb837">Ваша активность за период:</span> 
				<b style="font-size:16px; color:#2d2d2d">#ANALYTIC_PERIOD#</b>
			</span>
		</td>
	</tr>
	<tr>
		<td  colspan="2" style="padding:10px 0 10px 5px; border-bottom:2px solid #efefef">
			<span style="font-size:16px; color:#000000; font-family:Arial,Helvetica,sans-serif">ПУБЛИКАЦИЯ ВАКАНСИЙ</span>
		</td>
	</tr>
	<tr>
		<td  colspan="2" style="padding:20px 0 20px 5px">
			<span style="font-size:14px; color:#000000; font-family:Arial,Helvetica,sans-serif">ОПУБЛИКОВАННЫХ ВАКАНСИЙ: <span style="color:#abb837; font-size:18px; text-decoration:underline">#ANALYTIC_VAC_PUBLIC#</span></span>
		</td>
	</tr>
	<tr>
		<td style="padding:0 0 20px 10px; font-family:Arial,Helvetica,sans-serif; white-space:nowrap; max-width: 175px" valign="top">
			<span style="display:block; font-size:80px; text-align:center; color:#ff6500; width:108px; padding:8px 0; margin-bottom:22px; border:1px solid #c9c9c9;">#ANALYTIC_VAC_PUBLIC#</span>
			<span style="display:block; font-size:14px; color:#000000; padding-bottom:10px">ВСЕГО ПРОСМОТРОВ: <span style="color:#ff6500">#ANALYTIC_VAC_VIEWS#</span></span>
			<span style="display:block; font-size:14px; color:#000000; padding-bottom:10px">ВСЕГО ОТКЛИКОВ: <span style="color:#ff6500">#ANALYTIC_VAC_RESPONCE#</span></span>
			<span style="display:block; font-size:14px; color:#000000; padding-bottom:10px">ПРИГЛАШЕНИЙ: <span style="color:#ff6500">#ANALYTIC_VAC_INVIT#</span></span>
		</td>
		<td style="padding:0 5px 0 25px; font-family:Arial,Helvetica,sans-serif; color:#000000; font-size:18px; line-height: 18px" valign="top">#VACANCY_LIST#</td>
		
	</tr>



	<tr>
		<td colspan="2" style="padding:13px 0 13px 5px; border-bottom:2px solid #efefef">
			<span style="font-size:16px; color:#000000; font-family:Arial,Helvetica,sans-serif">ИСПОЛЬЗОВАНИЕ УСЛУГ</span>
		</td>
	</tr>
	<tr>
		<td  colspan="2" style="padding:20px 0 20px 5px">
			<span style="font-size:14px; color:#000000; font-family:Arial,Helvetica,sans-serif">ВСЕГО УСЛУГ ИСПОЛЬЗОВАНО: <span style="color:#abb837; font-size:18px; text-decoration:underline">#ANALYTIC_SERVICE_CNT#</span></span>
		</td>
	</tr>
	<tr>
		<td style="padding:0 0 20px 10px; font-family:Arial,Helvetica,sans-serif; white-space:nowrap" valign="top">
			<span style="display:block; font-size:80px; text-align:center; color:#ff6500; width:108px; padding:8px 0; border:1px solid #c9c9c9;">#ANALYTIC_SERVICE_CNT#</span>
		</td>
		<td style="padding:0 5px 0 25px; font-family:Arial,Helvetica,sans-serif; color:#000000; font-size:18px; line-height: 18px" valign="top">#SERVICE_LIST#</td>
	</tr>



	<tr>
		<td colspan="2" style="padding:13px 0 13px 5px; border-bottom:2px solid #efefef">
			<span style="font-size:16px; color:#000000; font-family:Arial,Helvetica,sans-serif">ПРОСМОТРЫ АККАУНТА</span>
		</td>
	</tr>
	<tr>
		<td style="padding:20px 0 20px 5px">
			<span style="font-size:14px; color:#000000; font-family:Arial,Helvetica,sans-serif">ВСЕГО ПРОСМОТРОВ</span>
		</td>
		<td style="padding:20px 0">
			<span style="font-size:14px; color:#000000; font-family:Arial,Helvetica,sans-serif">Статистика просмотров</span>
		</td>
	</tr>
	<tr>
		<td style="padding:0 0 20px 10px; font-family:Arial,Helvetica,sans-serif; white-space:nowrap" valign="top">
			<span style="display:block; font-size:80px; text-align:center; color:#ff6500; width:108px; padding:8px 0; border:1px solid #c9c9c9;">#ANALYTIC_CNT_VIEWS#</span>
		</td>
		<td style="padding:0 5px 20px 7px; font-family:Arial,Helvetica,sans-serif;" valign="top">
			<span style="border:1px solid #c9c9c9; display:block; height:110px">
				<img src="#SCHEDULE_SRC#" alt="Prommu.com" width="305" height="92" border="0" style="display:block; padding:10px; max-width:255px;">
			</span>
		</td>
	</tr>
</table>