<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%">
  		<tr><td height="100%">
			<table width="600" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; padding: 0">
				<tr>
					<td>
						<table background="https://prommu.com/theme/pic/letter-analitics/analitics-header-bg.png" width="600" height="84" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding: 0"><tr><td>
								<a href="https://prommu.com" target="_blank" title="Prommu.com" style="width:104px; display:block; margin:18px auto 7px;">
									<img src="https://prommu.com/theme/pic/letter-analitics/analitics-header.jpg" alt="Prommu.com" width="104" height="30" border="0" style="display:block">
								</a>
								<span style="display:block; text-align:center; color:#565656; font-size:14px; line-height:normal; font-family:Arial,Helvetica,sans-serif">Сервис №1 в поиске временной работы и персонала для BTL и Event-мероприятий</span>
							</td></tr>
						</table>
					</td>
				</tr>
				<tr><td><span style="display:block; text-align:center; color:#7f7f7f; font-size:14px; line-height:normal; padding:14px 5px; border-top:1px solid #abb837; border-bottom:1px solid #abb837; font-family:Arial,Helvetica,sans-serif">PROMMU - это всегда актуальная и качественная база вакансий и современные сервисы для поиска работы и персонала</span></td></tr>
				<tr>
					<td>
						<table background="https://prommu.com/theme/pic/letter-analitics/analitics-body-bg.png" width="600" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding:25px 50px 18px 75px">
							<tr>
								<td style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#212121">
									<b style="font-size:16px;color:#abb837;display:block;padding-bottom:10px;font-weight:bold">Добрый день, ув. #EMPLOYER#</b>
									<span style="font-size:16px;color:#abb837;display:block;padding-bottom:10px">Поздравляем Вашу компанию "#COMPANY#" с успешной регистрацией на портале Prommu.com!</span>
									<span style="text-align:justify;display:block;padding-bottom:10px">Меня зовут #MANAGER#, я являюсь Вашим личным менеджером на сайте: <a href="https://prommu.com" style="color:#abb837">Prommu.com</a><br/><br/>В качестве рекомендаций прикрепляю во вложении пример наиболее подходящего оформления вакансии для поиска временного персонала.<br/><br/>Также хочу Вам порекомендовать варианты эффективной работы с сервисом и легким подбором персонала.<br/><br/><b style="font-weight:bold">После размещения вакансии на подбор нужного Вам персонала можно будет воспользоваться бесплатными услугами:</b><br/></span>
									<span style="display:block;padding-bottom:5px"><b>1.</b> Разместите Вашу вакансию в группах социальных сетей Вконтакте, Facebook, а также на канале в мессенджере Telegram</span>
									<span style="display:block;padding-bottom:5px"><b>2.</b> Воспользоваться рассылкой на электронную почту выбранному персоналу</span>
									<span style="display:block;padding-bottom:5px"><b>3.</b> Воспользоваться услугой единоразового Push уведомления выбранному персоналу</span>
									<span style="display:block;padding-bottom:5px"><b>4.</b> Желаете показывать персонал с сервиса Промму у себя на сайте - выберите услугу "Получение API ключа" - и при помощи своего программиста вставьте полученный ключ на своем сайте.</span>
									<br/>
									<b style="text-align:justify;display:block;padding-bottom:10px;font-weight:bold">А также можно воспользоваться платными услугами:</b>
									<span style="display:block;padding-bottom:5px"><b>1.</b> Сделайте свою вакансию "Премиум" - она будет всегда на главной странице и вверху всех размещенных "обычных" вакансий. Такая услуга будет стоить всего 350 рублей в день.</span>
									<span style="display:block;padding-bottom:5px"><b>2.</b> Сделайте СМС рассылку персоналу, который по заданным параметрам подходит для Вашей вакансии. СМС можете набрать прямо в личном кабинете и оттуда же все отправить. Стоимость одного СМС 3 рубля.</span>
									<span style="display:block;padding-bottom:5px"><b>3.</b> Нужна помощь в организации самого мероприятия, не знаете как правильно набрать и проконтролировать набранный персонал - выберите услугу "Личный менеджер" - оплата за данную услугу рассчитывается индивидуально</span>
									<span style="display:block;padding-bottom:5px"><b>4.</b> Не хотите оформлять временный персонал в штат компании, нужна юридическая помощь по проведению различных BTL акций или Event мероприятий - воспользуйтесь услугой "Аутстаффинг персонала" - оплата за данную услугу рассчитывается индивидуально</span>
									<span style="display:block;padding-bottom:5px"><b>5.</b> Желаете легко и быстро выплачивать заработную плату персоналу - поставьте обязательным условием персоналу - наличие корпоративной Банковской карты Промму</span>
									<span style="display:block;padding-bottom:5px"><b>6.</b> Не знаете где взять медицинские книги своему персоналу - воспользуйтесь услугой "Получение медицинской книги" - стоимость ее зависит от количества заказываемых книг.</span>
									<br/>
									<span style="text-align:justify;display:block;padding-bottom:15px">
									Также хочу подчеркнуть, о том что зарегистрировавшись на нашем портале Вы получаете возможность быстрого набора временного персонала. Количество которого постоянно увеличивается. Персонал легко искать через фильтры. Используйте сервис не только на стационарном компьтере, но и через мобильные версии, а также через Мобильные приложения Android и IOS.</span>
									<span style="text-align:justify;display:block;padding-bottom:10px">В планах сервиса значительно расширить возможность его пользования. В скором будущем доступны будут следующие возможности</span>
									<span style="display:block;padding-bottom:5px"><b>•</b> Геолокация персонала - отслеживать его работу и перемещение</span>
									<span style="display:block;padding-bottom:5px"><b>•</b> Управление проектом (сможете не только набирать нужный персонал через сервис - но и координировать его и ставить задачи, а также следить за их выполнением)</span>
									<span style="display:block;padding-bottom:15px"><b>•</b> И многое многое другое</span>
									<span style="text-align:justify;display:block;padding-bottom:15px">Если у Вас есть вопросы или нужна консультация, пишите или звоните по указанным телефонам, буду рад Вам помочь!</span>
									<br/>
								</td>
							</tr>
							<tr>
								<td style="padding:10px 0 10px 5px; border-top:2px solid #efefef;font-family:Arial,Helvetica,sans-serif;font-size:14px;text-align:justify;color:#212121">
									С Уважением,<br/>
									#MANAGER_FIO#<br/>
									аккаунт менеджер по корпоративным клиентам<br/>
									<span style="display:inline-block">Сервис</span>
									<a href="https://prommu.com" target="_blank" title="Prommu.com" style="display:inline-block;vertical-align:middle">
										<img src="https://prommu.com/theme/pic/letter-analitics/analitics-footer.png" alt="Prommu.com" width="78" height="22" border="0" style="display:block;vertical-align:middle">
									</a>
									<br/>
									<br/>
									Prommu.com<br/>
									109377, РФ, г.Москва, пр-т Рязанский, д.46, кор.3, оф. 102, 1этаж<br/>
									тлф.: #PHONE#<br/>
									тлф. моб.: #PHONE_MOB#<br/>
									#EMAIL#<br/>
									<br/>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
  		</td></tr>
	</table>
</body>
</html>