<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%">
  		<tr><td height="100%">
			<table width="600" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; padding: 0">
				<!-- <tr>
					<td>
						<table background="https://prommu.com/theme/pic/letter-analitics/analitics-header-bg.png" width="600" height="84" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding: 0"><tr><td>
								<a href="https://prommu.com" target="_blank" title="Prommu.com" style="width:104px; display:block; margin:18px auto 7px;">
									<img src="https://prommu.com/theme/pic/letter-analitics/analitics-header.jpg" alt="Prommu.com" width="104" height="30" border="0" style="display:block">
								</a>
								<span style="display:block; text-align:center; color:#565656; font-size:14px; line-height:normal; font-family:Arial,Helvetica,sans-serif">Сервис №1 в поиске временной работы и персонала для BTL и Event-мероприятий</span>
							</td></tr>
						</table>
					</td>
				</tr>
				<tr><td><span style="display:block; text-align:center; color:#7f7f7f; font-size:14px; line-height:normal; padding:14px 5px; border-top:1px solid #abb837; border-bottom:1px solid #abb837; font-family:Arial,Helvetica,sans-serif">PROMMU - это всегда актуальная и качественная база вакансий и современные сервисы для поиска работы и персонала</span></td></tr>
				<tr> -->
					<td>
						<table background="https://prommu.com/theme/pic/letter-analitics/analitics-body-bg.png" width="600" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding:0px 50px 18px 75px;background-size:cover;">
							<tr>
								<td style="padding:25px 0 30px;border-bottom:2px solid #efefef">
									<a href="https://prommu.com/about/news/otzivi-o-sotrudnichestve"><img src="https://prommu.com/images/news/20170720202344846.jpg" width="200" height="auto" alt="Отзывы о сотрудничестве" border="0" style="display:block"></a>
								</td>
								<td style="padding:25px 0 30px 30px;border-bottom:2px solid #efefef">
									<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:10px; font-size:24px; color:#abb837;font-weight:bold">Отзывы о сотрудничестве</span>
									<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:10px; font-size:14px; color:#565656">Предварительное описание к новости. Если этот вариант подходит - нужно будет дописывать к новости краткое описание(1 предложение)</span>
									<a href="https://prommu.com/about/news/otzivi-o-sotrudnichestve" style="display:block;font-family:Arial,Helvetica,sans-serif;font-size:16px;width:120px;line-height:30px;text-align:center;background:#FF8300;color:#FFF;text-decoration:none;">Подробнее</a>
								</td>
							</tr>
							<tr>
								<td style="padding:25px 0 30px;border-bottom:2px solid #efefef">
									<a href="https://prommu.com/about/news/effektivnostj-zapolneniya-anket"><img src="https://prommu.com/images/news/20170724111522214.jpg" width="200" height="auto" alt="Эффективность заполнения анкет" border="0" style="display:block"></a>
								</td>
								<td style="padding:25px 0 30px 30px;padding-bottom:30px;border-bottom:2px solid #efefef">
									<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:10px; font-size:24px; color:#abb837;font-weight:bold">Эффективность заполнения анкет</span>
									<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:10px; font-size:14px; color:#565656">Предварительное описание к новости. Если этот вариант подходит - нужно будет дописывать к новости краткое описание(1 предложение)</span>
									<a href="https://prommu.com/about/news/effektivnostj-zapolneniya-anket" style="display:block;font-family:Arial,Helvetica,sans-serif;font-size:16px;width:120px;line-height:30px;text-align:center;background:#FF8300;color:#FFF;text-decoration:none;">Подробнее</a>
								</td>
							</tr>
							<tr>
								<td style="padding:25px 0 30px;border-bottom:2px solid #efefef">
									<a href="https://prommu.com/about/news/sistema-reytingov-dlya-soiskateley-i-rabotodateley"><img src="https://prommu.com/images/news/20170720202819672.jpg" width="200" height="auto" alt="Система рейтингов для соискателей и работодателей" border="0" style="display:block"></a>
								</td>
								<td style="padding:25px 0 30px 30px;padding-bottom:30px;border-bottom:2px solid #efefef">
									<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:10px; font-size:24px; color:#abb837;font-weight:bold">Система рейтингов для соискателей и работодателей</span>
									<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:10px; font-size:14px; color:#565656">Предварительное описание к новости. Если этот вариант подходит - нужно будет дописывать к новости краткое описание(1 предложение)</span>
									<a href="https://prommu.com/about/news/sistema-reytingov-dlya-soiskateley-i-rabotodateley" style="display:block;font-family:Arial,Helvetica,sans-serif;font-size:16px;width:120px;line-height:30px;text-align:center;background:#FF8300;color:#FFF;text-decoration:none;">Подробнее</a>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<a href="https://prommu.com/about/news" style="display:block;font-family:Arial,Helvetica,sans-serif;font-size:16px;text-decoration:none;width:300px;margin:20px auto;text-align:center;line-height:30px;color:#ffffff;background: #abb837;">ПРОСМОТРЕТЬ ЕЩЕ НОВОСТИ</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- <tr>
					<td style="padding: 19px 0 5px 80px;border-top: 1px solid #e5e5e5">
						<a href="https://prommu.com" target="_blank" title="Prommu.com">
							<img src="https://prommu.com/theme/pic/letter-analitics/analitics-footer.png" alt="Prommu.com" width="78" height="22" border="0" style="display:block">
						</a>
					</td>
				</tr> -->
				<!-- <tr>
					<td style="padding: 0 0 0 80px"><span style="color:#636363;font-size:14px;line-height: normal;font-family: Arial,Helvetica,sans-serif;">С наилучшими пожеланиями, команда Промму</span></td>
				</tr> -->
			</table>
  		</td></tr>
	</table>
</body>
</html>