#DiContent .content-block{ margin: 30px 0 50px }
/*
*		NEW IDEA
*/
#new-idea .new-idea__title{
	font-size: 26px;
	text-align: center;
	margin: 0 0 30px; 
}
#new-idea label{
	font-size: 18px;
	margin: 5px 0;
	display: inline-block;
}
#DiContent #new-idea .new-idea__input{
	height: 43px;
	padding: 0 30px;
}
#DiContent #new-idea .new-idea__input.error{ border: 1px solid red }
#new-idea .new-idea__text{
	min-height: 140px;
	padding: 15px 30px;
	    resize: none;
}
#DiContent #new-idea .new-idea__input,
#new-idea .new-idea__text{
	width: 100%;
	background: #fafafa;
	border-radius: 5px;
	box-shadow: inset 0px 5px 22px -10px;
	outline: none;
	font-size: 18px;
	font-family: RobotoCondensed-Regular,verdana,arial;
}
#new-idea .new-idea__text.error{ border: 1px solid red }
#new-idea input::-webkit-input-placeholder{color:#b5b5b5}
#new-idea input::-moz-placeholder{color:#b5b5b5}
#new-idea input:-moz-placeholder{color:#b5b5b5}
#new-idea input:-ms-input-placeholder{color:#b5b5b5}
#new-idea textarea::-webkit-input-placeholder{color:#b5b5b5}
#new-idea textarea::-moz-placeholder{color:#b5b5b5}
#new-idea textarea:-moz-placeholder{color:#b5b5b5}
#new-idea textarea:-ms-input-placeholder{color:#b5b5b5}
#new-idea .new-idea__btn,
#comment-form .new-idea__btn{
    width: 190px;
    margin-left: 5px;
    background: #ff8300;
    color: #ffffff;
    text-align: center;
    height: 43px;
    font-size: 22px;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    font-family: RobotoCondensed-Regular,verdana,arial;
	outline: none;
	border: none;
}
.new-idea__btn:before{
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ABB837;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.new-idea__btn:hover:before{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.new-idea__bottom{
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}
.ideas__select{
	min-width: 165px;
	position: relative;
	background: #abb92a;
	border-radius: 5px;
	font-family: RobotoCondensed-Regular,verdana,arial;
}
.ideas__select.error{ border: 1px solid red }
.ideas__select span{
	display: block;
	padding: 0 35px 0 25px;
	color: #ffffff;
	line-height: 43px;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}
.ideas__select b{
	position: absolute;
	top: 17px;
	right: 10px;
	font-size: 12px;
	color: #ffffff;
	z-index: 0;
}
.ideas__select ul{
	position: absolute;
	background: #ffffff;
	top: 43px;
	left: 0;
	right: 0;
	list-style: none;
	padding: 0;
	display: none;
	z-index: 1;
	border: 1px solid #cecece;
	border-radius: 5px;
}
.ideas__select li{
	padding: 0 10px;
	line-height: 28px;
	cursor: pointer;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	white-space: nowrap;
	border-radius: 0px;
	position: relative;
	font-size: 16px;
}
.ideas__select li:hover{
	background: #f5f5f5;
}
.ideas__select li.active{ background:#d2d2d2 }
/*
*		OLD IDEA
*/
.idea__module{
	background: #f5f5f5;
	padding: 15px;
}
.idea__item{
	min-height: 155px;
	margin-bottom: 5px;
	background-color: #ffffff;
	padding: 7px 30px 7px 18px;
	position: relative;
	display: flex;
}
.idea__item:after{
	content: '';
	width: 12px;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #ff8300;
}
.idea__item:nth-child(even):after{ background-color: #d7d7d7 }
.idea__item-logo{
	padding-right: 15px;
	position: relative;
}
.idea__item-logo b{
	display: block;
	position: absolute;
	top: 0px;
	left: 56px;
	width: 8px;
	height: 8px;
	background: #abb820;
	border-radius: 50%;
}
.idea__item-logo img{
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
.idea__item-info{ width: 90% }
.idea__item-rpos,
.idea__item-rneg{
	min-width: 65px;
	text-align: center;
	line-height: 26px;
	color: #ffffff;
	font-size: 16px;
	padding: 0 5px 0 30px;
	border-radius: 5px;
	background: #abb92a url(/theme/pic/ideas/ideas-list-sprite.png) 7px -104px no-repeat;
}
.idea__item-rneg{
	margin-top: 9px;
	background: #dc1e1e url(/theme/pic/ideas/ideas-list-sprite.png) 7px -130px no-repeat;
}
.idea__item-rating.active *{ cursor:pointer }
#ideas-content .idea__item-name{
	color: #212121;
	font-size: 18px;
	line-height: 20px;
	padding: 10px 0;
	display: inline-block;
}
.idea__item-bottom,
#ideas-content .idea__item-author{ color: #b5b5b5 }
.idea__item-bottom a,
.idea__item-bottom span{ display:block }
.idea__item-bottom b{ display: none }
.idea__item-comments{
	padding-left: 15px;
	background: url(/theme/pic/ideas/ideas-list-sprite.png) 0 -155px no-repeat;
}
.idea__item-type{
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: top;
	margin: 6px 0px;
	background: url(/theme/pic/ideas/ideas-list-sprite.png) no-repeat;
	cursor: pointer;
}
.idea__item-type.idea{ background-position: 0 0 }
.idea__item-type.error{ background-position: 0 -26px }
.idea__item-type.question{ background-position: 0 -52px }
.idea__item-type.thanks{ background-position: 0 -78px }
#ideas-veil{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	background-color: rgba(255,255,255,.7);
	display: none;
}
#ideas-veil:before{
	content: '';
	width: 130px;
	height: 130px;
	position: absolute;
	top: 150px;
	left: -65px;
	background: url(/theme/pic/vacancy/loading.gif) no-repeat;
	margin-left: 50%;
}
.idea__module{
	font-family: RobotoCondensed-Regular,verdana,arial;
}
.idea__description{
	background: #ffffff;
	padding: 25px 18px 30px;
	margin-bottom: 5px;
}
.idea__comment{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
	background: #ffffff;
	margin-bottom: 30px;
	padding: 7px 18px;
}
.idea__set-r-name{
	padding-right: 10px;
	font-size: 18px;
}
.idea__set-comment{
	background: #ff8300;
	line-height: 26px;
	color: #ffffff;
	padding: 0 15px;
	border-radius: 5px;
	cursor: pointer;
}
.idea__set-rating div{
	min-width: 65px;
	text-align: center;
	line-height: 24px;
	padding: 0 5px 0 30px;
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
	border-radius: 5px;
	background: url(/theme/pic/ideas/ideas-list-sprite.png) 7px -105px no-repeat;
	-webkit-filter: invert(100%);
	filter: invert(100%);
	border: 1px solid #ffffff;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.idea__set-rating .idea__set-rpos{ margin-right: 7px }
.idea__set-rating .idea__set-rneg{
	background: url(/theme/pic/ideas/ideas-list-sprite.png) 7px -131px no-repeat;
}
.idea__set-rating.active .idea__set-rpos,
.idea__set-rating.active .idea__set-rneg{ cursor:pointer }
.idea__set-rating.active .idea__set-rpos:hover{
	border: 1px solid #abb92a;
	background-color: #abb92a;
	-webkit-filter: invert(0);
	filter: invert(0);
}
.idea__set-rating.active .idea__set-rneg:hover{
	border: 1px solid #dc1e1e;
	background-color: #dc1e1e;
	-webkit-filter: invert(0);
	filter: invert(0);
}
.idea__comment-sort{
	background: #ffffff;
	padding: 10px 18px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 5px;
}
.idea__comment-cnt{ font-size:18px }
.idea__comment-sort .ideas__select{
	min-width: 120px;
	position: relative;
	background: #ffffff;
	border: 1px solid #cecece;
	border-radius: 5px;
	margin-right: 0px;
}
.idea__comment-sort .ideas-sort__right{ 
	max-width: 158px;
	margin: 15px 0 0 0;
}
.idea__comment-sort .ideas__select span{
	display: block;
	padding: 0 25px 0 10px;
	line-height: 26px;
	border-radius: 5px;
	color: #212121;
	font-size: 16px;
	cursor: pointer;
	position: relative;
	z-index: 1;
}
.idea__comment-sort .ideas__select b{
	position: absolute;
	top: 7px;
	right: 7px;
	font-size: 12px;
	z-index: 0;
	color: #212121;
}
.idea__comment-sort .ideas__select ul{
	position: absolute;
	background: #ffffff;
	top: 26px;
	left: 0;
	list-style: none;
	padding: 0;
	display: none;
	z-index: 2;
	border: 1px solid #cecece;
	border-radius: 5px;
}
.idea__comment-sort .ideas__select li{
	padding: 0 10px;
	line-height: 24px;
	cursor: pointer;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	white-space: nowrap;
	position: relative;
}
.idea__comment-sort .ideas__select li:hover{
	background: #f5f5f5;
}
.idea__comment-sort .ideas__select li.active{ background:#d2d2d2 }
.idea__comment-item{
	display: flex;
	background: #ffffff;
	padding: 7px 18px 25px;
	margin-bottom: 5px;
}
.idea__comment-name{
	font-size: 12px;
	color: #b5b5b5;
	margin-bottom: 7px;
}
#comment-form{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 7px;
	display: none;
}
#comment-form textarea{
	min-height: 140px;
	padding: 15px 30px;
	resize: none;
	width: 100%;
	background: #fafafa;
	border-radius: 5px;
	box-shadow: inset 0px 5px 22px -10px;
	outline: none;
	font-size: 18px;
	font-family: RobotoCondensed-Regular,verdana,arial;
}
#comment-form textarea.error{ border:1px solid red }
#comment-form textarea::-webkit-input-placeholder{color:#b5b5b5}
#comment-form textarea::-moz-placeholder{color:#b5b5b5}
#comment-form textarea:-moz-placeholder{color:#b5b5b5}
#comment-form textarea:-ms-input-placeholder{color:#b5b5b5}
#comment-form .new-idea__btn{ margin:5px 0 0 }
/*
*		popup
*/
#DiSiteWrapp #DiContent #MWwrapper .mw-win.dark-ver{ 
	width: 350px;
	left: -175px; 
}
#DiSiteWrapp #DiContent #MWwrapper .mw-win.dark-ver{
	background: #5aad17;
	background: -moz-linear-gradient(-45deg, #5aad17 0%, #0f4801 100%);
	background: -webkit-linear-gradient(-45deg, #5aad17 0%,#0f4801 100%);
	background: linear-gradient(135deg, #5aad17 0%,#0f4801 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aad17', endColorstr='#0f4801',GradientType=1 );
	padding: 40px;
	border: none;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
}
#DiSiteWrapp #DiContent #MWwrapper .header{
	border: none;
	margin: 0;
	font-size: 24px;
	font-weight: normal;
}
#DiSiteWrapp #DiContent #MWwrapper .header div{
	padding: 0 0 10px;
	position: static;
	background: transparent;
	font-size: 22px;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	font-weight: normal;
}
#DiSiteWrapp #DiContent #MWwrapper .mw-close{
    width: 29px;
    height: 29px;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    top: 11px;
    right: 11px;
}
#DiSiteWrapp #DiContent #MWwrapper .mw-close:before{
    content: 'X';
    width: 28px;
    line-height: 28px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
}
/*
*	MEDIA
*/
@media (min-width: 768px){
	.ideas__search{ flex-wrap:nowrap }
	#DiContent .ideas__search input{ margin-right: 15px }
	#DiContent .ideas__search .ideas__btn{ width: initial }
	.ideas-sort__right{ margin: 0 }
	.ideas__sort{ flex-direction: row }
	.idea__item-rating{ position:static }
	.idea__item{ min-height:initial }
	.idea__item-bottom b{ 
		display: inline-block;
		padding: 0 7px;
	}
	.idea__item-bottom a,
	.idea__item-bottom span{ display:inline-block }
	.idea__item-logo{ padding-right: 30px }
	.idea__item-info{ padding-right: 15px }
}