#DiContent .content-block{ margin: 0 }
.projects,
.projects *{ font-family: RobotoCondensed-Regular, verdana, arial; }
.projects__header{
	border-bottom: 1px solid #D6D6D6;
	margin: 0 0 25px;
	padding: 20px 0;
}
.projects__header-name{
	margin: 0 0 20px;
	display: block;
	color: #343434;
	font-size: 18px;
	text-decoration: underline;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
}
.projects__header-name:before{
	content: '';
	display: inline-block;
	width: 27px;
	height: 27px;
	background: url(/theme/pic/private/vac-list-user-icon.png) no-repeat;
	vertical-align: middle;
	margin-right: 5px;
}
.projects__btn{
	max-width: 200px;
	margin: 0 auto;
	display: block;
	font-size: 18px;
	text-transform: uppercase;
	vertical-align: middle;
	padding: 5px 15px;
	border-radius: 17px;
}
.projects__btn.all-projects{
	width: 175px;
	margin: 0 auto 20px;
}
.projects__btn:before,
.projects__btn:after{ border-radius:13px }
.projects__user{
	width: 180px;
	height: 180px;
	display: block;
	margin-bottom: 15px;
	position: relative;
	border-radius: 50%;
	border: 2px solid #CBD880;
	margin: 0 auto 30px;
}
.projects__list{ margin-bottom: 30px }
.projects__item{
	position: relative;
	padding: 0;
	margin-bottom: 5px;
	background: #f5f5f5;
}
.projects__item-name{ 
	font-size:22px;
	display: block;
	padding: 20px;
}
.projects__item-data{
	top: 15px;
	right: 15px;
	font-size: 16px;
	line-height: 20px;
	border-top: 1px solid #c5c5c5;
	margin: 0 20px;
	padding: 20px 0;
}
.projects__item-data .green{ color: #abb820 }
.projects__item-data .grey{ color: #c5c5c5 }
.projects__item-data .red{ color: #ff8300 }
.projects .projects__title{
	margin: 25px 0 30px;
	text-align: center;
	font-size: 24px;
}
.projects__tabs{
	width: 100%;
	max-width: 350px;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 26px;
}
#DiContent .projects__tabs-item{
	width: 50%;
	float: left;
	text-align: center;
	color: #cacaca;
	border: 2px solid #cacaca;
}
#DiContent .projects__tabs-item.active{
	background: #abb820;
	border: 2px solid #abb820;
	color: #ffffff;
}
#DiContent .projects__tabs-item:first-child{ border-right: none }
.projects__tabs-item span{ color: #abb820 }
#DiContent a.projects__tabs-item:hover{
	background: #ff921d;
	border: 2px solid #ff921d;
	color: #ffffff;
	-webkit-transition: all ease-out .3s;
	-moz-transition: all ease-out .3s;
	-o-transition: all ease-out .3s;
	transition: all ease-out .3s;
}
.projects__tabs-item:hover span{ color: #ffffff }
/*
*
*/
.projects__to-vac-btn{
	color: #abb820;
	text-decoration: underline;
	cursor: pointer;
}
/*
*		MEDIA
*/
@media screen and (min-width: 768px){
	.projects__header-name{
		margin: 0;
		display: inline-block;
		text-align: left;
	}
	.projects__btn{ 
		margin: 0 30px;
		display: inline-block;
	}
	.projects__item{
		width: 100%;
		display: table;
		padding: 0;
	}
	.projects__item-data{
		width: 160px;
		display: table-cell;
		vertical-align: middle;
		margin: 0;
		padding: 15px 0;
		border-top: none;
	}
	.projects__item-data>div{ 
		padding: 0 5px 0 15px;
		border-left: 1px solid #c5c5c5;
	}
	.projects__item-name{
		display: table-cell;
		vertical-align: middle;
	}
}