#DiContent #invitation [type='text']{
    width: 100%;
    height: 30px;
    background: #ffffff;
    border: 1px solid #cecece;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
    font-size: 14px;
    outline: none;
}
#DiContent #invitation [type='text'].error{
    border: 1px solid red;
    box-shadow: 0px 0px 5px 0px red;
}

#DiContent #invitation .invite-inp.phone{
    border: none;
    padding: 0 0 0 3px;
    line-height: 30px;
    line-height: 31px;
}

.control__buttons #control__save-btn{
    border: none;
    outline: none;
}

.project__xls #add-program {
    display: inline-block;
    padding: 0 20px 20px 0;
    text-decoration: underline;
    background: url(/theme/pic/projects/xls-icon.png) top right no-repeat;
    font-family: RobotoCondensed-Regular, verdana, arial;
    color: #abb820;
    text-decoration: none;
    transition: .3s all;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.project__xls #add-program:hover{
    color:#ff6500;
}