#DiContent #invitation [type='text']{
    width: 100%;
    height: 30px;
    background: #ffffff;
    border: 1px solid #cecece;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
    font-size: 14px;
    outline: none;
}
#DiContent #invitation [type='text'].error{
    border: 1px solid red;
    box-shadow: 0px 0px 5px 0px red;
}
#DiContent #invitation .invite-inp.phone{
    border: none;
    padding: 0 0 0 3px;
    line-height: 30px;
}

.control__buttons #control__save-btn{
    border: none;
    outline: none;
    line-height: 31px!important;
}

.project__xls #add-program {
    display: inline-block;
    padding: 0 20px 20px 0;
    text-decoration: underline;
    background: url(/theme/pic/projects/xls-icon.png) top right no-repeat;
    font-family: RobotoCondensed-Regular, verdana, arial;
    color: #abb820;
    text-decoration: none;
    transition: .3s all;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.project__xls #add-program:hover{
    color:#ff6500;
}

.project__header{
    background-color: #f5f5f5;
    padding: 10px 15px 5px;
    box-sizing: border-box;
    /*display: flex;*/
    /*flex-wrap: nowrap;*/
    margin-bottom:15px;
}

.project__header .project__header-xls{
    width: 100%;
    /*float: left;*/
    overflow: hidden;
    padding: 0px;
    text-align: left;
    margin-bottom:0px!important;
    padding-top:5px;
}
.project__header .project__header-xls label{
    padding-bottom: 0!important;
    margin-bottom:7px;
}
.project__header .project__header-xls a{
    padding-left:0!important;
    padding-bottom: 0!important;
    margin-bottom:7px;
}
.project__header  .project__header-filter{

    width: 100%;
    /*float: right;*/
    text-align: center;
}
#control__save-btn, #control__add-personal, #control__new-personal{
    margin-top:5px;
}

/************************************************************/
#DiContent .prommu__universal-filter .u-filter__item{

    display: flex;
    padding-top: 5px;
    width: 33.3333%;
    margin-top: 10px;
    align-items: center;
}

#DiContent .project__header  .project__header-filter{
    display: flex;
    flex-wrap: wrap;
}

.project__header-xlscontainer{
    width:33.3333%!important;
}
.project__header .project__header-xls{
    width: 225px!important;
    overflow: hidden;
    padding: 0px;
    text-align: left;
    margin-bottom: 0px!important;
    padding-top: 5px;
}


#DiContent .prommu__universal-filter .u-filter__item .u-filter__item-title{
    display: inline-block;
    width: 125px;
    text-align: left;
}
#DiContent .prommu__universal-filter .u-filter__item .u-filter__item-data{
    display: inline-block;
    width: 170px;
}

@media screen and (max-width:968px) {
    #DiContent .prommu__universal-filter .u-filter__item{
        width: 50%!important;
    }
    .project__header-xlscontainer{
        width:100%!important;
    }
    .project__header .project__header-xls{
        width:100%!important;
    }
    .project__header-xls{
        text-align: center;
        margin-top: 10px;
    }
    .project__xls #add-program{
        width:225px!important;
    }
    #DiContent .project__xls a{
        width:225px!important;
    }
    .project__header-xls{
        text-align: center!important;
    }
}


/************Верстка фильтра*************
#DiContent .prommu__universal-filter .u-filter__item{

    display: inline-block;
    padding-top:5px;
}
#DiContent .prommu__universal-filter .u-filter__item .u-filter__item-title{
    display: inline;
    padding-right: 10px;
}
#DiContent .prommu__universal-filter .u-filter__item .u-filter__item-data{
    display: inline-block;
    width: 170px;
}
#DiContent .prommu__universal-filter .u-filter__item-0{
    width:220px;
}
#DiContent .prommu__universal-filter .u-filter__item-1{
    width:250px;
}
#DiContent .prommu__universal-filter .u-filter__item-2{
    width:250px;
}
#DiContent .prommu__universal-filter .u-filter__item-3{
    width:300px;
}
@media (max-width: 1000px) and (min-width: 581px){
    .project__header .project__header-xls{
        width:100%;
        text-align:center;
        float:none;
    }
    .project__header  .project__header-filter{
        width:100%;
        float:none;
    }
    .project__header {
        flex-flow: column;
        align-items: center;
    }
}

@media (max-width: 580px){
    .project__header {
        flex-flow: column;
        align-items: center;
    }
    .project__header .project__header-xls{
        width:100%;
        text-align:center;
        float:none;
    }
    .project__header .u-filter__item{
        width:100%!important;
    }
    #DiContent .prommu__universal-filter .u-filter__item .u-filter__item-data{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .project__header  .project__header-filter{
        width:100%!important;
        float:none;
    }
    #control__save-btn, #control__add-personal, #control__new-personal{
        width:100%!important;
    }
    #control__save-btn{
        margin-left:0!important;
    }
}

*/