.u-filter__item-0 {
    width: 223px!important;
    line-height: 26px;
}

.u-filter__item-0 {
    margin-right: 60px;
}
.u-filter__item-1 {
    width: 135px!important;
    line-height: 26px;
}
.u-filter__item-2 {
    width: 115px!important;
    line-height: 26px;
}
.u-filter__item-2 {
    margin-left:5px;
}

.u-filter__item-title{
    display: inline;
}

.u-filter__item-data{
    display: inline-block;
    float: right;
}
.u-filter__item-0 .u-filter__item-data{
    width: 170px!important;
}
.u-filter__item-1 .u-filter__item-data,
.u-filter__item-2 .u-filter__item-data
{
    width: 90px!important;
}




.task__info-name{
    width:100%!important;
    font-size: 18px;
    margin-bottom: 5px;
    padding-left: 25px!important;
    height: 50px!important;
    box-sizing: border-box;
    outline:none;
}
.task__info-descr{
    width:100%!important;
    outline:none;
}
.task__user-info{
    width: 30%;
    float: left;
    min-width: 240px;
}
.task__single-table{
    display: flex;
}
.task__tasks-info{
    width: 100%;
    padding-left: 10px;
}
.task__tasks-buttons{
    margin-top:10px;
}
.task__tasks-button{
    display: inline-block!important;
    text-align: center;
    cursor: pointer;
    line-height: 31px;
    vertical-align: top;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
    background: none;
    outline:none;
    font-size: 17px;

    width: 49%;
    margin: 3px auto;
}

@media screen and (max-width: 994px){
    .task__tasks-button{
        width:100%;
    }
}

.task__button-green{
    border: 2px solid #abb92a;
    color: #abb92a;
    position: relative;
}
.task__button-green:hover{
    color:white;
}
.task__button-grey{
    border: 2px solid #a4b0b9;
    color: #a4b0b9;
    position: relative;
}
.task__button-green:hover{
    color:white;
}



.task__name{
    /* height: 26px; */
    display: block;
    padding: 0 20px 0 10px;
    background: #ffffff;
    border: 1px solid silver;
    border-radius: 1px;
    line-height: 40px;
    text-align: left;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}

.task__name:after {
    content: '\25bc';
    display: block;
    position: absolute;
    top: 9px;
    right: 10px;
    line-height: 26px;
    font-size: 12px;
}
.task__tasks-title{
    position: relative;
}

#DiContent .task__single-info-btn a.task__add-update{
    display:none;
}

.task__button-green:hover:before {
     transform: scaleX(1);
 }
.task__button-grey:hover:before {
    transform: scaleX(1);
}

.task__button-grey:hover {
    color:white;
}

.task__button-green:hover {
    color:white;
}

.task__button-green:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #abb820;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
}

.task__button-grey:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #a4b0b9;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
}

.task__hidden-ul{
    width:100%;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    border-top: none;
    list-style: none;
    background-color: rgba(52, 52, 52, 0.6);
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
    width:100%;
}
.task__hidden-ul li{
    width: 100%;
    line-height: 30px;
    padding: 3px 6px;
    cursor: pointer;
}

.task__hidden-ul li:hover{
    background-color: rgba(255,255,255,0.2);
}

.task__hidden-ul{
    display:none;
}