/*** Created by Stanislav on 24.08.2018.*/

#DiContent .prommu__universal-filter *{
    width:100%;
    font-family: RobotoCondensed-Regular, verdana, arial;
}

#DiContent .prommu__universal-filter .u-filter__item .u-filter__text,
#DiContent .prommu__universal-filter .u-filter__item .u-filter__select,
#DiContent .prommu__universal-filter .u-filter__item .u-filter__calendar
{
    height: 26px;
    display: block;
    padding: 0 20px 0 10px;
    background: #ffffff;
    border: 1px solid silver;
    border-radius: 1px;
    line-height: 26px;
    text-align: left;
    outline:none;
}

#DiContent .prommu__universal-filter .u-filter__item .u-filter__select,
#DiContent .prommu__universal-filter .u-filter__item .u-filter__calendar{
    cursor: pointer;
}
#DiContent .prommu__universal-filter .u-filter__item .u-filter__select:after,
#DiContent .prommu__universal-filter .u-filter__item .u-filter__calendar:after
{
    content: '\25bc';
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
    line-height: 26px;
    font-size: 12px;
}
#DiContent .prommu__universal-filter .u-filter__item .u-filter__item-data{
    position: relative;
}

#DiContent .prommu__universal-filter .u-filter__item .u-filter__ul-hidden{
    overflow-y: auto;
    padding: 0;
    margin: 0;
    border-top: none;
    list-style: none;
    background-color: rgba(52, 52, 52, 0.6);
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
}
#DiContent .prommu__universal-filter .u-filter__item .u-filter__ul-hidden,
#DiContent .prommu__universal-filter .u-filter__item .u-filter__calendarbox{
    display: none;
}

#DiContent .prommu__universal-filter .u-filter__item .u-filter__li-hidden{
    width: 100%;
    line-height: 30px;
    padding: 3px 6px;
    cursor: pointer;
}

#DiContent .prommu__universal-filter .u-filter__item .u-filter__li-hidden:hover {
    background-color: rgba(255,255,255,0.2);
}
#DiContent .prommu__universal-filter input{
    width:100%;
}

#DiContent .prommu__universal-filter .u-filter__item.blocked .u-filter__text,
#DiContent .prommu__universal-filter .u-filter__item.blocked .u-filter__select,
#DiContent .prommu__universal-filter .u-filter__item.blocked .u-filter__calendar{
    background: #d6d6d6;
}


/***********ÊÀËÅÍÄÀÐÜ***********/
/*
*	calendar
*/
.calendar-filter>span{
    width: 170px;
    height: 26px;
    padding: 0 20px 0 10px;
    line-height: 26px;
    background: #ffffff;
    border: 1px solid silver;
    border-radius: 1px;
    cursor: pointer;
}
.calendar-filter .calendar{
    width: 100%;
    min-width: 180px;
    padding: 10px;
    position: absolute;
    top: 0px;
    right: -45px;
    background-color: rgba(52, 52, 52, 0.6);
    z-index: 2;
    display: none;
    margin: 0;
}
div.calendar:after{ content: '' }
.calendar table{
    width: 180px!important;
    cursor: default;
}
.calendar table *{
    line-height: initial;
}
.calendar table td{
    padding: initial;
    text-align: center;
    color: #FFFFFF;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.calendar tbody td:nth-child(n+6){ color: #ff8300 }
.calendar td.day:hover{ background-color: rgba(255,255,255,0.2) }
.calendar tbody td.today,
.calendar tbody td.today:hover{
    color: #FFFFFF;
    background-color: rgba(171, 184, 32, 0.5);
}
.calendar tbody td.select,
.calendar tbody td.select:hover{
    color: #FFFFFF;
    background-color: rgba(255, 131, 0, 0.5);
}
.calendar td.nofit:hover{
    background-color: rgba(255, 0, 0, 0.5);
    cursor: no-drop;
}
.calendar td.day,
.calendar td.mleft,
.calendar td.mright{ cursor: pointer }
.calendar b{
    color: #FFFFFF;
    background-color: red;
    position: absolute;
    top: -5px;
    line-height: normal;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 2;
    display: none;
}
/*		*/
.user__header-date{
    text-align: right;
}
.user__header-date .calendar-filter{
    padding-left: 10px;
    position: relative;
    font-size: 14px;
    display: inline-block;
}
.calendar *{
    right: -5px;
    width: inherit!important;
}
/*
*		MEDIA
*/
@media (min-width: 768px) {
    .calendar-filter>span{
        width: 90px;
    }
}