#map_main{
    width: 95%;
    height: 400px;
    margin:0 auto;
}

.map__container{
    padding: 20px;
    width:80%;
}

.fancybox-slide > .map__container{
    background-color: initial;
}

.map__error{
    padding: 20px;
    width:300px;
    display: none;
    text-align: center!important;
    color:red;
    font-size: 20px;
}