#select-form, #select-form *{ font-family: RobotoCondensed-Regular, verdana, arial; }
#select-form b{ font-size: 16px }
.index-table{

}
.index-table td{ padding: 3px 5px }
#select-form .users-select__list input{ display: none }
.users-select__item{ margin-bottom: 20px }
.users-select__item img {
    width: 175px;
    height: 175px;
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
}
.users-select__item.disable img,
.users-select__item.fail img{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}
.users-select__item.fail{ opacity: 0.1 }
.users-select__item span{
	display: block;
	font-size: 24px;
	text-align: center;
}
.users-select__list label{
	display: block;
	position: absolute;
	top: 0;
	left: 10px;
	bottom: 20px;
	right: 10px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.users-select__list input:checked + label{
	background-color: rgba(171, 184, 32, 0.7);
	opacity: 1;
}
.users-select__list input + label{
	background: rgba(171, 184, 32, 0) url(/theme/pic/services-page/api-select-icon.png) 50% 50% no-repeat;
	opacity: 0;
}
#DiContent .project .project__title{ margin: 50px 0 45px }
/*
*		Filter
*/
.project__header{
	background-color: #f5f5f5;
	padding: 0px 15px 0px;
	box-sizing: border-box;
	margin-bottom: 15px;
}
#DiContent .project__header .project__header-filter {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 15px;
}
#DiContent .prommu__universal-filter .u-filter__item {
	display: flex;
	padding-top: 5px;
	width: 50%;
	margin-top: 10px;
	align-items: center;
}
#DiContent .prommu__universal-filter .u-filter__item .u-filter__item-title{
    display: inline-block;
    width: 125px;
    text-align: left;
}
#DiContent .prommu__universal-filter .u-filter__item .u-filter__item-data{
    display: inline-block;
    width: 170px;
}

.xls-popup{
    font-size: 16px;    
}
.xls-popup-btn{
    width: 135px;
    line-height: 33px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #ff8300;
    vertical-align: middle;
    position: relative;
    z-index: 0;
    cursor: pointer;
    margin: 15px auto 0;
}
.xls-popup-err{
    color: #ff8b8b;
    display: none;
}
.u-filter__blockitem{
    display:block;
}
@media screen and (max-width:968px) {
    #DiContent .prommu__universal-filter .u-filter__item{
        width: 300px;
        margin: 3px auto;
    }
    .u-filter__blockitem{
        display:none!important;
    }

    .project__header-xlscontainer{
        width:100%!important;
    }
    .project__xls{
        text-align:center!important;
    }
}
@media screen and (min-width:992px) {
	.project__header{ padding: 0px 15% 0px }
}

.prommu__universal-filter__button{
    background: none;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #383838;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    text-align: center;
    cursor:pointer;
}
.prommu__universal-filter__button:after{
    content: '\25bc';
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    line-height: 26px;
    font-size: 12px;
    color: white;
}

.prommu__universal-filter__button.u-filter__close:after{
    -webkit-transform: rotate(-180deg); //Chrome, Safari
    -moz-transform: rotate(-180deg); //Firefox
    -o-transform: rotate(-180deg); //Opera
    -ms-transform: rotate(-180deg); //IE
    transform: rotate(-180deg); //браузеры без префексов
    }

.prommu__universal-filter__buttoncontainer{
    position: relative;
}

#DiContent a.staff__new{
    width: 160px;
    display: inline-block;
    line-height: 33px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #ff8300;
    vertical-align: middle;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.staff__block{
    width: 100%;
    text-align: center;
}