.ppp__period-list{
    overflow: hidden;
}
.ppp__module-feedback{
    width: 100%;
    resize: none;
    height: 300px;
    background:none;
    outline:none;
    padding: 10px;
}
@media (min-width: 992px) {
    .for-guest .ppp__period-list .ppp__field.ppp__field {
        width: 32%;
    }
    .ppp__field-fix.ppp__field-fix{
        display:table-row;
        text-align: center;
    }
}