Options -Indexes

#deny from all

#RewriteEngine on
#RewriteBase /
#
##RewriteCond %{REQUEST_URI} ^(.*)content/im(.*)$ [NC]
#RewriteCond %{REQUEST_URI} ^(.*)content/protected/im(.*)$ [NC]
#RewriteCond %{HTTP_HOST} ^(.*)$
#RewriteRule ^(.*)$ http://%1/imfiles?f=$1 [R,L]