.chat__all {
  overflow-x: scroll;
  position: relative;
}

.chat__all h1 {
  margin: 30px 0 50px;
  text-align: center;
}

.chat__all .chat__item {
  position: relative;
  padding: 10px 0 10px 20px;
  min-height: 55px;
  border-bottom: 1px solid #dadada;
  font-size: 12px;
  box-sizing: content-box;
  overflow: hidden;
  display: inline-flex;
}

.chat__all .chat__item-info {
  overflow: hidden;
  display: flex;
  margin-left: auto
}

.chat__all .chat__info-col {
  padding: 10px;
  text-align: center;
  color: black;
}

.chat__all .chat__item .chat__item-name {
  min-width: 300px;
  font-size: 20px;
  padding-left: 20px;
  color: #abb820;

  display: flex;
  align-items: center;
}

.chat__info-noread {
  color: red;
}

#DiContent a.chat__item:hover {
  color: white;
  background-color: #abb820;
}

#DiContent a.chat__item:hover .chat__info-col,
#DiContent a.chat__item:hover .chat__item-name,
#DiContent a.chat__item:hover .chat__info-noread {
  color: white;
}

.chat__all .chat__info-descr {
  display: block;
}

.chat-list__wrap-scroll-ico {
  border-top: 1px solid var(--color-l-grey);
  display: table;
  position: relative;
}

.chat-list__wrap-scroll-ico:before {
  content: '\e9cd';
  font-family: "PrommuFont";
  color: var(--color-l-grey);
  font-size: 35px;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 767px) {
  .chat__all {
    overflow-x: hidden;
    position: relative;
  }

  .chat__all .chat__item {
    display: flex;
  }
  .chat-list__wrap-scroll-ico {
    border-top: 1px solid var(--color-l-grey);
    display: table;
  }

  .chat-list__wrap-scroll-ico:before {
    content: none;
  }

}

