				<tr>
					<td>
						<table background="https://prommu.com/theme/pic/letter-analitics/analitics-body-bg.png" width="600" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding:30px 50px 50px 75px">
							<tr>
								<td>
									<b style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:30px;color:#abb837;font-size:24px">Уважаемый, #EMPNAME#</b>
								</td>
							</tr>
							<tr>
								<td>
									<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:20px">Соискатель <a href="#APPLINK#" style="color:#abb837">#APPNAME#</a> отправил Вам личное сообщение  на сервисе PROMMU
								</td>
							</tr>
							<tr>
								<td>
									<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:20px">Ссылка для просмотра сообщений <a href="#CHATLINK#" style="color:#abb837">здесь</a></span>
								</td>
							</tr>
						</table>
					</td>
				</tr>