/*!***/
    /*css for complete__reg form*/
/**!*/

.complete__reg {
    border: 1px dotted var(--color-dark);
    padding: 15px;
    margin: 0 0 30px;
    background: #f7f7f7;
    border-radius: 4px;
}
#F1compprof .epe-data__title h2,
#DiContent .epa__content-title h2{
    background: #f7f7f7;
}

/*#complete__form {*/

/*}*/

/*.complete__wrap {*/

/*}*/

.complete__head {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 5px;
    color: var(--color-red);
}

.complete__txt {
    font-size: 16px;
    font-weight: 400;
    padding: 0 10px 20px 10px;
}

.complete__about {
    font-size: 13px;
    font-weight: 400;
    display: block;
    /*margin-top: 20px;*/
}

.epa__checkbox:after {
    content: '';
    right: 5px;
    border: 1px solid var(--color-grey);
}

.prmu-btn.prmu-btn_normal,
#DiContent .epa__save-btn {
    max-width: 75%; /*250px;*/
    margin-bottom: 30px;
}

.epe__select-list,
.epa__select-list {
    background-color: rgba(52, 52, 52, 1);
    top: 33px;
}

.epa__city-title b:after {
    counter-increment: none;
    content: none;
}

#F1compprof.edit-profile-employer .epe__label,
#DiContent .edit-profile-applicant .epa__label {
    border: 1px solid var(--color-grey);
}

@media screen and (min-width: 768px){
    #DiContent .edit-profile-applicant .epa__checkbox.epa__checkbox-famale:after {
        right: 10px;
    }
}
@media screen and (min-width: 990px){
    #DiContent .edit-profile-applicant .epa__checkbox {
        float: left;
        left: 15px;
    }
    #DiContent .edit-profile-applicant .epa__checkbox.epa__checkbox-famale:after {
        right: 30px;
    }
    #DiContent .edit-profile-applicant .epa__checkbox.epa__checkbox-famale {
        left: 15px;
        text-align: left;
    }
}

@media screen and (max-width: 768px){
    .epa__checkbox:after {
        content: '';
        right: 10px;
    }
    .container {
        max-width: 450px;
    }
    .no-md-relat.ppe__logo {
        max-width: 300px;
    }
}
@media screen and (max-width: 450px){
    .complete__reg {
        padding: 5px;
    }
    .container {
        max-width: 350px;
    }
.complete__reg .country-phone-selected img {
margin: 10px 1px;
}
#DiContent .edit-profile-applicant .complete__reg .epa__phone {
width: 110px;
}
.edit-profile-applicant {
max-width: 270px;
margin: 0 auto;
}
#F1compprof.edit-profile-employer .epe__input-contact {
padding-left: 115px;
}
#F1compprof.edit-profile-employer .epe__input-mail {
padding-left: 70px;
}
#F1compprof.edit-profile-employer .epe__label {
padding: 0;
}
#F1compprof.edit-profile-employer .epe__label.epe__select {
height: 70px;
}
#F1compprof.edit-profile-employer .epe__input-type {
padding-left: 100px;
}
}

@media (min-width: 450px) {
.epa__post-block {
width: 100%;
flex: 0 1 100%;
}
.epa__attr-block1 {
width: 35%;
}
}

@media (min-width: 768px) {
.epa__post-block {
width: 50%;
flex: 0 1 50%;
}

/*#contacts-module,*/
    #main-module {
        max-width: none;
        /*padding-right: 0;*/
    }

    #DiContent .edit-profile-applicant .epa__label.epa__select {
        padding: 0 10px 0 10px;
    }
    #DiContent .epa__date .epa__input {
        padding: 0 0 0 10px ;
        width: 85px;
    }

    /*.edit-profile-applicant #contacts-module .epa__label,*/
    .edit-profile-applicant #main-module .epa__label {
        width: 49%;
        display: inline-block;
    }

    .epa__attr-block {
        margin: 0;
        width: 49%;
        display: inline-block;
    }
    .epa__attr-block2,
    .epa__attr-block1 {
        width: 50%;
    }
    #DiContent #main-module .epa__attr-block2 label,
    #DiContent #main-module .epa__attr-block1 label{
        margin: 0;
        line-height: 14px;
    }


}

@media (min-width: 990px) {
    #DiContent .epa__date .epa__input {
        padding: 0 10px;
        width: 95px;
    }

    .epa__content-module {
        padding-right: 65px;
    }
}
/*.complete__prof-list li{*/
    /*position: relative;*/
    /*font-weight: 400;*/
    /*margin: 10px 0;*/
/*}*/
/*#DiContent .complete__prof-list {*/
    /*list-style: none;*/

/*}*/
/*#DiContent .complete__prof-list input{*/
    /*opacity: 0;*/
    /*width: 100%;*/
    /*height: 15px;*/
    /*position: absolute;*/
/*}*/
/*#DiContent .complete__prof-list label{*/
    /*position: relative;*/
    /*right: 0;*/
/*}*/

/*#DiContent .complete__prof-list label:after{*/
    /*right: 0;*/
/*}*/

/*#DiContent .complete__prof .prof-item:after {*/
    /*content: '';*/
    /*font-family: "PrommuFont";*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 5px;*/
    /*border: 1px solid var(--color-dark);*/
    /*text-align: center;*/
    /*line-height: 18px;*/
    /*color: #343434;*/
    /*-webkit-transition: all .3s ease-out;*/
    /*-moz-transition: all .3s ease-out;*/
    /*-o-transition: all .3s ease-out;*/
    /*transition: all .3s ease-out;*/
    /*z-index: 10;*/
/*}*/
/*#DiContent .complete__prof-item:checked + .prof-item:after {*/
    /*content: '\e966';*/
    /*color: var(--color-orange);*/
    /*font-size: 20px;*/
    /*width: 20px;*/
    /*height: 20px;*/
/*}*/


/*#DiContent .complete__prof .prof-item b {*/
    /*border-bottom: 1px dotted var(--color-dark);*/
    /*width: 65%;*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*right: 30px;*/
    /*float: right;*/
/*}*/

/*.complete__phone {*/

/*}*/

/*.complete__email {*/

/*}*/

/*.complete__birthday {*/

/*}*/

/*.complete__city {*/

/*}*/

/*.complete__cover,*/
/*.complete__gender,*/
/*.complete__prof{*/
    /*border: 1px dotted var(--color-dark);*/
    /*border-radius: 4px;*/
    /*padding: 5px;*/
    /*margin-bottom: 30px;*/
/*}*/


/*.complete__cover.complete__company {*/
    /*column-count: 1;*/
/*}*/
/*.complete__cover{*/
    /*column-count: 2;*/
/*}*/

/*.complete__gender {*/
    /*display: flex;*/
    /*margin: 0 0 25px 0;*/
/*}*/
/*#DiContent .complete__gender-item {*/
    /*opacity: 0;*/
    /*position: absolute;*/
    /*width: 100%;*/
/*}*/
/*.complete__gender-radio {*/
    /*position: relative;*/
    /*flex: 1 0 auto;*/
    /*padding: 10px;*/
/*}*/
/*!*.complete__gender input[type="radio"]{*!*/

/*!*}*!*/
/*#DiContent .complete__gender .gender-item {*/
    /*position: relative;*/
    /*padding-left: 25px;*/
    /*top: 0;*/
/*}*/

/*#DiContent .complete__gender .gender-item:after {*/
    /*content: '';*/
    /*font-family: "PrommuFont";*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*border: 1px solid var(--color-dark);*/
    /*text-align: center;*/
    /*line-height: 18px;*/
    /*color: #343434;*/
    /*-webkit-transition: all .3s ease-out;*/
    /*-moz-transition: all .3s ease-out;*/
    /*-o-transition: all .3s ease-out;*/
    /*transition: all .3s ease-out;*/
/*}*/
/*#DiContent .complete__gender-item:checked + .gender-item:after {*/
    /*content: '\e966';*/
    /*color: var(--color-orange);*/
    /*font-size: 20px;*/
    /*width: 20px;*/
    /*height: 20px;*/
/*}*/

/*.input {*/

/*}*/

/*#DiContent .complete__phone,*/
/*#DiContent .complete__email,*/
/*#DiContent .complete__name,*/
/*#DiContent .complete__birthday,*/
/*#DiContent .complete__city {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 45px;*/
    /*margin-bottom: 15px;*/
    /*overflow: hidden;*/
/*}*/

/*#DiContent input:focus {*/
    /*outline:none;*/
/*}*/

/*#DiContent label {*/
    /*color:#999;*/
    /*font-size:18px;*/
    /*font-weight:normal;*/
    /*position:absolute;*/
    /*pointer-events:none;*/
    /*left:5px;*/
    /*top:10px;*/
    /*transition:0.2s ease all;*/
    /*-moz-transition:0.2s ease all;*/
    /*-webkit-transition:0.2s ease all;*/
/*}*/

/*#DiContent input:focus ~ label,*/
/*#DiContent input:valid ~ label {*/
    /*font-size:14px;*/
    /*color: var(--color-dark);*/
    /*top:-4px;*/
/*}*/

/*#DiContent .complete__phone input,*/
/*#DiContent .complete__email input,*/
/*#DiContent .complete__name input,*/
/*#DiContent .complete__birthday input,*/
/*#DiContent .complete__city input*/
/*{*/
    /*font-size:18px;*/
    /*padding:10px 10px 0 5px;*/
    /*display:block;*/
    /*width:100%;*/
    /*background: none;*/
    /*border:none;*/
    /*height: 40px;*/
    /*border-bottom:1px solid var(--color-dark);*/
    /*border-radius: 0;*/
/*}*/

/*input:focus {*/
    /*outline:none;*/
/*}*/

/*#DiContent .complete__phone label,*/
/*#DiContent .complete__email label,*/
/*#DiContent .complete__name label,*/
/*#DiContent .complete__birthday label,*/
/*#DiContent .complete__city label*/
/*{*/
    /*color:#999;*/
    /*font-size:18px;*/
    /*font-weight:normal;*/
    /*position:absolute;*/
    /*pointer-events:none;*/
    /*left:5px;*/
    /*top:10px;*/
    /*transition:0.2s ease all;*/
    /*-moz-transition:0.2s ease all;*/
    /*-webkit-transition:0.2s ease all;*/
/*}*/

/*#DiContent .complete__phone input:focus ~ label,*/
/*#DiContent .complete__email input:focus ~ label,*/
/*#DiContent .complete__name input:focus ~ label,*/
/*#DiContent .complete__birthday input:focus ~ label,*/
/*#DiContent .complete__city input:focus ~ label,*/
/*#DiContent .complete__phone input:valid ~ label,*/
/*#DiContent .complete__email input:valid ~ label,*/
/*#DiContent .complete__name input:valid ~ label,*/
/*#DiContent .complete__birthday input:valid ~ label,*/
/*#DiContent .complete__city input:valid ~ label*/
/*{*/
    /*width:100%;*/
    /*font-size:14px;*/
    /*color: var(--color-orange);*/
/*}*/

/*.bar {*/
    /*position:relative;*/
    /*display:block;*/
    /*width:100%;*/
/*}*/

/*.bar:before, .bar:after {*/
    /*content:'';*/
    /*height:2px;*/
    /*width:0;*/
    /*bottom:1px;*/
    /*position:absolute;*/
    /*background:var(--color-orange);*/
    /*transition:0.2s ease all;*/
    /*-moz-transition:0.2s ease all;*/
    /*-webkit-transition:0.2s ease all;*/
/*}*/

/*.bar:before {*/
    /*left:50%;*/
/*}*/

/*.bar:after {*/
    /*right:50%;*/
/*}*/

/*input:focus ~ .bar:before,*/
/*input:focus ~ .bar:after {*/
    /*width:50%;*/
/*}*/

/*.highlight {*/
    /*position:absolute;*/
    /*height:60%;*/
    /*width:325px;*/
    /*top:25%;*/
    /*left:0;*/
    /*pointer-events:none;*/
    /*opacity:0.5;*/
/*}*/

/*input:focus ~ .highlight {*/
    /*-webkit-animation:inputlighter 0.3s ease;*/
    /*-moz-animation:inputlighter 0.3s ease;*/
    /*animation:inputlighter 0.3s ease;*/
/*}*/

/*@-webkit-keyframes inputlighter {*/
    /*from*/
    /*{*/
        /*background:var(--color-orange);*/
    /*}*/
    /*to*/
    /*{*/
        /*width:0; background:transparent;*/
    /*}*/
/*}*/

/*@-moz-keyframes inputlighter {*/
    /*from*/
    /*{*/
        /*background:var(--color-orange);*/
    /*}*/
    /*to*/
    /*{*/
        /*width:0; background:transparent;*/
    /*}*/
/*}*/
/*@keyframes inputlighter {*/
    /*from*/
    /*{*/
        /*background:var(--color-orange);*/
    /*}*/
    /*to*/
    /*{*/
        /*width:0; background:transparent;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 1200px) {*/
    /*#DiContent .complete__prof .prof-item b {*/
        /*width: 55%;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 768px){*/
    /*.complete__cover {*/
        /*column-count: 1;*/
    /*}*/
    /*.complete__gender {*/
        /*display: block;*/
    /*}*/
    /*#DiContent .complete__prof .prof-item b {*/
        /*border: none;*/
    /*}*/
    /*#DiContent .complete__prof-list {*/
        /*margin-left: 0;*/
        /*padding-left: 0;*/
    /*}*/
    /*.complete__gender-radio {*/
        /*padding: 10px 10px 10px 0;*/
    /*}*/
/*}*/




/*  */
#DiContent .edit-profile-applicant .epa__confirm-block .epa__input{
    padding-left: inherit;
    line-height: 33px;
    height: 33px;
}

/*
* !!!
*/
.YiiUpload__block {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 1099;
    display: none;
}

.YiiUpload__block > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: center;
}

@media  only screen and (max-width: 768px) {
    .YiiUpload__block > div {
        transform: none;
        top: 0;
        left: 0;
    }
}
/*
.YiiUpload__block > div::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}
*/
.YiiUpload__block > div > div {
    width: 100%;
    max-width: 350px;
    padding: 44px 15px;
    display: inline-block;
}

/* */
.YiiUpload__form-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.YiiUpload__form-body {
    text-align: initial;
}

/* */
.YiiUpload__form {
    width: 100%;
    max-width: 320px;
    padding: 15px;
    margin: 0;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
}

.YiiUpload__form-close {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: -15px;
    top: -15px;
    background: transparent url(/theme/pic/register/sprite.png) 0 0 no-repeat;
    cursor: pointer;
}

.YiiUpload__form .YiiUpload__form-input {
    display: none;
}

.YiiUpload__form-btns {
    text-align: center;
}

.YiiUpload__form-btn {
    display: inline-block;
    padding: 5px;
    margin: 15px 5px 0 5px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ff8300;
    cursor: pointer;
}

.YiiUpload__form-errors {
    color: red;
    font-size: 16px;
    margin-bottom: 15px;
}

/* files */
.YiiUpload__form-files div {
    padding-bottom: 5px
}

.YiiUpload__form-files span {
    font-size: 14px;
    vertical-align: middle;
    margin-right: 5px;
    word-break: break-word;
}

.YiiUpload__delete {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: transparent url(/theme/pic/register/sprite.png) 0 -32px no-repeat;
    cursor: pointer;
    vertical-align: middle;
}

/* result */
.YiiUpload__green {
    color: #abb820;
    font-size: 16px;
}

.YiiUpload__form-result label {
    display: block;
    width: 100%;
    font-weight: normal;
}

.YiiUpload__form-result p {
    margin: 15px 0 0;
    font-weight: bold;
}

.YiiUpload__form-result input {
    width: 100%;
}

/* editor */
.YiiUpload__editor {
    display: none;
    overflow: hidden;
}

.YiiUpload__editor-field {
    width: 100%;
    height: 355px;
    margin-bottom: 30px;
    position: relative;
}

.YiiUpload__editor-prev {
    width: 216px;
    text-align: center;
    position: relative;
    left: -108px;
    margin-left: 50%;
}

.YiiUpload__editor-prev-item {
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.YiiUpload__editor-prev-lg {
    width: 185px;
    height: 200px;
}

.YiiUpload__editor-prev-sm {
    width: 70px;
    height: 70px;
}

.YiiUpload__editor-panel {
    width: 100%;
    text-align: center;

}

.YiiUpload__editor-panel div {
    width: 28px;
    height: 28px;
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;
    background: #ff8300 url(/theme/pic/register/sprite.png) no-repeat;
    border-radius: 5px;
}

.YiiUpload__editor-panel .YiiUpload__editor_l-rotate {
    background-position: 0 -50px;
}

.YiiUpload__editor-panel .YiiUpload__editor_r-rotate {
    background-position: 0 -74px;
}

.YiiUpload__editor-panel .YiiUpload__crop {
    background-position: 0 -99px;
}

.YiiUpload__editor-field input {
    width: 100%;
    height: 35px;
    border: 1px solid #EBEBEB;
    color: #212121;
    position: absolute;
    bottom: -55px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 35px;
}

.YiiUpload__editor-field input:focus {
    outline: none;
}

@media (min-width: 768px) {
    .YiiUpload__editor-field {
        width: 440px;
        height: 440px;
        float: left;
    }

    .YiiUpload__editor-prev {
        float: right;
        margin-left: 0px;
        left: 0;
    }

    .YiiUpload__editor-panel {
        width: 217px;
        display: inline-block;
        float: right;
    }
    .YiiUpload__block > div > div {
        max-width: 730px;
    }
    .YiiUpload__form {
        max-width: 720px;
    }
    .YiiUpload__editor-field {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .YiiUpload__editor-field {
        width: 550px;
        height: 550px;
    }
    .YiiUpload__block > div > div {
        max-width: 830px;
    }
    .YiiUpload__form {
        max-width: 830px;
    }
}

/* snapshot */
.YiiUpload__camera {
    position: relative;
}

.YiiUpload__camera,
.YiiUpload__camera canvas,
.YiiUpload__camera img {
    display: none;
}

.YiiUpload__camera img {
    position: absolute;
    top: 0;
    left: 0;
}

.YiiUpload__camera img,
.YiiUpload__camera video {
    width: 100%;
    height: auto;
}

.ppp__logo .prmu-btn.prmu-btn_normal{
    display: block;
    margin: 0 auto;
}
.ppp-logo-main__img, .ppe__logo-main__img{ cursor:pointer }
.avatar__error{
    color: var(--color-red);
    font-size: 12px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

#avatar_form .avatar__logo-main.input__error {
    border: 2px solid red;
    transition: var(--main-trans);
}
/*
*
*/
#F1compprof .epe__label.city-field{ padding: 0 }
.epe__select-cities {
    width: 100%;
    min-height: 33px;
    padding-left: 40px;
    position: relative;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.epe__select-cities.error {
    box-shadow: inset 0px 0px 3px red;
    border: 1px solid red;
}

.epe__select-cities span {
    position: absolute;
    top: 0;
    left: 15px;
    color: #A0A0A0;
    line-height: 33px;
    z-index: 0;
}

.epe__select-cities b {
    width: 29px;
    height: 29px;
    display: none;
    background: url(/theme/pic/loading1.gif) 50% no-repeat;
    background-size: contain;
    position: absolute;
    top: 3px;
    right: 3px;
}

.epe__select-cities ul {
    margin: 0;
    line-height: 33px;
    list-style: none;
    position: relative;
    z-index: 1;
}

.cities-select {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0 35px 0 15px;
    overflow: hidden;
}

.cities-select li {
    line-height: 29px;
    margin: 2px 5px 2px 0;
}

.cities-select li:not([data-id="0"]) {
    padding: 0 20px 0 5px;
    background-color: rgba(52, 52, 52, 0.6);
    color: #fff;
    border-radius: 5px;
    position: relative;
}

.cities-select li[data-id="0"] {
    width: 10px;
}

.cities-select li i {
    width: 19px;
    height: 19px;
    display: block;
    position: absolute;
    top: 5px;
    right: 0px;
    font-style: normal;
    text-align: center;
    cursor: pointer;
}

.cities-select li i:before {
    content: '\2716';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 20px;
}

#DiContent #multyselect-cities .cities-select input {
    height: 29px;
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
}

#multyselect-cities .cities-list {
    max-height: 330px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    color: #fff;
    background-color: rgba(52, 52, 52, 0.6);
    z-index: 3;
    overflow-y: auto;
    display: none;
}

.cities-list li {
    padding: 0 35px 0 15px;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.cities-list li.emp {
    cursor: no-drop
}

.cities-list li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
#avatar_form .prmu-btn.prmu-btn_normal{
    max-width: 100%;
    margin: 0 auto 15px;
}