body {
  //position: relative
}

body.prmu-load:after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(255, 255, 255, .7) url(/theme/pic/vacancy/loading.gif) center no-repeat
}

:root {
    --color-l-grn: #d3e023;
    --color-green: #AAB81D;
    --color-green-2: #76ff03;
    --color-orange: #f68000;
    --color-orange-2: #ff5252;
    --color-red: #FF462D;
    --color-yellow: #FFD700;
    --color-l2-grey: #c8c8c8;
    --color-ll-grey: #a0a0a0;
    --color-l-grey: #989898;
    --color-grey: #777777;
    --color-white: #FFFFFF;
    --color-dark: #2b2b2b;
    --color-black: #212121;

    --main-trans:all .3s ease-out;
}


@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("/theme/fonts/RobotoCondensed.woff") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "PrommuFont";
    src: url("/theme/fonts/prommu-font/PrommuFont.woff") format("truetype");
    font-weight: normal;
}

body {
    font-family: "RobotoCondensed-Regular";
    background: var(--color-white);
}

.login {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
}

.login__header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}

.login__triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: var(--color-l-grn);
}

.login__header {
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-dark);
}

h2.login__header {
    font-size: 30px;
    font-weight: 600;
    padding-top: 40px;
}
h6.login__header {
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0 10px 20px 10px;
}

.login__logo .logo {
    width: 50%;
    /*height: 40px;*/
    display: block;
    margin: 0 auto 40px auto;
    border: 0;
}

.login__container {
    background: #ebebeb;
    padding: 12px;
    border-top: 1px solid var(--color-l-grey);
    position: relative;
    z-index: 1;

}
.login__container .txt{
    font-size: 15px;
    display: block;
    text-transform: none;
    color: var(--color-black);
    font-weight: normal;
    text-align: center;
}
.login-wrap {
    background: var(--color-l-grn);
    width: 400px;
    position: absolute;
    border: 1px solid var(--color-l-grey);
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.login-wrap:before,
.login-wrap:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.login-wrap:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.login p {
    padding: 22px 12px;
}
.login p.separator,
.login p.input {
    padding: 12px;
    position: relative;
}
.login__error {
    font-size: 13px;
    position: absolute;
    color: red;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

.center {
    text-align: center;
}

/*.login a,*/
.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 0.7rem;
    outline: 0;
    font-weight: 600;
    font-family: inherit;
    font-size: 0.95em;
    transition: var(--main-trans);
}

.login input[type="text"],
.login input[type="email"],
.login input[type="password"] {
    background: var(--color-white);
    border-color: #bbb;
    color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-color: #888;
}

#register_form .input__error {
    border: 1px solid red;
    transition: var(--main-trans);
}

.login__photo {
    /*padding-top: 30px;*/
}
.login__photo-img {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    min-height: 150px;
    min-width: 150px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid var(--color-l-grn);
}
.login__photo-img .login-img-vertical {
    max-width: 100%;
}

.login__photo-img .login-img-horizontal {
    max-height: 100%;
}
.login__photo-img img{
    width: 100%;
    cursor:pointer
}

#register_form .login__photo-img.input__error {
    border: 2px solid red;
    transition: var(--main-trans);
}

.btn-green,
.btn-orange,
.btn-grey {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 0.7rem;
    outline: 0;
    font-weight: 600;
    font-family: inherit;
    font-size: 0.95rem;
    background: var(--color-grey);
    border-color: transparent;
    color: var(--color-white);
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: var(--main-trans);
    border-radius: 4px;
}
.btn-orange {
    background: var(--color-orange);
}
.btn-green {
    background: var(--color-green);
    color: var(--color-dark);
}
.login input[type="submit"] {
    background: var(--color-l-grn);
    border-color: transparent;
    color: var(--color-white);
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background: var(--color-green);
}

.login .input input {
    display: none;
}
.login .separator.pad0 {
    padding: 0;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
    border-color: var(--color-green);
}
.btn-orange:hover{
    background: var(--color-green);
    border-color: var(--color-grey);
}
.btn-green:hover {
    background: var(--color-orange);
    border-color: var(--color-grey);
    color: var(--color-dark);
}
.btn-grey:hover {
    background: var(--color-dark);
    border-color: var(--color-black);
}
.btn-orange:focus{
    transition: var(--main-trans);
    border-color: var(--color-l-grn);
}
.btn-grey:focus {
    transition: var(--main-trans);
    border-color: var(--color-black);
}

/**/
.register__preview {
    display: block;
    text-align: center;
    font-size: 15px;
    position: relative;
    background: #ebebeb;
    margin: 10px 0;
}

.register__preview b {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    background: #ebebeb;
    z-index: 1;
    text-align: center;
    padding: 0 5px;
    max-width: 60%;
    font-weight: normal;
}
.register__preview:after {
    position: absolute;
    display: block;
    content: '';
    height: 1px;
    top: 50%;
    right: 10px;
    left: 10px;
    background: var(--color-l-grey);
    z-index: 0;
}

.reg-social__link-block {
    position: relative;
}

.reg-social__link-block:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
}

.reg-social__link {
    position: relative;
    display: block;
    width: 20%; /*16.6%;*/
    height: 50px;
    line-height: 50px;
    float: left;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
    color: var(--color-orange);
}
.reg-social__link:before {
    content: '';
    font-family: "PrommuFont";
    font-size: 50px;
    line-height: 50px;
    left: 0;
    top: 0;
    transition: var(--main-trans)
}

.reg-social__link.fb:before {
    content: '\e832';
}

.reg-social__link.vk:before {
    content: '\e833';
}

.reg-social__link.ml:before {
    content: '\e9a0';
}

.reg-social__link.od:before {
    content: '\e9a1';
}

.reg-social__link.go:before {
    content: '\e9a8';
}

.reg-social__link.in:before {
    content: '\e9a3';
}

.reg-social__link.ya:before {
    content: '\e9a9';
}

 .reg-social__link:hover.fb {
    color: #315c99;
}

 .reg-social__link:hover.vk {
    color: #4d76a1;
}

 .reg-social__link:hover.ml {
    color: #1463a6;
}

.reg-social__link:hover.od {
    color: #f88b02;
}

.reg-social__link:hover.go {
    color: #dd4b3e;
}

.reg-social__link:hover.in {
    color: #0275b6;
}

.reg-social__link:hover.ya {
    color: #dc0919;
}

.auth-form__social .reg-social__link.disable {
    filter: grayscale(100%);
    cursor: no-drop;
    color: #878787;
}

.mob-hidden {
    display: none;
}

.login__social-container.five .reg-social__link {
    width: 25%; /*33.33%; /*20%;*/
}
.login__social-container.five{ display: none; }

.login__txt {
    position: absolute;
    width: 400px;
    bottom: 0;
}
.login__txt p{
    padding: 0 1rem;
}
.login__txt a,
.login__txt {
    color: var(--color-grey);
    text-align: center;
    font-size: 13px;
}
.login__txt a{
    cursor: pointer;
}

/* back away
*/
.back__away {
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    display: block;
    color: var(--color-grey);
}

.hinfo{
    color: var(--color-grey);
    font-size: 13px;
}
/* svg
*/
.svg-bg {
    opacity: .4;
    height: 100%;
    width: 100%;
    position: absolute;
    /*background: var(--color-green);*/
    top: 0;
    left: 0;
    z-index: 0;
}



/** Media
 */
@media (max-width: 540px) {
    .login-wrap,
    .login__txt,
    .login {
        width: 300px;
    }
    .login__txt{
        /*display: none;*/
    }
}

@media (max-width: 768px) {
    .login-wrap{
        position: relative;
        top: auto;
        transform: none;
    }
    .login__logo {
        margin-bottom: 40px;
    }
    .reg-social__link {
        width: 20%; /*33.33%;*/
    }
}

@media (max-height: 950px) {

    .login-wrap{
        position: relative;
        top: auto;
        transform: none;
    }
    .login__logo {
        margin-bottom: 40px;
    }
    .login__txt{
        position: relative;
        margin-top: 40px;
    }
}

/* */
.repeat-code.grey{
    color: var(--color-l2-grey);
    cursor: no-drop;
}
.repeat-code.grey em{
    font-style: normal;
    white-space: nowrap;
}













/*
* !!!
*/
.YiiUpload__block {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 1099;
    display: none;
}

.YiiUpload__block > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: center;
}

@media  only screen and (max-width: 768px) {
    .YiiUpload__block > div {
        transform: none;
        top: 0;
        left: 0;
    }
}
/*
.YiiUpload__block > div::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}
*/
.YiiUpload__block > div > div {
    width: 100%;
    max-width: 320px;
    padding: 44px 15px;
    display: inline-block;
}

/* */
.YiiUpload__form-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.YiiUpload__form-body {
    text-align: initial;
}

/* */
.YiiUpload__form {
    width: 100%;
    max-width: 290px;
    padding: 15px;
    margin: 0;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
}

.YiiUpload__form-close {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: -15px;
    top: -15px;
    background: transparent url(/theme/pic/register/sprite.png) 0 0 no-repeat;
    cursor: pointer;
}

.YiiUpload__form .YiiUpload__form-input {
    display: none;
}

.YiiUpload__form-btns {
    text-align: center;
}

.YiiUpload__form-btn {
    display: inline-block;
    padding: 5px;
    margin: 15px 5px 0 5px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ff8300;
    cursor: pointer;
}

.YiiUpload__form-errors {
    color: red;
    font-size: 16px;
    margin-bottom: 15px;
}

/* files */
.YiiUpload__form-files div {
    padding-bottom: 5px
}

.YiiUpload__form-files span {
    font-size: 14px;
    vertical-align: middle;
    margin-right: 5px;
    word-break: break-word;
}

.YiiUpload__delete {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: transparent url(/theme/pic/register/sprite.png) 0 -32px no-repeat;
    cursor: pointer;
    vertical-align: middle;
}

/* result */
.YiiUpload__green {
    color: #abb820;
    font-size: 16px;
}

.YiiUpload__form-result label {
    display: block;
    width: 100%;
    font-weight: normal;
}

.YiiUpload__form-result p {
    margin: 15px 0 0;
    font-weight: bold;
}

.YiiUpload__form-result input {
    width: 100%;
}

/* editor */
.YiiUpload__editor {
    display: none;
    overflow: hidden;
}

.YiiUpload__editor-field {
    width: 100%;
    height: 355px;
    margin-bottom: 30px;
    position: relative;
}

.YiiUpload__editor-prev {
    width: 216px;
    text-align: center;
    position: relative;
    left: -108px;
    margin-left: 50%;
}

.YiiUpload__editor-prev-item {
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.YiiUpload__editor-prev-lg {
    width: 185px;
    height: 200px;
}

.YiiUpload__editor-prev-sm {
    width: 70px;
    height: 70px;
}

.YiiUpload__editor-panel {
    width: 100%;
    text-align: center;

}

.YiiUpload__editor-panel div {
    width: 28px;
    height: 28px;
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;
    background: #ff8300 url(/theme/pic/register/sprite.png) no-repeat;
    border-radius: 5px;
}

.YiiUpload__editor-panel .YiiUpload__editor_l-rotate {
    background-position: 0 -50px;
}

.YiiUpload__editor-panel .YiiUpload__editor_r-rotate {
    background-position: 0 -74px;
}

.YiiUpload__editor-panel .YiiUpload__crop {
    background-position: 0 -99px;
}

.YiiUpload__editor-field input {
    width: 100%;
    height: 35px;
    border: 1px solid #EBEBEB;
    color: #212121;
    position: absolute;
    bottom: -55px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 35px;
}

.YiiUpload__editor-field input:focus {
    outline: none;
}

@media (min-width: 768px) {
    .YiiUpload__editor-field {
        width: 470px;
        height: 470px;
        float: left;
    }

    .YiiUpload__editor-prev {
        float: right;
        margin-left: 0px;
        left: 0;
    }

    .YiiUpload__editor-panel {
        width: 217px;
        display: inline-block;
        float: right;
    }
    .YiiUpload__block > div > div {
        max-width: 700px;
    }
    .YiiUpload__form {
        max-width: 690px;
    }
    .YiiUpload__editor-field {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .YiiUpload__editor-field {
        width: 550px;
        height: 550px;
    }
    .YiiUpload__block > div > div {
        max-width: 800px;
    }
    .YiiUpload__form {
        max-width: 770px;
    }
}

/* snapshot */
.YiiUpload__camera {
    position: relative;
}

.YiiUpload__camera,
.YiiUpload__camera canvas,
.YiiUpload__camera img {
    display: none;
}

.YiiUpload__camera img {
    position: absolute;
    top: 0;
    left: 0;
}

.YiiUpload__camera img,
.YiiUpload__camera video {
    width: 100%;
    height: auto;
}

.YiiUpload__editor-field img{ max-width:100%; }
#my_fancybox{
    text-decoration: none;
}
#my_fancybox:hover{
    text-decoration: underline;
}