.filter__position .filter__content-all,
.filter__position .filter__content-label {
    display: unset;
}

.tpempl__filter-content .tpempl__filter-label {
    display: unset;
}

/**/
#filter-city {
    position: relative;
}
.filter-city-select {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
    border: 1px solid #ebebeb;
    position: relative;
    padding: 0 25px 0 15px;
}
.filter-city-select li:not([data-id="0"]) {
    line-height: 23px;
}

.city-select, .filter-city-select li:not([data-id="0"]) {
    display: inline-block;
    padding: 3px 20px 3px 5px;
    margin: 2px 0 2px 6px;
    background-color: rgba(52,52,52,.6);
    color: #fff;
    line-height: 18px;
    border-radius: 5px;
    position: relative;
}
.filter-city-select b {
    top: 5px;
}

.city-select b, .filter-city-select b ,
.city-select i, .filter-city-select i {
    width: 19px;
    height: 19px;
    display: block;
    position: absolute;
    top: 2px;
    right: 0;
    font-style: normal;
    text-align: center;
    cursor: pointer;
    font-family: "FontAwesome";
}
.city-select b:before, .filter-city-select b:before ,
.city-select i:before, .filter-city-select i:before {
    content: "\f00d";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 20px;
}
#filter-city .filter-city-select input {
    padding: 0;
    border: none;
    background: 0 0;
    margin: 2px 0 2px 6px;
    height: 29px;
}
.select-list {
    max-height: 300px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    border-top: none;
    list-style: none;
    background-color: rgba(52,52,52,.6);
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    z-index: 2;
    font-family: RobotoCondensed-Regular,verdana,arial;
    font-size: 14px;
    color: #fff;
}

#filter-city .select-list li {
    padding: 0 15px;
    text-align: left;
}

.select-list li {
    width: 100%;
    line-height: 30px;
    padding: 3px 6px;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
