/*Header of footer*/
#footer-head {
  padding-bottom: 25px;
}
#footer-head .logo {
    display: block;
    float: left;
    width: 98px;
    height: 37px;
    background: url(/theme/pic/logo-footer-xs.png) 0 4px no-repeat;
    margin-top: 25px;
}

#footer-head .feedback {
  background-color: #ff9900;
  line-height: 30px;
  border: 2px solid #ff9900;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 0px;
  border-radius: 5px;
}
#footer-head .enter {
    position: absolute;
    right: 15px;
    top: 26px;
    z-index: 100;
}

#footer-head .enter__login {
    width: 81px;
}

#footer-head .enter__link {
    display: inline-block;
    line-height: 30px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: .3s all;
    border-radius: 5px;
    border: 2px solid #abb820;
    color: #abb92a;
}
#footer-head .enter__register {
  background: #abb820;
}
#footer-head .enter__register .enter__link {
    color: #ffffff;
}
#footer-head a {
    color: #abb92a;
}
#footer-head .enter__register {
    display: inline-block;
    position: relative;
    border-radius: 5px;
}
#footer-head .enter__register-link {
    width: 133px;
}
#footer-head .enter__link:hover {
    background: #abb820;
    transition: .3s all;
}
#footer-head a {
    color: #ffffff;
}
#footer-head .enter__register i {
    display: inline-block;
    position: relative;
    margin: 0 0 -1px;
    width: 11px;
    height: 10px;
    background: url(/theme/pic/ico-tri.png) no-repeat;
}
#footer-head .enter ul {
    display: none;
    position: absolute;
    padding: 0;
    right: 0;
    width: 133px;
    background: #e3e3e3;
    list-style: none;
}
#footer-head .enter ul {
    display: none;
    position: absolute;
    padding: 0;
    right: 0;
    width: 133px;
    background: #e3e3e3;
    list-style: none;
}
#footer-head .enter__register a.items {
    display: block;
    padding: 0 6px;
    line-height: 25px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    transition: .3s all;
}
#footer-head .enter__register a.items:hover {
    background: #d0dc54;
    transition: .3s all;
}
#footer-head .enter__register:hover ul {
    display: block;
}


/*Content of footer*/
#footer-content {
  padding: 0 15px;
}

#DiFooter .menu a {
  padding: 0;
  margin-bottom: 20px;
  display:block;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
}

#footer-content .footer__big-menu {
  background-color: #2b2b2b;
  padding-top: 20px;
  padding-bottom: 10px;
}
#footer-content .footer__big-menu .menu{
  margin-left: 0;
  margin-right: 0;
}
#footer-content .footer__download {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
#DiFooter .footer__social {
  display: block;
}
.join-us {
  padding-top: 25px;
  padding-bottom: 25px;
}
.app-links {
  display: block;
}
.app-links a{
  float: none;
}
.appstore-bottom-link {
    width: 149px;
    height: 45px;
    background: url(/theme/pic/app-store.png) no-repeat;
    display: block;
    position: relative;
    margin: 5px auto;
    z-index: 1;
}
.app-bottom-link {
  position: relative;
  background: url(/theme/pic/google-play.png) no-repeat;
  margin: 0 auto;
}
.app-bottom-link:before {
  display: none;
}
#DiFooter .menu {
    display: block;
    color: #fff;
    text-align: center;
}
#DiFooter .social {
  position: relative;
  margin: 0;
}
.social_icons {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.social_icons .icon {
  width: 54px;
  height:54px;
  display: block;
  margin: 5px auto;
}
.social_icons .fb{
  background: url(/theme/pic/facebook.png) no-repeat;
}
.social_icons .vk{
  background: url(/theme/pic/vk.png) no-repeat;
}
.social_icons .tl{
  background: url(/theme/pic/telegram.png) no-repeat;
}


/*Tegs of footer*/
#footer-tegs .row {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
  margin-bottom: 5px;
  max-height: 128px;
  overflow-y: hidden;
  margin-top: 24px;
  margin-bottom: 24px;
}

.footer__cities {
    text-align: center;
    margin-bottom: 12px;
    background-color: #2b2b2b;
    padding: 15px 28px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
    margin-left: 0px;
}
.footer__cities:hover {
  background-color: #abb92a;
}
#DiFooter .footer__cities a {
    text-decoration: none;
    color: #989898;
}

#copyright .footer__slogan {
  font-family: RobotoCondensed-Regular, verdana, arial;
  font-size: 18px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #343434;
}
#copyright p {
  margin-bottom: 0;
}
#DiFooter {
  padding-bottom: 0;
}








@media (min-width: 768px) {
/*Header of footer*/
  #footer-head .logo{
    margin-top: 20px;
    width: 142px;
    height: 40px;
    background: url(/theme/pic/logo-footer-sm.png) 0 0px no-repeat;
  }
  #footer-head .feedback {
    background-color: #ff9900;
    line-height: 30px;
    border: 2px solid #ff9900;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 5px;
    top: 26px;
    border-radius: 5px;
  }
  #footer-head .enter {
      position: absolute;
      right: 15px;
      top: 26px;
      z-index: 100;
      border: 0;
  }
  #footer-head .enter__register:hover {
    background: #e3e3e3;
  }
  #footer-head .enter__register a:hover {
    background: #e3e3e3;
    border-color: #e3e3e3;
  }

  #footer-head .enter__login {
    margin-right: 5px;
  }
  #footer-head .enter ul, #DiFooter .enter__register {
    background: #abb820;
  }

  #footer-head .enter__login:hover, #footer-head .enter__register a {
    color: #fff;
  }
  #footer-head .enter__register i {
      display: none;
  }
  #footer-head .enter ul, #footer-head .enter__register {
      background: #abb820;
  }
  #footer-head .enter__register a.items {
      color: #fff;
      line-height: 27px;
  }
  #footer-head .enter__register a.items:hover {
    background: #838d18;
  }

/*Content of footer*/
#footer-content .pd-script {
  display:flex !important;
  display: -ms-flexbox !important;
  margin-right: 0;
}
  #DiFooter .menu {
    margin-top: 0;
  }
.app-bottom-link {
  bottom: 0;
  right: 0;
}
#footer-content .footer__download {
  background-color: #2b2b2b;
  border-radius: 0 10px 10px 0;
}
.social_icons .icon {
  display: block;
  margin: 5px auto;
}

  /*Tegs of footer*/
  .footer__cities {
    position: relative;
    top: 0;
  }
}

@media (min-width: 992px) {

  #footer-head #description {
    display: inline-block;
    margin-left: 15px;
    margin-top: 0;
  }
  .app-bottom-link {
    top: 0;
    right: 0;
    bottom: initial;
  }

  .footer__cities {
    bottom: 0;
    left: 0;
  }
}

@media (min-width: 1200px) {
  #footer-head .feedback {
    margin-right: 8vw;
  }

  .footer__cities {
      left: 0%;
  }
  .app-links {
    display: inline-block;
    margin: 20px auto 0;
  }
  .social_icons .icon {
    display:inline-block;
  }
  .app-links a{
    float: left;
  }
  .app-bottom-link {

  }
  .appstore-bottom-link {
    margin: 0 0 0 20px;
  }
}









@media (max-width: 767px) {
  .m-bottom-registration {
    display: none;
  }
  #DiFooter {
    background: #212121;
  }
  .social_icons .icon {
    display:inline-block;
  }
  .footer__slogan {
    max-width: 1000px;
  }
}
@media (max-width: 576px) {
  #footer-head .logo {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
  #footer-head .enter {
    position: relative;
    top: 0;
    right: 0;
    margin: 15px auto;
    text-align: center;
  }
  #footer-head .feedback {
    display: block;
    width: 159px;
    margin: 10px auto;
  }

}
