/*Header of footer*/
#DiFooter .logo {
    display: block;
    float: left;
    width: 98px;
    height: 37px;
    background: url(/theme/pic/logo-footer-xs.png) 0 4px no-repeat;
}
#DiFooter #description {
  display: inline-block;
  margin-left: 15px;
  margin-top: 0;
}
#DiFooter .feedback {
  background-color: #ff9900;
  line-height: 30px;
  border: 2px solid #ff9900;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 125px;
  top: 39px;
  border-radius: 5px;
}
#DiFooter .enter {
    position: absolute;
    right: 15px;
    top: 39px;
    border: 2px solid #fff;
    z-index: 100;
}

#DiFooter .enter__login {
    width: 81px;
}
#DiFooter .enter__link {
    display: inline-block;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: .3s all;
    border-radius: 5px;
}
#DiFooter a {
    color: #abb92a;
}
#DiFooter .enter__register {
    display: inline-block;
    position: relative;
    border-left: 1px solid #fff;
    border-radius: 5px;
}
#DiFooter .enter__register-link {
    width: 133px;
}
#DiFooter .enter__link {
    display: inline-block;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: .3s all;
}
#DiFooter .enter__link:hover {
    background: #abb820;
    transition: .3s all;
}
#DiFooter a {
    color: #ffffff;
}
#DiFooter .enter__register i {
    display: inline-block;
    position: relative;
    margin: 0 0 -1px;
    width: 11px;
    height: 10px;
    background: url(/theme/pic/ico-tri.png) no-repeat;
}
#DiFooter .enter ul {
    display: none;
    position: absolute;
    padding: 0;
    right: 0;
    width: 133px;
    background: #e3e3e3;
    list-style: none;
}
#DiFooter .enter ul {
    display: none;
    position: absolute;
    padding: 0;
    right: 0;
    width: 133px;
    background: #e3e3e3;
    list-style: none;
}
#DiFooter .enter__register a.items {
    display: block;
    padding: 0 6px;
    line-height: 25px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    transition: .3s all;
}
#DiFooter .enter__register a.items:hover {
    background: #d0dc54;
    transition: .3s all;
}
#DiFooter .enter__register:hover ul {
    display: block;
}


/*Content of footer*/
#footer-content .row {
  display:flex !important;
  display: -ms-flexbox !important;
}
.footer__big-menu {
  background-color: #2b2b2b;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px 0 0 10px;
}
.footer__download {
  background-color: #2b2b2b;
  border-radius: 0 10px 10px 0;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.join-us {
  padding-top: 25px;
  padding-bottom: 25px;
}
.app-links {
  margin: 20px auto 0;
  display: inline-block;
}
.app-links a{
  float: left;
}
.appstore-bottom-link {
    width: 149px;
    height: 45px;
    background: url(/theme/pic/app-message/app_store.svg) no-repeat;
    display: block;
    position: relative;
    margin: 0 0 0 20px;
    z-index: 1;
}
.social_icons {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}


/*Tegs of footer*/
#footer-tags {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
  margin-bottom: 5px;
}

.footer__cities {
    text-align: center;
    margin-bottom: 20px;
    background-color: #2b2b2b;
    padding: 15px 28px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
}
.footer__cities:hover {
  background-color: #abb92a;
}
#DiFooter .footer__cities a {
    text-decoration: none;
    color: #989898;
}
.line{
  border-bottom: 1px solid #343434;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
.footer__slogan {
  font-family: RobotoCondensed-Regular, verdana, arial;
  font-size: 18px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
}


@media (min-width: 768px) {
/*Header of footer*/
  #DiFooter .logo{
    margin-top: 20px;
    width: 142px;
    height: 40px;
    background: url(/theme/pic/logo-footer-sm.png) 0 0px no-repeat;
  }
  #DiFooter .feedback {
    top:26px;
  }
  #DiFooter .enter {
    top: 26px;
    border: 0;
  }
  #DiFooter .enter__link {
    border: 2px solid #abb820;
    color: #abb92a;
  }
  #DiFooter .enter__register:hover {
    background: #e3e3e3;
  }
  #DiFooter .enter__register a:hover {
    background: #e3e3e3;
    border-color: #e3e3e3;
  }

  #DiFooter .enter__login {
    margin-right: 5px;
  }
  #DiFooter .enter ul, #DiFooter .enter__register {
    background: #abb820;
  }
  #DiFooter .enter__link {
      border: 2px solid #abb820;
      color: #ffffff;
  }
  #DiFooter .enter__login:hover, #DiFooter .enter__register a {
    color: #fff;
  }
  #DiFooter .enter__register i {
      display: none;
  }
  #DiFooter .enter ul, #DiFooter .enter__register {
      background: #abb820;
  }
  #DiFooter .enter__register a.items {
      color: #fff;
      line-height: 27px;
  }
  #DiFooter .enter__register a.items:hover {
    background: #838d18;
  }

/*Content of footer*/
.app-bottom-link {
    margin: 0;
    position: relative;
    bottom: 0;
    right: 0;
  }
  #DiFooter .menu {
    margin-top: 0;
  }
#DiFooter .menu a {
  padding: 0;
  margin-bottom: 20px;
  display:block;
}


  /*Tegs of footer*/
  .footer__cities {
    position: relative;
    top: 0;
  }
}

@media (min-width: 992px) {
  .app-bottom-link {
    top: 0;
    right: 0;
    bottom: initial;
  }
  #DiFooter .social {
    position: relative;
    margin: 0;
  }
  .footer__cities {
    bottom: 0;
    left: 0;
  }
}

@media (min-width: 1200px) {
  .footer__cities {
      left: 0%;
  }
}
