#DiContent #MWwrapper .mw-bg, #MWwrapper .mw-bg { display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; background: #000; opacity: .5; z-index: 1000000; }

#DiContent #MWwrapper .mw-win, #MWwrapper .mw-win { display: none; position: fixed; top: 50%; padding: 20px 40px; background: #fff; border: 1px solid silver; z-index: 1000000; }

#DiContent #MWwrapper .mw-close, #MWwrapper .mw-close { display: block; position: absolute; width: 36px; height: 36px; right: -18px; top: -18px; background: transparent url(/theme/pic/ico-mw.png) -44px 0 no-repeat; }

#DiContent #MWwrapper .mw-close i, #MWwrapper .mw-close i { display: block; width: 36px; height: 36px; background: transparent url(/theme/pic/ico-mw.png) 0px 0 no-repeat; opacity: 0; transition: opacity .5s; }

#DiContent #MWwrapper .mw-close:hover i, #MWwrapper .mw-close:hover i { opacity: 1; }

#DiContent #MWwrapper .header, #MWwrapper .header { position: relative; margin: 20px 0 0 0; width: 100%; border-top: 1px solid #abb820; text-align: center; }

#DiContent #MWwrapper .header div, #MWwrapper .header div { display: inline-block; position: relative; top: -10px; padding: 0 15px; background: #fff; font-size: 14px; text-transform: uppercase; font-family: Roboto-Regular, verdana, arial; font-weight: bold; }

#DiContent #MWwrapper .header2, #MWwrapper .header2 { margin: -5px 0 25px; font-size: 14px; text-transform: uppercase; color: #abb820; font-family: Roboto-Regular, verdana, arial; font-weight: bold; text-align: center; }

#DiContent #MWwrapper .field-t2-hor, #MWwrapper .field-t2-hor { display: block; margin-bottom: 10px; font-family: Roboto-Regular, verdana, arial; }

#DiContent #MWwrapper .field-t2-hor b, #MWwrapper .field-t2-hor b { display: inline-block; font-size: 14px; }

#DiContent #MWwrapper .field-t2-hor input[type=text], #MWwrapper .field-t2-hor input[type=text] { padding: 3px 10px; font-size: 13px; font-family: Roboto-Regular; background: #fff; border-radius: 0; }

#DiContent #MWwrapper .btn-white-green-2, #MWwrapper .btn-white-green-2 { text-align: center; }

#DiContent #MWwrapper .btn-white-green-2 a, #DiContent #MWwrapper .btn-white-green-2 button, #MWwrapper .btn-white-green-2 a, #MWwrapper .btn-white-green-2 button { display: inline-block; padding: 5px 35px; background: #fff; border: 1px solid #abb820; color: #abb820; font-size: 14px; font-family: RobotoCondensed-Regular, verdana, arial; text-transform: uppercase; transition: background .5s, color .5s; }

#DiContent #MWwrapper .btn-white-green-2 a:hover, #DiContent #MWwrapper .btn-white-green-2 button:hover, #MWwrapper .btn-white-green-2 a:hover, #MWwrapper .btn-white-green-2 button:hover { background: #abb820; color: #FFF; }

#DiContent #MWwrapper .button-action, #MWwrapper .button-action { text-align: center; }

#DiContent #MWwrapper .button-action button, #MWwrapper .button-action button { display: inline-block; margin: 20px 0 0; padding: 5px 15px; line-height: 16px; text-decoration: none; color: #212121; font-weight: bold; text-transform: uppercase; font-family: RobotoCondensed-Regular; border: 1px solid #212121; border-radius: 3px; font-size: 10px; text-align: center; transition: .3s all; background: #fff !important; font-size: 13px; }

#DiContent #MWwrapper .button-action button:hover, #MWwrapper .button-action button:hover { color: #fff; background: #abb820 !important; }

#DiContent #MWwrapper .loading, #MWwrapper .loading { display: block; position: absolute; margin: -26px 0 0 -26px; left: 50%; top: 50%; padding: 10px; border: 1px solid silver; border-radius: 5px; background: #fff; }

#DiContent #MWwrapper .loading i, #MWwrapper .loading i { display: block; width: 32px; height: 32px; background: transparent url(/theme/pic/loading1.gif) 0 0 no-repeat; }
