/*
*		VACANCY FOR NOT EMPLOYER
*/
#DiContent .single-vacancy{
	width: 100%;
	max-width: 730px;
	margin: 0 auto;
	font-family: RobotoCondensed-Regular, verdana, arial;
}
.single-vacancy__num{
	color: #484848;
	font-size: 18px;
	margin: 15px 0 10px;
}
/*	*/
.sv__logo-link{
	width: 100%;
	max-width: 300px;
	display: block;
	margin: 0 auto 10px;
	border: 1px solid #ABB837;
	border-radius: 50%;
	overflow: hidden;
}
.sv__logo-img{ width: 100% }
.sv__logo-name{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ABB837;
	color: #444444;
	text-align: center;
}
/*	*/
.sv__data-main{
	width: 100%;
	min-height: 35px;
	margin-top: 3px;
	border-bottom: 1px solid #ABB837;
	position: relative;
	display: table;
	vertical-align: middle;
}
.sv__data-main:before{
	content: '';
	width: 5px;
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 0;
	background-color: #ABB837;
}
#DiContent .sv__data-vacansies{  
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	padding: 5px 20px;
	color: #abb837;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}
.sv__data-payment{
	max-width: 160px;
	display: table-cell;
	vertical-align: middle;
	padding: 5px 25px;
	background-color: #ABB837;
}
.sv__data-payment-item{
	display: block;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}
#DiContent .sv__data-title{
	color: #343434;
	padding: 5px 20px;
	margin: 3px 0 0 0;
	line-height: 25px;
	font-size: 14px;
	font-weight: normal;
}
.sv__data-pubdate{ margin-bottom: 60px }
.sv__data-pubdate-item{
	line-height: 21px;
	padding: 7px 20px;
	display: inline-block;
}
.sv__data-pubdate-item b{ padding-left: 5px }
/*	*/
#DiContent .sv__data-subtitle{
	position: relative;
	margin: 0 0 15px;
	position: relative;
	display: block;
}
#DiContent .sv__data-subtitle h3{
	display: inline-block;
	margin: 0;
	padding: 0 10px;
	color: #ABB837;
	background-color: #FFFFFF;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
	position: relative;
	z-index: 1;
}
#DiContent .sv__data-subtitle:after{
	content: '';
	width: 100%;
	position: absolute;
	top: 11px;
	left: 0;
	border-top: 1px solid #ABB837;
}
.sv__attributes-item{
	width: 100%;
	min-height: 35px;
	margin-bottom: 5px;
	padding-left: 35px;
	position: relative;   
}
.sv__attributes-item:before{
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	top: 2px;
	left: 0;
	background: url(/theme/pic/vacancy/vacancy-sprite-small.png) 0 0 no-repeat;
}
.sv__attributes-item.ico1:before{ background-position: 0px 0px }
.sv__attributes-item.ico2:before{ background-position: 0px -30px }
.sv__attributes-item.ico3:before{ background-position: 0px -60px }
.sv__attributes-item.ico4:before{ background-position: 0px -90px }
.sv__attributes-item.ico5:before{ background-position: 0px -120px }
.sv__attributes-item.ico6:before{ background-position: 0px -150px }
.sv__attributes-item.ico7:before{ background-position: 0px -180px }
.sv__attributes-item.ico8:before{ background-position: 0px -210px }
.sv__attributes-item.ico9:before{ background-position: 0px -240px }
.sv__attributes-item.ico10:before{ background-position: 0px -270px }
.sv__attributes-item.ico11:before{ background-position: 0px -300px }
.sv__attributes-item.ico12:before{ background-position: 0px -330px }
.sv__attributes-item.ico13:before{ background-position: 0px -568px }
.sv__attributes-item.ico14:before{ background-position: 0px -600px }
.sv__attributes-item.ico15:before{ background-position: 0px -630px }
.sv__attributes-item.ico16:before{ background-position: 0px -660px }
.sv__attributes-name{
	width: 65%;
	float: left;
	line-height: 35px;
	font-size: 14px;
	position: relative;
}
.sv__attributes-name b{ 
	background-color: #FFFFFF;
	position: relative;
	z-index: 1;
	padding-right: 5px;
	line-height: 35px;
}
.sv__attributes-name:before{
	content: '';
	top: 22px;
	right: 2px;
	left: 0;
	border-top: 1px dotted #343434;
	position: absolute;
	z-index: 0;
}
.sv__attributes-val{
	width: 35%;
	float: left;
	padding-top: 8px;
	font-size: 14px;
}
.sv__attributes,
.sv__checkbox-attr,
.sv__textblock{ margin: 15px 0 }
.sv__checkbox-attr-item{
	width: 33.33%;
	float: left;
	vertical-align: middle;
}
.sv__checkbox-attr-item:after{
	content: '';
	width: 41px;
	height: 34px;
	vertical-align: middle;
	display: inline-block;
	background: url(/theme/pic/vacancy/vacancy-sprite-big.png) 0 0 no-repeat;
}
.sv__checkbox-attr-item.med:after{ background-position: 7px 0px }
.sv__checkbox-attr-item.auto:after{ background-position: 7px -34px }
.sv__checkbox-attr-item.smart:after{ background-position: 7px -68px }
.sv__checkbox-attr-item.pcard:after{ background-position: 3px -138px }
.sv__checkbox-attr-item.card:after{ background-position: 3px -174px }
.sv__textblock-title{
	padding-left: 30px;
	margin: 20px 0 15px;
	position: relative;
}
.sv__textblock-title span{
	color: #878787;
	font-size: 14px;
	padding-right: 10px;
	text-transform: uppercase;
	background-color: #FFFFFF;
	position: relative;
	z-index: 1;
}
.sv__textblock-title:before{
	content: '';
	width: 25px;
	height: 20px;
	position: absolute;
	top: 0px;
	left: 0;
	background: url(/theme/pic/vacancy/vacancy-sprite-small.png) 0 0 no-repeat;
}
.sv__textblock-title.ico1:before{ background-position: 0px -485px }
.sv__textblock-title.ico2:before{ background-position: 0px -515px }
.sv__textblock-title.ico3:before{ background-position: 0px -544px }
.sv__textblock-title:after{
	content: '';
	height: 9px;
	display: block;
	position: absolute;
	top: 5px;
	right: 0;
	left: 30px;
	background-color: #ABB837;
	z-index: 0;
}
.sv__textblock-text{
	padding: 12px 15px;
	border: 1px solid #ABB837;
	word-wrap: break-word;
}
#DiContent .single-vacancy__data .btn-orange-fix-wr a{
	width: 100%;
	padding: 5px 0;
	max-width: 250px;
}
/*	*/
.sv__data-line{
	width: 100%;
	margin: 15px 0;
	border-top: 1px solid #CDCDCD;
}
.sv__data-city{
	width: 100%;
	min-height: 35px;
	padding-left: 35px;
	position: relative;
	margin-bottom: 20px;
}
.sv__data-city:before {
    content: '';
    width: 25px;
    height: 30px;
    position: absolute;
    top: 2px;
    left: 0;
    background: url(/theme/pic/vacancy/vacancy-sprite-small.png) 0 0 no-repeat;
}
.sv__data-city.city:before{ background-position: 0px -360px }
.sv__data-city.loc:before{ background-position: 0px -390px }
.sv__data-city.addr:before{ background-position: 0px -420px }
.sv__data-city.time:before{ background-position: 0px -450px }
.sv__data-city:after{
	content: '';
	top: 22px;
	right: 45%;
	left: 35px;
	border-top: 1px dotted #343434;
	position: absolute;
	z-index: 0;
}
.city.sv__data-city:after{ right: 30% }
.sv__data-city-name{
	width: 50%;
	float: left;
	position: relative;
}
.city .sv__data-city-name{ width: 60% }
.sv__data-city-name span{
	text-transform: uppercase;
	font-size: 18px;
	line-height: 35px;
	color: #ABB837;
	font-weight: bold;
	padding-right: 5px;
	background-color: #FFFFFF;
	position: relative;
	z-index: 1;
}
.sv__data-city-val{
	max-width: 50%;
	float: left;
	font-size: 18px;
	text-transform: uppercase;
	color: #343434;
	font-weight: bold;
	line-height: 35px;
	padding: 0 20px 0 5px;
	background-color: #FFFFFF;
	position: relative;
	z-index: 1;
}
.sv__data-city-val:after{
	content: '';
	width: 15px;
	height: 15px;
	background-color: #ABB837;
	display: block;
	position: absolute;
	top: 10px;
	right: 0;
}
.sv__data-calendar{
	height: 34px;
	display: inline-block;
	padding-left: 45px;
	position: relative;
}
/*	CALENDAR */
.sv__data-calendar>div{
	width: 260px;
	padding: 0 8px 8px;
	background-color: #F5F5F5;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	border: 1px solid #BCBCBC;
	border-radius: 5px;
	display: none;
}
.sv__data-calendar>div:before{
	content: '';
	width: 100%;
	height: 36px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 1px solid #BCBCBC;
	background: #fd9d38;
	background: -moz-linear-gradient(top, #fd9d38 0%, #ff8301 100%);
	background: -webkit-linear-gradient(top, #fd9d38 0%,#ff8301 100%);
	background: linear-gradient(to bottom, #fd9d38 0%,#ff8301 100%);
	z-index: 0;
}
.sv__data-calendar>div:after{
	content: '';
	width: 100%;
	height: 27px;
	display: block;
	position: absolute;
	top: 36px;
	left: 0;
	background-color: #EDEDED;
	z-index: 0;
}
.sv__data-calendar table{ 
	width: 100%;
	position: relative;
	z-index: 1;
}
.sv__data-calendar td{ 
	text-align: center;
	position: relative;
}
.sv__data-calendar td>span{	
	width: 24px;
	height: 24px;
	margin: 8px auto;
	display: block;
	background-color: #D3D3D3;
	border: 1px solid transparent;
	line-height: 22px;
	border-radius: 3px;	
}
.sv__data-calendar .day>span{
	color: #707070;
	border: 1px solid #BDBDBD;
	line-height: 22px;
	background-color: transparent;
}
.sv__data-calendar .today>span{ 
	background-color: #FF8505;
	color: #FFFFFF;
	border: none; 
}
.sv__data-calendar .active>span{
	background-color: #ABB820;
	color: #FFFFFF;
	border: none;	
}
.sv__data-calendar td>div{
	min-height: 20px;
	position: absolute;
	top: 0;
	left: 30px;
	z-index: 2;
	padding: 3px 13px 13px;
	border: 1px solid #A2A2A2;
	background-color: #F5F5F5;
	border-radius: 3px;
	display: none;
	white-space: nowrap;
	text-align: left;
}
.sv__data-calendar .active:hover>div{
	display: block;
}
.sv__data-calendar strong{
	color: #ABB820;
	padding-top: 10px;
	text-transform: uppercase;
	display: inline-block;
}
.sv__data-calendar td>div:before,
.sv__data-calendar td>div:after{
	content: '';
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	position: absolute;
	top: 11px;
}
.sv__data-calendar td>div:before{
	border-right: 9px solid #A2A2A2;
	left: -9px
}
.sv__data-calendar td>div:after{
	border-right: 9px solid #F5F5F5;
	left: -8px
}
.sv__data-calendar thead tr:first-child{
	height: 35px;
	border-bottom: 1px solid #BCBCBC;
	color: #FFFFFF;
	background: #fd9d38;
	background: -moz-linear-gradient(top, #fd9d38 0%, #ff8301 100%);
	background: -webkit-linear-gradient(top, #fd9d38 0%,#ff8301 100%);
	background: linear-gradient(to bottom, #fd9d38 0%,#ff8301 100%);
}
.sv__data-calendar thead tr:last-child{
	background-color: #EDEDED;
	height: 28px;
	color: #A2A2A2;
	text-transform: uppercase;
}
.sv__data-calendar .mname{
	text-shadow: 0px -1px 0px #666666;
}
.sv__data-calendar .mleft,
.sv__data-calendar .mright{ 
	position: relative;
	cursor: pointer;
}
.sv__data-calendar .mleft:before,
.sv__data-calendar .mright:before{
	content: '';
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	position: absolute;
	top: 11px;
}
.sv__data-calendar .mleft:before{ border-right: 6px solid white }
.sv__data-calendar .mright:before{ border-left: 6px solid white }
/*	*/
.sv__data-calendar:before{
	content: '';
	width: 34px;
	height: 34px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;   
	background: url(/theme/pic/vacancy/vacancy-sprite-big.png) 0 -103px no-repeat;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	cursor: pointer;
}
.sv__data-calendar:hover:before{ opacity: 0.7 }
.sv__data-calendar-name{
	display: block;
	color: #ABB837;
	font-weight: bold;
	text-decoration: underline;
	line-height: 34px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	cursor: pointer;
}
.sv__data-calendar:hover>span{ opacity: 0.7 }
.sv__data-city.loc,
.sv__data-city.addr,
.sv__data-city.time{ margin: 0 }
.sv__data-city.loc span,
.sv__data-city.addr span,
.sv__data-city.time span{
	color: #343434;
	font-size: 14px;
	text-transform: none;
}
.sv__data-city.loc .sv__data-city-val,
.sv__data-city.addr .sv__data-city-val{ font-weight: normal }
.sv__data-city.loc .sv__data-city-val,
.sv__data-city.addr .sv__data-city-val,
.sv__data-city.time .sv__data-city-val{ padding-right: 0 }
.sv__data-city.loc .sv__data-city-val:after,
.sv__data-city.addr .sv__data-city-val:after,
.sv__data-city.time .sv__data-city-val:after{ display: none; }


#DiContent.page-vacancy .erv__tab-link{
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	font-size: 12px;
	margin: 0 0 30px;
	padding: 0 0 0 25px;
	line-height: 16px;
}
#DiContent.page-vacancy .erv__tab-link:before{
	content: '';
    display: block;
    position: absolute;
    width: 21px;
    height: 16px;
    left: 0;
    top: 0;
    /*background: transparent url(/theme/pic/ico-icons-03.png) 0 -352px no-repeat;*/
    background: transparent url(/theme/pic/vacancy/vac-tabs-icon.png) 0 0 no-repeat;
}
#DiContent.page-vacancy .erv__tab-link.link4:before{ background-position: 0px -54px }
.vac__error .sv__textblock-title span{
	color:red;
}
.vac__error .sv__textblock-title{
	padding-left: 0px;
}
.vac__error .sv__textblock-title:after{
	background-color: red;
}
.vac__error .sv__textblock-text{
	border: 1px solid red;
}
/*
*		MEDIA
*/
@media (min-width: 768px){
	#DiContent .single-vacancy__logo{
		width: 30%;
	}
	#DiContent .single-vacancy__data{
		width: 70%;
		padding-left: 0;
	}
}



/********************************/
 .vac__popup {
	 border-radius:10px;
	 display: none;
	 width: 100%;
	 max-width: 350px;
	 font-size: 18px;
	 text-align: center!important;
	 background: #5aad17;
	 background: -moz-linear-gradient(-45deg, #5aad17 0%, #0f4801 100%);
	 background: -webkit-linear-gradient(-45deg, #5aad17 0%, #0f4801 100%);
	 background: linear-gradient(135deg, #5aad17 0%, #0f4801 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5aad17', endColorstr='#0f4801', GradientType=1);
	 padding: 40px;
	 border: none;
	 font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	 color: #FFFFFF;
 }

.vac__popup p {
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
}

.vac__popup a {
	color: white;
	text-decoration: underline;
}

.btn-response-popup .hvr-sweep-to-right {
	outline: none;
}
/********************************/