/*
*		FILTER
*/
.page-search-ankety .select2-container--default .select2-selection--multiple{
	width: 100%;
	min-height: 35px;
	padding: 0 15px;
	background-color: transparent;
	border: 1px solid #EBEBEB;
	font-size: 14px;
	color: #646464;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	border-radius: 0px;
}
.page-search-ankety .select2-container--default.select2-container--focus .select2-selection--multiple{
	border: 1px solid #EBEBEB;
	outline: 0;
}
.page-search-ankety .select2-container--default .select2-selection--multiple .select2-selection__choice{
	background-color: rgba(52, 52, 52, 0.6);
	color: #FFFFFF;
	border-color: #858585;
}

#DiContent.page-vacancy .page-search-ankety .filter .filter-content label{
	font-size: 14px;
	color: #A0A0A0;
	font-family: RobotoCondensed-Regular, verdana, arial;
	text-transform: none;
}
#DiContent.page-vacancy .page-search-ankety .filter .filter-name{
	border: 1px solid #e3e3e3;
}
.page-search-ankety{ position: relative }
.psa__veil{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	background-color: rgba(255,255,255,0.7);
	display: none;
}
.psa__veil:before{
	content: '';
	width: 130px;
	height: 130px;
	position: absolute;
	top: 150px;
	left: -65px;
	background: url(/theme/pic/vacancy/loading.gif) 0 0 no-repeat;
	margin-left: 50%;
}
#psa-additional{
	display: none;
}
.psa__nothing{
	color: #343434;
	font-size: 18px;
}
.psa__view-block{ margin-bottom: 15px }
.psa__view-list,
.psa__view-table{
	width: 19px;
	height: 15px;
	display: block;
	margin-left: 8px;
	float: right;
	background: url(/theme/pic/vacancy/srch-vac-sprite.png) 0 0 no-repeat;
}
.psa__view-list{ background-position: 0 0; }
.psa__view-table{ background-position: 0 -30px; }
.psa__view-list.active{ background-position: 0 -15px; }
.psa__view-table.active{ background-position: 0 -45px; }


.psa__filter-name{
	display: block;
	position: relative;
	margin-bottom: 10px;
	padding: 5px 15px;
	border: 1px solid #e3e3e3;
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
}
.psa__filter-name.opened{
	background: #e3e3e3;
	border-color: #e3e3e3;
}
.psa__filter-name:not(.opened):hover{
    border-color: #abb820;
}
.psa__filter-name:after{
	content: ' ';
	position: absolute;
	right: 15px;
	top: 0;
	border: 10px solid transparent;
	border-bottom: 9px solid #e3e3e3;
}
.psa__filter-name.opened:after{
	bottom: 0;
	top: auto;
	border: 10px solid transparent;
	border-top: 9px solid #fff;
}
.psa__filter-content{
	display: none;
	padding-bottom: 35px;
	text-align: center;
}
.psa__filter-content.opened{ display: block; }
.filter-cities .psa__filter-content{ 
	opacity: 0;
	padding-right: 1px;
}
.filter-cities .psa__filter-content.active{ opacity: 1 }
#DiContent .page-search-ankety .psa__input{
	height: 35px;
	border: 1px solid #EBEBEB;
	background-color: transparent;
	padding: 0 15px;
	color: #343434;
	font-size: 14px;
	font-family: RobotoCondensed-Regular, verdana, arial;
}
.psa__input:focus{ outline: none }
.psa__filter-btn{
	display: block;
	margin: 10px 0 0;
	width: 100px;
	max-width: 220px;
	line-height: 30px;
	text-align: center;
	background: #FF8300;
	color: #FFFFFF;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	cursor: pointer;
	float: right;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.psa__filter-btn:before{
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #BBC823;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.psa__filter-btn:hover:before{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
#DiContent .psa__checkbox-input{ display: none }
#DiContent .psa__checkbox-label {
	display: block;
	position: relative;
	height: 33px;
	line-height: 10px;
	padding: 6px 35px 0 0;
	cursor: pointer;
	font-size: 13.33px;
	color: #a0a0a0;
	text-transform: none
}
.psa__checkbox-label:after {
	display: block;
	position: absolute;
	width: 30px;
	height: 29px;
	right: 0;
	top: 9px;
	font-size: 28px;
	font-family: 'PrommuFont' !important;
	content: '\e98a';
	color: var(--color-ll-grey);
}
.psa__checkbox-label:hover:after {
	content: '\e98a';
	color: var(--color-ll-grey);
}
input:checked + .psa__checkbox-label:after {
	content: '\e989';
	color: var(--color-green);
}

.psa__content{
	margin-top: 0;
	font-family: RobotoCondensed-Regular, verdana, arial;
	font-size: 16px;
}
#DiContent.page-ankety .page-search-ankety .filter{ display: block }
.filter-positions .psa__filter-content.opened{
	height: 170px;
	position: relative;
	overflow: hidden;
}
.more-posts{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #abb820;
	cursor: pointer;
	text-align: right;
	padding-right: 55px;
	line-height: 35px;
	font-size: 16px;
	background: transparent;
	background: -moz-linear-gradient(top, transparent 0%, #FFFFFF 50%, #FFFFFF 100%);
	background: -webkit-linear-gradient(top, transparent 0%,#FFFFFF 50%, #FFFFFF 100%);
	background: url(/theme/pic/vacancy/trnspToWhiteGRT.png) 0 -65px repeat-x;background-size: 100px;
}
.more-posts:hover{ font-weight: bold }
/*		*/
.psa__header{
	padding: 20px 0 15px;
	border-bottom: 1px solid #D6D6D6;
	margin-bottom: 20px;
}
.psa__header-name{
	margin: 0 0 20px;
	display: block;
	color: #343434;
	font-size: 18px;
	text-decoration: underline;
	vertical-align: middle;	  
	text-align: center; 
}
.psa__header-name:before{
	content: '';
	display: inline-block;
	width: 27px;
	height: 27px;
	background: url(/theme/pic/private/vac-list-user-icon.png) no-repeat; 
	vertical-align: middle;
	margin-right: 5px;
}
#DiContent .page-search-ankety .psa__btn{
	line-height: 30px;
	display: block;
	margin: 0 auto;
	padding: 0;
	background: #ff8300;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	position: relative;
	z-index: 1;
	border: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.psa__btn:before{
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ABB837;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.psa__btn:hover:before{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
#DiContent .page-search-ankety .psa__header-btn{ width: 195px; }
.psa__header-title{
	min-height: 19px;
	margin: 0 0 20px;
	display: block;
	color: #343434;
	font-size: 18px;
}
.filter-positions .psa__checkbox-label:nth-child(2){ margin-bottom: 20px }
/*
*		MEDIA
*/
@media (min-width: 768px){
	.psa__header{ padding: 20px 0 15px 80px }
	.psa__header-name{
		margin: 0;
		display: inline-block;
		text-align: left;
	}
	#DiContent .page-search-ankety .psa__header-btn{ 
		margin: 0 30px;
		display: inline-block;
	}
}
/*
*
*/
.psa__filter-vis{
  text-align: center;
  margin-bottom: 20px;
  border: 3px solid #abb820;
  cursor: pointer;
  color: #616161;
  line-height: 35px;
  position: relative;
}
.psa__filter-vis:before,
.psa__filter-vis:after{
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: 10px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #abb820;
}
.psa__filter-vis:before{ left: 10px }
.psa__filter-vis:after{ right: 10px }
.psa__filter-vis.active:before,
.psa__filter-vis.active:after{
  border-bottom: initial;
  border-top: 15px solid #abb820;
}
/*
*
*/
#DiContent .table-view .comm-logo>a:first-child{display:block;border-radius:50%;border:2px solid #CBD880;position:relative;overflow:hidden}
.promo-list__item-onl{width:80%;height:50px;position:absolute;left:10%;bottom:-24px;background-color:#fff;border-radius:50%;border:1px solid #abb820}
.promo-list__item-onl span,.promo-list__item-onl span:hover{color:#abb820;font-size:12px;font-weight:700;position:relative;padding-right:13px}
.promo-list__item-onl span:after{content:'';width:10px;height:10px;position:absolute;right:0;top:4px;display:block;border-radius:50%;background-color:#abb820}
#DiContent .company-logo>a {
    border-radius: 50%;
    border: 2px solid #abb820;
    overflow: hidden;
    display: block;
    position: relative;
}