.services, .services *{ 
	color: #212121;
	font-family: RobotoCondensed-Regular, verdana, arial; 
}
.services{ margin-top: 15px }
.services__item{
	position: relative;
}
.services>div{ padding: 18px 0 10px }
.services>div:first-child{ padding: 8px 0 10px }
.services>div:before{
	position: absolute;
	top: 0;
	right: 35px;
	left: 35px;
	border-top: 1px solid #dedede;
	display: block;
}
.services>div:first-child:before{
	border-top: none;
}
.services__prev{}
.services__detail{}
.services__price,
.services__order{ 
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}
.services__item-icon{
	width: 58px;
	height: 58px;
	border-radius: 50%;
	background: #abb92a url(/theme/pic/services-page/new-services-icons.png) no-repeat;
	position: absolute;
	top: -8px;
	left: 15px;
	z-index: 2;
}
.services__item-icon.premium-vacancy{ background-position: 0 -58px;  }
.services__item-icon.invitations{ background-position: 0 -116px;  }
.services__item-icon.geolocation-staff{ background-position: 0 -174px;  }
.services__item-icon.personal-manager-outsourcing{ background-position: 0 -232px;  }
.services__item-icon.outstaffing{ background-position: 0 -290px;  }
.services__item-icon.prommu_card{ background-position: 0 -348px;  }
.services__item-icon.medical-record{ background-position: 0 -406px;  }
.services__item-icon.api-key-prommu{ background-position: 0 -464px;  }
.services__item-label{
	padding: 10px 15px 10px 57px;
	margin-left: 8px;
	margin-bottom: 13px;
	background-color: #ededed;
	font-size: 16px;
	border-radius: 21px;
	position: relative;
	z-index: 1;
}
.services__item-label.small,
.services__item-label.subsmall{ font-size: 14px }
.services__item-label.small{
	margin-top: -8px;
	padding: 9px 15px 9px 57px;
}
.services__item-label.upper{ text-transform: uppercase }
.services__item-descr{
	padding: 0 0 10px 65px;
	font-size: 14px;
}
#DiContent .services__detail a{
	width: 100%;
	display: block;
	text-align: center;
	font-size: 16px;
	padding: 8px;
	margin: 0 auto 5px;
	border: 2px solid #abb92a;
	border-radius: 21px;
}
#DiContent .services__detail a:hover{
	background-color: #abb92a;
	color: #ffffff;
}
.services__price-item{
	font-size: 16px;
	padding: 8px;
	margin-bottom: 5px;
	border: 1px solid #dedede;
	border-radius: 21px;
	text-align: center;
}
#DiContent .services__order a{
	display: block;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	padding: 8px;
	margin-bottom: 5px;
	border-radius: 21px;
	background-color: #abb92a;
	border: 2px solid #abb92a;
}
#DiContent .services__order a:hover{
	background-color: #ffffff;
	color: #abb92a;
}
#DiContent .services__order a.disable,
#DiContent .services__order a.disable:hover{
	background: #b9b9b9;
	border: 2px solid #b9b9b9;
	color: #ffffff;
}
/*
*
*/
.services__item-sub{
	padding: 8px 0 20px;
}
.services__sublevel{
	padding: 10px 0;
	position: relative;
}
.services__sublevel:before{
	content: '';
	position: absolute;
	top: 0;
	right: 35px;
	left: 35px;
	border-top: 1px solid #dedede;
	display: block;
}
.services__sublevel:nth-child(3):before{
	border-top: none;
}
.services__parent{
	position: relative;
	padding: 0 15px;
}
.services__sub-label{
	padding: 10px 10px 10px 48px;
	margin-bottom: 13px;
	background-color: #ededed;
	font-size: 14px;
	text-align: center;
	border-radius: 21px;
	position: relative;
	overflow: hidden;
}
.services__sub-label:before{
	content: '';
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: #abb92a url(/theme/pic/services-page/new-services-icons.png) no-repeat;
	position: absolute;
	top: -3px;
	left: 0;
}
.services__sub-label.email-invitation:before{ background-position: 0 -522px }
.services__sub-label.push-notification:before{ background-position: 0 -570px }
.services__sub-label.sms-informing-staff:before{ background-position: 0 -618px }
.services__sub-label.publication-vacancy-social-net:before{ background-position: 0 -666px }
.services__sub-descr{ padding: 0 0 10px 10px; }
.services__detail-sub, .services__order-sub{ margin-top: 55px; }
.services__price-order{ 
	width: 100%;
	float: left;
}
.services__price{ width: 100% }
.services__order{ width: 100% }
.services__sublevel .services__item-descr{ padding: 0 15px 10px 65px; }
.services__price-item b{
	font-family: 'RobotoCondensedBold', 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	color: #ee7e00;
	font-size: 18px;
}
.services__price-item span{ color: #f68000 }
.services__price-order>div:after{
	content: '';
	display: block;
	height: 1px;
	background-color: #dedede;
	margin: 0 30px 5px;
}
.services__price-order>div:last-child:after{ content: initial; }
/*
*		MEDIA
*/
@media (min-width: 768px) {
	.services__price-order{ width: 50% }
}
@media (min-width: 992px) {
	.services__parent,
	.services__prev,
	.services__sublevel .services__item-descr{ width: 32% }
	.services__detail{ width: 21% }
	.services__price-order{ width: 47% }
	.services__price{ width: 60% }
	.services__order{ width: 40% }
	#DiContent .services__detail a{ width: 120px }
}