.services, .services * {
  color: #212121;
  font-family: "RobotoCondensed", sans-serif, verdana;
}

.services {
  margin-top: 15px;
  min-height: 160px;
}

.services__item {
  margin-bottom: 15px;
}

.services > div {
  padding: 18px 0 10px
}

.services > div:first-child {
  padding: 8px 0 10px
}

.services > div:before {
  position: absolute;
  top: 0;
  right: 35px;
  left: 35px;
  border-top: 1px solid #dedede;
  display: block;
}

.services > div:first-child:before {
  border-top: none;
}

.services__prev {
}

.services__detail {
}

.services__price,
.services__order {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

.services__item-icon {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: #abb92a;
  position: absolute;
  top: -8px;
  left: 15px;
  z-index: 2;
}

.services__item-icon:after {
  font-family: "PrommuFont";
  content: '';
  color: var(--color-white);
  font-size: 40px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.services__item-icon.creation-vacancy:after {
  content: '\e949';
}

.services__item-icon.podnyatie-vacansyi-vverh:after {
  content: '\e9cc';
  font-size: 45px;
}

.services__item-icon.premium-vacancy:after {
  content: '\e920';
  font-size: 48px;
  top: -6px;
}

.services__item-icon.invitations:after {
  content: '\e92a';
}

@media (max-width: 767px) {
  .services__item-icon.invitations {
    background-position: 0 -116px;
    top: 0;
  }
}

.services__item-icon.geolocation-staff:after {
  content: '\e926';
}

.services__item-icon.personal-manager-outsourcing:after {
  content: '\e927';
}

.services__item-icon.outstaffing:after {
  content: '\e91e';
}

.services__item-icon.prommu_card:after {
  content: '\e921';
}

.services__item-icon.medical-record:after {
  content: '\e931';
}

.services__item-icon.api-key-prommu:after {
  content: '\e91d';
}

.services__item-label {
  padding: 10px 15px 10px 57px;
  margin-left: 8px;
  margin-bottom: 13px;
  background-color: #ededed;
  font-size: 16px;
  border-radius: 21px;
  position: relative;
  z-index: 1;
}

.services__item-label.small,
.services__item-label.subsmall {
  font-size: 14px
}

.services__item-label.small {
  margin-top: -8px;
  padding: 9px 15px 9px 57px;
}

.services__item-label.upper {
  text-transform: uppercase
}

.services__item-descr {
  padding: 0 0 10px 65px;
}

#DiContent .services__detail a {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 16px;
  padding: 8px;
  margin: 0 auto 5px;
  border: 2px solid #abb92a;
  border-radius: 21px;
}

#DiContent .services__detail a:hover {
  background-color: #abb92a;
  color: #ffffff;
}

.services__price-item {
  font-size: 16px;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #dedede;
  border-radius: 21px;
  text-align: center;
}

#DiContent .services__order a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 21px;
  background-color: #abb92a;
  border: 2px solid #abb92a;
}

#DiContent .services__order a:hover {
  background-color: #ffffff;
  color: #abb92a;
}

#DiContent .services__order a.disable,
#DiContent .services__order a.disable:hover {
  background: #b9b9b9;
  border: 2px solid #b9b9b9;
  color: #ffffff;
}

/*
*
*/
.services__item-sub {
  padding: 8px 0 20px;
}

.services__sublevel {
  padding: 10px 0;
  position: relative;
}

.services__sublevel:before {
  content: '';
  position: absolute;
  top: 0;
  right: 35px;
  left: 35px;
  border-top: 1px solid #dedede;
  display: block;
}

.services__sublevel:nth-child(3):before {
  border-top: none;
}

.services__parent {
  position: relative;
  padding: 0 15px;
}

.services__sub-label {
  padding: 10px 10px 10px 48px;
  margin-bottom: 13px;
  background-color: #ededed;
  font-size: 14px;
  text-align: center;
  border-radius: 21px;
  position: relative;
  overflow: hidden;
}

.services__sub-label:before {
  font-family: "PrommuFont";
  content: '';
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #abb92a;
  top: 0;
  left: 0;
  color: var(--color-white);
  font-size: 30px;
  position: absolute;
}

.services__sub-label.personal-invitation:before {
  content: '';
}
.services__sub-label.personal-invitation:after {
  content: '\e9d4';
  font-family: "PrommuFont";
  position: absolute;
  top: 5px;
  font-size: 25px;
  left: 9px;
  color: var(--color-white);
}

.services__sub-label.email-invitation:before {
  content: '\e923';
}

.services__sub-label.push-notification:before {
  content: '\e91f';
}

.services__sub-label.sms-informing-staff:before {
  content: '\e92f';
}

.services__sub-label.publication-vacancy-social-net:before {
  content: '\e928';
}

.services__sub-descr {
  padding: 0 0 10px 10px;
}

.services__detail-sub, .services__order-sub {
  margin-top: 55px;
}

.services__price-order {
  width: 100%;
  float: left;
}

.services__price {
  width: 100%
}

.services__order {
  width: 100%
}

.services__sublevel .services__item-descr {
  padding: 0 15px 10px 65px;
}

.services__price-item b {
  color: #ee7e00;
  font-size: 18px;
}

.services__price-item span {
  color: #f68000
}

.services__price-order > div:after {
  content: '';
  display: block;
  height: 1px;
  /*background-color: #dedede;*/
  margin: 0 30px 5px;
}

.services__price-order > div:last-child:after {
  content: initial;
}

.services__price-haf {
  float: left;
  width: 100%;
}

/*
*		MEDIA
*/
@media (min-width: 768px) {
  .services__price-order {
    width: 50%
  }
}

@media (min-width: 992px) {
  .services__parent,
  .services__prev,
  .services__sublevel .services__item-descr {
    width: 32%
  }

  .services__detail {
    width: 21%
  }

  .services__price-order {
    width: 47%
  }

  /*.services__price {*/
    /*width: 60%*/
  /*}*/

  /*.services__order {*/
    /*width: 40%*/
  /*}*/

  #DiContent .services__detail a {
    width: 120px
  }

  .services__price-haf {
    width: 50%;
  }

}

/*
*
 */
.services > div {
  padding: 0
}

#DiContent .services .row.services__sections {
  position: absolute;
  left: 15px;
  right: 15px;
}

.services__history.disable,
.services__list.disable {
  display: none;
}

.services__sections-item {
  width: 100%;
  min-height: 58px;
  margin-bottom: 13px;
  padding: 10px 15px 10px 70px;
  position: relative;
  text-align: left;
  font-size: 18px;
  color: #ffffff;
  background-color: #ededed;
  border-radius: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.services__sections-item:before {
  width: 58px;
  border-radius: 50%;
  background: #abb92a;
  display: block;
  text-align: center;
  font-size: 35px;
  line-height: 58px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.services__back {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 18px;
  cursor: pointer;
}

.services__back span {
  vertical-align: middle;
  color: var(--color-green);
}

.services__back .icn-arrow-left-l-prommu {
  position: static;
}

.history__item {
  width: 100%;
  min-height: 90px;
  background: #f5f5f5;
  padding: 15px 90px 15px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.history__users-list {
  display: flex;
  flex-wrap: wrap;
}

.history__users-list a {
  width: 33.3333%;
  padding: 0 15px 10px;
  display: flex;
  align-items: center;
}

.history__users-list b {
  padding-left: 10px;
}

.history__users-list img {
  width: 70px;
  border-radius: 50%;
  border: 2px solid var(--color-green);
}

.history__item-social {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  font-size: 30px;
  line-height: 30px;
}

.history__item-social .vk {
  color: #4a76a8;
}

.history__item-social .fb {
  color: #4267b2;
}

.history__item-social .telegram {
  color: #5682a3;
}

.history__item-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 15px;
  top: 15px;
  font-family: "PrommuFont";
  color: var(--color-white);
  font-size: 40px;
  border-radius: 50%;
  background: #abb92a;
  text-align: center;
}

.history__item-icon.email:after {
  content: '\e923';
}

.history__item-icon.push:after {
  content: '\e91f';
}

.history__item-icon.sms:after {
  content: '\e92f';
}

.history__item-icon.repost:after {
  content: '\e928';
}

.history__item-icon.vacancy:after {
  content: '\e920';
}

.history__item-icon.upvacancy:after {
  content: '\e9cc';
  font-size: 45px;
}

.history__item-icon.outsourcing:after {
  content: '\e927';
}

.history__item-icon.outstaffing:after {
  content: '\e91e';
}

.history__item-icon.medbook:after {
  content: '\e931';
}

.history__item-icon.card:after {
  content: '\e921';
}

.history__item-icon.api:after {
  content: '\e91d';
}

.history__item-icon.vacpub:after,
.history__item-icon.creation-vacancy:after {
  content: '\e949';
}
.history__item-icon.personal-invitation:after {
  content: '\e9d4';
}
.history__users-name {
  background-color: #f5f5f5;
  padding: 15px 50px 15px 15px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  border: 1px solid #a0a0a0;
  position: relative;
  z-index: 2;
}

.history__users-name:after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  top: calc(50% - 7px);
  right: 17px;
  background: url(/theme/pic/ico-tri-b.png);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-size: contain;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.history__users-name.active:after {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.history__users-ajax {
  padding: 30px 15px 15px;
  background-color: #ffffff;
  margin: -15px 15px 0;
  border: 1px solid #a0a0a0;
  border-radius: 15px;
  display: none;
  position: relative;
  z-index: 1;
}

.history__users-ajax .paging-wrapp {
  margin: 15px 0 0;
  padding: 0;
}