.services-duplication{ font-size: 16px }
.services-duplication .sd__title{
	font-size: 26px;
	font-weight: normal;
	margin: 0 0 35px;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
}
.services-duplication ul{
	padding-left: 15px;
}
.services-duplication img{
	max-width: 100%;
	display: block;
	margin: 10px auto;
	border: 1px solid #abb820;
	border-radius: 10px;
}
.services-duplication span{ 
	text-align: right;
	display: block;
	font-style: italic;
}
.sd__tabs{
	display: flex;
	margin-bottom: 35px;
}
#DiContent .sd__tabs .sd__tabs-link{
	display: inline-block;
	padding: 5px 20px;
	color: #cacaca;
	border: 2px solid #cacaca;
	font-size: 13px;
	background: #fff;
	text-transform: uppercase;
	font-style: normal;
	font-family: RobotoCondensed-Regular,verdana,arial;
	text-align: center;
}
#DiContent .sd__tabs .sd__tabs-link.active{
	cursor: default;
	background: #abb820;
	color: #ffffff;
	border: 2px solid #abb820;
}
.sd__vacancy{
	margin: 0 0 10px;
	padding: 10px;
	border: 1px solid #EBEBEB;
	display: block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	position: relative;
	overflow: hidden;
}
.sd__vacancy .sd__vacancy-content{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #F3F3F3;
}
.sd__vacancy .sd__vacancy-name{
	text-align: left;
	padding: 15px;
	font-size: 14px;
	color: #646464;
	font-style: normal;
	text-transform: uppercase;
	font-family: 'RobotoCondensedBold', 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
}
.sd__vacancy-inputs{
	padding: 5px 5px 0;
	display: flex;
	flex-direction: column;
}
.sd__vacancy .sd__vacancy-soc{
	width: 40px;
	height: 40px;
	display: block;
	position: relative;
	cursor: pointer;
	border-radius: 50%;
	margin: 0 0 5px 50px;
}
.sd__vacancy-soc.sd__vacancy-vk{ background: #4a76a8 url(/theme/pic/services-page/service-soc-sprite.png) -40px 50% no-repeat }
.sd__vacancy-soc.sd__vacancy-fb{ background: #4267b2 url(/theme/pic/services-page/service-soc-sprite.png) 0 50% no-repeat }
.sd__vacancy-soc.sd__vacancy-tl{ background: #31a9dc url(/theme/pic/services-page/service-soc-sprite.png) -83px 50% no-repeat }
.sd__vacancy-soc:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.sd__vacancy-soc:after{
	content: '';
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	top: 10px;
	left: -30px;
	border: 1px solid #EBEBEB;
	text-align: center;
	line-height: 18px;
	color: #343434;
	background-color: #ffffff;
}
#DiContent .sd__vacancy input:checked + label:after{ content: '\2714' }
#DiContent .sd__vacancy input{ display: none }
.repost-button{
	width: 100%;
    max-width: 260px;
    padding: 8px;
    margin: 30px 0 60px auto;
    line-height: 27px;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    background-color: #FF8300;
    border: none;
    font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
    position: relative;
    z-index: 1;
    cursor: pointer;
    float: right;
    display: none;
}
.repost-button:before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #bbc823;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.repost-button:hover:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.repost-button:focus{ outline:none }
/*
*		Страница оплаты
*/
.result__form{
	width: 100%;
	max-width: 450px;
	margin: 0 auto 60px;
}
.result__table{
	width: 100%;
	color: #646464;
	font-size: 16px;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	margin-bottom: 20px;
}
.result__form .result__result{
	text-align: left;
	padding: 10px 0 0;
	font-size: 30px;
	color: #abb820;
	font-family: 'RobotoCondensedBold', 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	font-style: normal;
}
.result__btn{
	width: 193px;
	height: 38px;
	border: none;
	padding: 0;
	margin: 20px auto 0;
	display: block;
	background-color: #ff8300;
	color: #FFFFFF;
	font-size: 18px;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	position: relative;
	z-index: 1;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	cursor: pointer;
	z-index: 1;
}
.result__btn:before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #bbc823;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
}
.result__btn:hover:before{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.result__btn:focus{ outline: none; }
/*
*		MEDIA
*/
@media(min-width: 768px){
	.sd__vacancy-inputs{ flex-direction:row }
}