.service-med-record{
	width: 100%;
	max-width: 740px;
	margin: 50px auto 0;
}
#DiContent #smr-form input,
#DiContent #smr-form button,
#DiContent #smr-form select,
#DiContent #smr-form a,
#DiContent #smr-form textarea:focus{ outline: none }
.service-med-record #smr-form{
	width: 100%;
	max-width: 445px;
	margin: 0 auto;
	position: relative;
}
.smr__title{
	text-align: center;
	color: #636363;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	margin: 0 0 30px;
	font-size: 22px;
}
.smr__label{
	width: 100%;
	margin-bottom: 22px;
	display: inline-block;
	position: relative;
}
.smr__select-block:before{
	content: '';
	width: 8px;
	height: 5px;
	position: absolute;
	top: 15px;
	right: 12px;
	background: url(/theme/pic/register-popup-page/registr_popup_arrow_icon.png) no-repeat;
	z-index: 0;
}
#DiContent #smr-form .smr__input{
	width: 100%;
	height: 35px;
	padding: 0 15px;
	background-color: transparent;
	border: 1px solid #EBEBEB;
	font-size: 14px;
	color: #646464;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
}
#DiContent #smr-form .smr__input.error{
	border: 1px solid red;
}
#DiContent #smr-form .smr__textarea{
	min-height: 130px;
	padding: 10px 15px;
	resize: none;
	margin-bottom: 8px;
}
#DiContent #smr-form .smr__btn{
	width: 100%;
	max-width: 445px;
	padding: 8px 0;
	margin: 0 auto 40px;
	display: block;
	background-color: #FF8300;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	position: relative;
	z-index: 1;
	text-transform: uppercase;
	border: none;
}
.smr__btn:before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ABB837;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.smr__btn:hover:before{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
#DiContent #smr-form .smr__select{
	padding: 0 30px 0 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	z-index: 1;
	cursor: pointer;
}
.smr__girl{
	width: 100%;
	max-width: 247px;
	height: 333px;
	background: url(/theme/pic/services-page/med-record-bg.jpg) no-repeat;
	background-size: contain;
}