#DiSiteWrapp #DiContent #MWwrapper .mw-win{
	width: 350px;
	padding: 40px 37px 30px;
	border: none;
	background: #61b718;
	background: -moz-linear-gradient(-45deg, #61b718 0%, #95db00 25%, #a2d81a 50%, #61b718 75%, #40840d 100%);
	background: -webkit-linear-gradient(-45deg, #61b718 0%, #95db00 25%, #a2d81a 50%, #61b718 75%, #40840d 100%); 
	background: linear-gradient(135deg, #61b718 0%, #95db00 25%, #a2d81a 50%, #61b718 75%, #40840d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b718', endColorstr='#40840d',GradientType=1 );
}
#DiSiteWrapp #DiContent #MWwrapper .mw-win.dark-ver{ left: -175px; }
#DiSiteWrapp #DiContent #MWwrapper .mw-close{
	width: 29px;
	height: 29px;
	background: none;
	border: 1px solid #FFFFFF;
	border-radius: 15px;
	top: 13px;
	right: 17px;
}
#DiSiteWrapp #DiContent #MWwrapper .mw-close:before{
	content: 'X';
	width: 28px;
	line-height: 28px;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
}
#DiSiteWrapp #DiContent #MWwrapper .header{
	margin: 0;
	position: static;
	border: none;
}
#DiSiteWrapp #DiContent #MWwrapper .header div{
	position: static;
	background: none;
	color: #FFFFFF;
	padding: 0;
	font-weight: normal;
	font-size: 30px;
	font-family: 'LatoLight', Calibri, Arial, sans-serif;
	line-height: 30px;
	margin-bottom: 30px;
}
#DiSiteWrapp #DiContent #MWwrapper .header2{
	padding-bottom: 20px;
	margin-bottom: 40px;
	border-bottom: 1px solid #FFFFFF;
	color: #d5e525;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
}
#DiSiteWrapp #DiContent #MWwrapper .order-service__label{
    width: 100%;
    padding-left: 35px;
    margin-bottom: 35px;
    background: url(/theme/pic/service-form/service-icons.png) no-repeat;
}
#DiSiteWrapp #DiContent #MWwrapper .order-service__label.icon1{ background-position: 0 7px; }
#DiSiteWrapp #DiContent #MWwrapper .order-service__label.icon2{ background-position: 0 -41px; }
#DiSiteWrapp #DiContent #MWwrapper .order-service__label.icon3{ background-position: 0 -89px; }
#DiSiteWrapp #DiContent #MWwrapper .order-service__label .order-service__input{
	width: 100%;
	height: 39px;
	border: 1px solid #FFFFFF;
	background: none;
	color: #FFFFFF;
	padding: 0 8px;
	font-family: 'LatoRegular', Calibri, Arial, sans-serif;
}
#DiSiteWrapp #DiContent #MWwrapper .order-service__label .order-service__input.error{ border: 1px solid red; }
.order-service__input::-webkit-input-placeholder{ color:#FFFFFF; }
.order-service__input::-moz-placeholder{color:#FFFFFF;}
.order-service__input:-moz-placeholder{color:#FFFFFF;}
.order-service__input:-ms-input-placeholder{color:#FFFFFF;}
#DiSiteWrapp #DiContent .order-service__input:focus{ outline: none; }
#DiSiteWrapp #DiContent #MWwrapper .btn-white-green-2{ margin: 0; }
#DiSiteWrapp #DiContent #MWwrapper .btn-white-green-2 .order-service__btn{
	width: 48%;
	height: 38px;
	border: none;
	padding: 0;
	background-color: #ff8300;
	color: #FFFFFF;
	font-size: 18px;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;	
}
#DiSiteWrapp #DiContent #MWwrapper .btn-white-green-2 .order-service__btn:focus{ outline: none; }

.order-service__btn.order-service__btn-reg{
	display: inline-block;
	line-height: 38px;
	vertical-align: bottom;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
}
.order-service__reg-list{ 
	position: absolute;
	bottom: -76px;
	left: 0;
	display: none; 
}
.order-service__btn-reg:hover .order-service__reg-list{
	display: block;
}
#DiContent #MWwrapper .order-service__btn-reg .order-service__reg-list .items{
	width: 193px;
	border: none;
	padding: 0;
}
@media (min-width: 768px){
	#DiSiteWrapp #DiContent #MWwrapper .mw-win{ width: 470px; }
	#DiSiteWrapp #DiContent #MWwrapper .mw-win.dark-ver{ left: -235px; }
	#DiSiteWrapp #DiContent #MWwrapper .order-service__label{ padding-left: 61px; }
	#DiSiteWrapp #DiContent #MWwrapper .btn-white-green-2 .order-service__btn{ width: 193px; }
}
/*
*
*		form to register 1
*
*/
.premium-form,
.push-form,
.sms-form,
.disable-form,
.services-finish-form{
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	color: #FFFFFF;
	text-align: center;
}
.premium-form b,
.push-form b,
.sms-form b,
.disable-form b,
.services-finish-form b{
	font-family: 'RobotoCondensedBold', Calibri, Arial, sans-serif;
	display: block;	
}
.form-str1__header{
	font-size: 16px;
	text-align: center;
	line-height: 18px;
}
.form-str1__header b{ color: #b7fe73; }
.form-str1__content-utext{
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
	line-height: normal;
}
.form-str1__content-dtext{
	margin-bottom: 20px;
	text-align: justify;
}
.form-str1__points{
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    padding: 0 5px;
    display: inline-block;
    line-height: normal;
}
.form-str1__points:before,
.form-str1__points:after{
	content: "";
	width: 8px;
	height: 8px;
	display: block;
	position: absolute;
	top: 5px;
	background-color: #FFFFFF;
	border-radius: 4px;
}
.form-str1__points:before{ left: -8px; }
.form-str1__points:after{ right: -8px; }
.form-str__btn{
	width: 255px;
	line-height: 38px;
	background-color: #FF8300;
	position: relative;
	display: inline-block;
	margin: 20px auto 0;
	cursor: pointer;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	font-size: 18px;
}
.form-str__btn-list{ 
	position: absolute;
	bottom: -60px;
	line-height: 30px;
	left: 0;
	display: none; 
}
.form-str__btn:hover .form-str__btn-list{ 
	display: block;
	width: 100%;
}
#DiContent #MWwrapper .form-str__btn .form-str__btn-list .item{
	width: 100%;
	padding: 0;
}
@media (min-width: 768px){
	#DiSiteWrapp #DiContent #MWwrapper .light-ver{ height: 460px; }
	#DiSiteWrapp #DiContent #MWwrapper .light-ver:before{
		content:'';
		width: 320px;
		height: 499px;
		position: absolute;
		left: -149px;
		bottom: 0px;
		background: url(/theme/pic/service-form/services-form-girl.png) 0 0 no-repeat;
	}
}
/*
*
*		form to register 2
*
*/
#DiSiteWrapp #DiContent #MWwrapper .mw-win.dark-ver{
background: #5aad17;
background: -moz-linear-gradient(-45deg, #5aad17 0%, #0f4801 100%);
background: -webkit-linear-gradient(-45deg, #5aad17 0%,#0f4801 100%);
background: linear-gradient(135deg, #5aad17 0%,#0f4801 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5aad17', endColorstr='#0f4801',GradientType=1 );
}
.form-str2__header{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	text-transform: uppercase;
}
.push-form hr{ margin: 20px 0 25px; }
.form-str2__content{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: justify;
}
.form-str2__list{
	text-align: left;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}
.form-str2__list li{
	margin-top: 20px;
	padding: 0 0 0 18px;
	position: relative;
}
.form-str2__list li:before{
	content:'';
	width: 10px;
	height: 10px;
	position: absolute;
	top: 5px;
	left: 0px;
	background-color: #FF8300;
	border-radius: 5px;
}
.form-str2__content i{
	font-style: italic;
	font-size: 18px;
	text-align: justify;
	display: block;
	line-height: normal;
}
.push-form .form-str__btn{ margin-top: 0; }
.disable-form i,
.services-finish-form i{ 
	text-align: right; 
	display: block; 
}
/*
*
*		payment form
*
*/
.form-payment__type-name{
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: 'LatoRegular', Calibri, Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 10px;
	display: inline-block;
}
.form-payment__radio-label{
	height: 25px;
	display: block;
	position: relative;
	margin: 0 0 10px;
	padding: 0 0 0 35px;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 14px;
}
#DiContent .form-payment__radio-input{
	display: none;
}
.form-payment__radio-block{
	height: 25px;
	width: 25px;
	background: #FFFFFF;
	border: 1px solid #c8c8c8;
	border-radius: 2px;
	position: absolute;
	left: 0;
	top: 0;
}
.form-payment__radio-block:before{
	content: '';
	width: 11px;
	height: 11px;
	position: absolute;
	left: 6px;
	top: 6px;
	display: block;
}
.form-payment__radio-name{ 
	color: #FFFFFF;
	font-family: 'LatoRegular', Calibri, Arial, sans-serif;
	vertical-align: sub;
}
#DiContent .form-payment__radio-label input:checked + .form-payment__radio-block:before{ background: #abb820; }
.form-payment__radio-label:hover .form-payment__radio-block:before{ background-color: #e6e6e6; }
.form-payment__btn{
	width: 193px;
	height: 38px;
	border: none;
	padding: 0;
	margin: 0 auto;
	display: block;
	background-color: #ff8300;
	color: #FFFFFF;
	font-size: 18px;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
    z-index: 1;
}
.form-payment__btn:focus{ outline: none; }
.form-payment__btn:before{
	content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #bbc823;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.form-payment__btn:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#calendar-btn.form-payment__btn{
	width: 260px;
	line-height: 38px;
	text-align: center;
	margin: 0 auto 10px;
}
.form-payment__calendar{
	background: #FFFFFF;
	padding: 10px;
	position: absolute;
	bottom: 25px;
	left: -100px;
	width: 200px;
	margin-left: 50%;
	border: 1px solid #EBEBEB;
	z-index: 2;
	display: none;
}
.form-payment__calendar-table{
	width: 100%;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #646464;
}
.form-payment__calendar-table thead tr:last-child{

}
.form-payment__calendar-table thead tr:nth-child(1) td:nth-child(2){
}
.form-payment__calendar-table tbody td{ cursor: pointer; }
.form-payment__calendar-table thead tr:nth-child(1) td:nth-child(1):hover, 
.form-payment__calendar-table thead tr:nth-child(1) td:nth-child(3):hover{ cursor: pointer; }
.form-payment__calendar-table tbody td{  }
.form-payment__calendar-table tbody td:nth-child(n+6), .form-payment__calendar-table .holiday{ color: #ff8300; }
.form-payment__calendar-table .day.today,
.form-payment__calendar-table .day.today:hover{ 
	background-color: #abb820;
	cursor: no-drop;
}
.form-payment__calendar-table .day:hover{ background-color: #e6e6e6; }
.form-payment__calendar-table .empty:hover{ 
	background-color: transparent;
	cursor: default;
}
.form-payment__calendar-table .past:hover{
	background-color: red;
	cursor: no-drop;
}
.form-payment__price,
.form-payment__vacancies,
.form-payment__period{ 
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
}
.form-payment__result{
	color: #FFFFFF;
	font-size: 24px;
	font-family: 'RobotoCondensedBold', 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	margin-bottom: 10px;
}
.form-payment__period{
	margin-bottom: 10px;
}