/*
*	service-page
*/
#DiContent.page-services .content-header-box.mt20{ display: none; }
#DiTop #DiContent .container{ max-width: 640px; }
/*
*
*/
.services__list{ margin: 0 auto; }
.services__item{
	width: 50%;
	float: left;
}
.services__item.shares{ float: right; }
.services__item-block{
	height: 0;
	display: block;
	margin: 0 5px 10px;
	padding-bottom: calc(100% - 10px);
	position: relative;
	background-color: #EFEFEF;
	-webkit-transition: background 0.7s ease-out;
	-moz-transition: background 0.7s ease-out;
	-o-transition: background 0.7s ease-out;
	transition: background 0.7s ease-out; 
}
.services__item.shares .services__item-block{ padding-bottom: calc(200% - 10px); }
.services__item-block:focus{ outline: none; }
.services__item-circle{
	width: 100%;
	height: 100%;
	position: absolute;
	border: 10px solid transparent;
	display: block;
	border-radius: 50%;
	z-index: 2;
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out; 
}
.services__item.shares .services__item-circle{ 
    width: 100%;
    height: 50%;
}
.services__item-circle:before,
.services__item-circle:after{
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	box-shadow: 0px 10px 20px -10px #dddddd;
}
.services__item-circle:before{
	background: #EDEDED;
	background: -webkit-radial-gradient(#FFFFFF 0%, #EDEDED 100%);
	background: -o-radial-gradient(#FFFFFF 0%, #EDEDED 100%);
	background: -moz-radial-gradient(#FFFFFF 0%, #EDEDED 100%);
	background: radial-gradient(#FFFFFF 0%, #EDEDED 100%);
}
.services__item-circle:after{
	-webkit-transition: opacity 0.7s ease-out;
	-moz-transition: opacity 0.7s ease-out;
	-o-transition: opacity 0.7s ease-out;
	transition: opacity 0.7s ease-out;
	opacity: 0;	
}
.employer .services__item-circle:after{
	background: #FFF979;
	background: -webkit-radial-gradient(#FFF979 0%, #FFb33F 100%);
	background: -o-radial-gradient(#FFF979 0%, #FFb33F 100%);
	background: -moz-radial-gradient(#FFF979 0%, #FFb33F 100%);
	background: radial-gradient(#FFF979 0%, #FFb33F 100%);
}
.applicant .services__item-circle:after{
	background: #EFFF67;
	background: -webkit-radial-gradient(#EFFF67 0%, #CEDC4F 100%);
	background: -o-radial-gradient(#EFFF67 0%, #CEDC4F 100%);
	background: -moz-radial-gradient(#EFFF67 0%, #CEDC4F 100%);
	background: radial-gradient(#EFFF67 0%, #CEDC4F 100%);
}
.services__item-name{
	text-align: center;
	display: block;
	font-size: 14px;
	color: #878787;
	line-height: 16px;
	font-family: 'RobotoCondensedRegular', Calibri, Arial, sans-serif;
	position: relative;
	z-index: 1;
	-webkit-transition: color 0.7s ease-out;
	-moz-transition: color 0.7s ease-out;
	-o-transition: color 0.7s ease-out;
	transition: color 0.7s ease-out; 
}
.services__item-circle .services__item-name{ padding-top: 20%; }
.services__item-img{
	width: 56px;
	height: 50px;
	display: block;
	background: url(/theme/pic/services-page/services_icons.png) 0 0 no-repeat;
	position: absolute;
	z-index: 1;
}
.services__item-circle .services__item-img{
	margin: 50% 0 0 50%;
	top: -15px;
	left: -28px;
}
.services__item-img.ico1{ background-position: 0 0; }
.services__item-img.ico2{ background-position: 0 -50px; }
.services__item-img.ico3{ background-position: 0 -100px; }
.services__item-img.ico4{ background-position: 0 -150px; }
.services__item-img.ico5{ background-position: 0 -200px; }
.services__item-img.ico6{ background-position: 0 -250px; }
.services__item-img.ico7{ background-position: 0 -300px; }
.services__item-img.ico8{ background-position: 0 -350px; }
.services__item-img.ico9{ background-position: 0 -400px; }
.services__item-img.ico10{ background-position: 0 -450px; }
.services__item-img.ico11{ background-position: 0 -500px; }
.services__item-img.ico12{ background-position: 0 -550px; }
.services__item-img.ico13{ background-position: 0 -600px; }
.services__item-img.ico14{ background-position: 0 -650px; }
.services__item-img.ico15{ background-position: 0 -700px; }
.services__item-img.ico16{ background-position: 0 -750px; }
/*
*		shares
*/
.services__sub-list{
    width: 100%;
    height: 50%;
	position: absolute;
	right: 0;
    top: 50%;
    overflow: hidden;
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
}
.services__sub-item,
.services__sub-bg{
	width: 100%;
	height: 25%;
	display: table;
	position: absolute;
	right: 0;
}
.services__sub-item{ z-index: 1; }
.services__sub-item:foucs{ outline: none; }
.services__sub-bg{
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
}
.services__sub-list .services__sub-item:nth-child(1){ top: 0; }
.services__sub-list .services__sub-item:nth-child(2){ top: 25%; }
.services__sub-list .services__sub-item:nth-child(3){ top: 50%; }
.services__sub-list .services__sub-item:nth-child(4){ top: 75%; }
.services__sub-list .services__sub-bg:nth-child(5){ 
	background-color: #F6F6F6;
	top: 0;
}
.services__sub-list .services__sub-bg:nth-child(6){ 
	top: 25%;
	background-color: #EDEDED; 
}
.services__sub-list .services__sub-bg:nth-child(7){
	top: 50%; 
	background-color: #E8E8E8; 
}
.services__sub-list .services__sub-bg:nth-child(8){
	top: 75%; 
	background-color: #E2E2E2; 
}
.services__sub-item .services__sub-img{ width: 56px; }
.services__sub-item .services__item-img{ position: static; }
.services__sub-item .services__sub-img,
.services__sub-item .services__item-name{
	display: table-cell;
	vertical-align: middle;
}
/*
*		HOVER
*/
.services__item-block:hover .services__item-circle:after{ 
	opacity: 1;
	box-shadow: 0 0 0 0 #dddddd;
}
.services__item-block:hover{ background-color: #FFFFFF; }
.services__item-block:hover .services__item-circle{ border-color: #FFFFFF; }
.services__item-block:hover .services__sub-bg{ width: 100%; }
.services__item-block:hover .services__sub-item{ box-shadow: inset 0 0 10px -10px #adacac; }

.services__sub-item:nth-child(1):hover ~ .services__sub-bg:nth-child(5){ background-color: #FFC443; }
.services__sub-item:nth-child(2):hover ~ .services__sub-bg:nth-child(6){ background-color: #FFD243; }
.services__sub-item:nth-child(3):hover ~ .services__sub-bg:nth-child(7){ background-color: #FF9743; }
.services__sub-item:nth-child(4):hover ~ .services__sub-bg:nth-child(8){ background-color: #FF9743; }

.employer .services__item-block:hover .services__item-name{ color: #CD6800; }
.applicant .services__item-block:hover .services__item-name{ color: #5F680D }
.applicant.services__list{ max-width: 350px; }
.applicant .services__item{ width: 100%; }
.services__item-circle .services__item-name{ font-size: 18px; }
/*
*		MEDIA
*/
@media(max-width: 400px){
	.employer .services__item{ width: 100%; }
}
@media(min-width: 768px){
	#DiContent.page-services .content-header-box.mt20{ display: block; }
	#DiTop #DiContent .container{ max-width: initial; }
	.services__item{ width: 25%; }
	.employer .services__item.shares{ 
		float: left; 
		width: 66.66%;
	}
	.employer .services__item{ width: 33.33% }
	.services__item.shares .services__item-block{ padding-bottom: calc(50% - 10px); }
	.services__item.shares .services__item-circle{ 
		width: 50%;
		height: 100%;
	}
	.services__sub-list{
		width: 75%;
		height: 100%;
		margin: 0;
		top: 0;
	}
	.services__sub-item,
	.services__sub-bg{
		width: 66%;
		height: 25%;
	}
	.services__sub-item{ box-shadow: inset 7px 0 10px -7px #adacac; }
	.applicant .services__item{ width: 100%; }
	.services__item-circle .services__item-name{ font-size: 16px; }
}
@media(min-width: 992px){
	.services__item-name{ font-size: 18px; }
	.applicant.services__list,
	.employer.services__list{ max-width: 75%; }
	.applicant .services__item{ width: 33.33%; }
}
/*
*
*/
