/*
*		ADD VACANCY PAGE
*/
#DiContent.page-vacpub .add-vacancy__title,
.form-add-vacancy {
  width: 100%;
  max-width: 700px;
  padding-left: 0;
  padding-right: 0;
}

#DiContent.page-vacpub .add-vacancy__title {
  font-size: 18px;
  line-height: normal;
  text-transform: uppercase;
  color: #343434;
  font-weight: normal;
  margin: 30px auto 20px;
}

.add-vacancy__line {
  border-top: 1px solid #D6D6D6;
  margin: 0 0 15px;
  width: 100%;
}

#DiContent.page-vacpub #F1vacancy.form-add-vacancy {
  margin: 0 auto 45px;
  padding-right: 0;
}

.fav__content {
  width: 70%
}

/*
*	GENERAL
*/
#DiContent.page-vacpub #F1vacancy .fav__input {
  width: 100%;
  height: 35px;
  border: 1px solid #EBEBEB;
  background-color: transparent;
  padding: 0 15px;
  color: #343434;
  font-size: 14px;
  position: relative;
  z-index: 1;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#DiContent.page-vacpub #F1vacancy .fav__input.error {
  box-shadow: inset 0px 0px 3px red;
  border: 1px solid red;
}

#DiContent.page-vacpub #F1vacancy .fav__input:focus {
  outline: none;
}

.fav__input::-webkit-input-placeholder {
  color: #A0A0A0
}

.fav__input::-moz-placeholder {
  color: #A0A0A0
}

.fav__input:-moz-placeholder {
  color: #A0A0A0
}

.fav__input:-ms-input-placeholder {
  color: #A0A0A0
}

.fav__label {
  display: block;
  margin: 0 0 20px;
  position: relative;
}

.fav__label:before {
  content: attr(data-focus);
  width: 100%;
  display: block;
  position: absolute;
  top: -12px;
  left: 0;
  color: red;
  font-size: 12px;
  line-height: 10px;
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.fav__label.error:before {
  opacity: 1
}

.fav__select:after {
  content: '';
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  bottom: 0;
  right: 0;
  background: url(/theme/pic/private/add-vac-select.png) 50% no-repeat;
  z-index: 0;
}

.fav__select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#DiContent.page-vacpub #F1vacancy textarea.fav__input {
  height: 88px;
  resize: none;
  padding: 10px 15px;
}

.fav__select select {
  color: #A0A0A0
}

#DiContent.page-vacpub #F1vacancy .fav__select .fav__input {
  padding: 0 35px 0 15px;
  cursor: pointer;
}

.fav__select-list {
  width: 100%;
  padding: 10px 0;
  margin: 0;
  border-top: none;
  list-style: none;
  background-color: rgba(52, 52, 52, 0.6);
  position: absolute;
  top: 0;
  z-index: 2;
  display: none;
}

.fav__select-list li {
  width: 100%;
  height: 35px;
  padding: 0 50px 0 25px;
}

.fav__select-list table {
  width: 100%
}

.fav__select-list td {
  line-height: 1px;
}

.fav__select-list td:first-child {
  width: 1%
}

.fav__select-list li p {
  padding-right: 5px;
  margin: 0;
  line-height: 35px;
  font-size: 14px;
  color: #FFFFFF;
  vertical-align: middle;
  white-space: nowrap;
}

.fav__select-list b {
  border-top: 1px dotted #FFFFFF;
  vertical-align: middle;
  height: 1px;
  display: block;
  color: transparent;
}

.fav__select-list-icon {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 6px;
  right: 6px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  font-style: normal;
}

.fav__select-list-icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#DiContent .fav__select-list input {
  display: none;
}

.fav__select-list label {
  display: block;
  cursor: pointer;
  position: relative;
  padding-right: 3px;
}

.fav__select-list label:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 12px;
  right: -12px;
}

.fav__select-list label:after {
  content: '';
  width: 6px;
  height: 6px;
  display: block;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: -9px;
}

.fav__select-list li input:checked ~ label:after {
  background-color: #FFFFFF
}

#DiContent.page-vacpub #F1vacancy .fav__hidden {
  display: none;
}

#DiContent.page-vacpub .fav-b1__title {
  position: relative;
  margin: 0 0 24px;
  display: block;
}

.fav-b1__title-who {
  min-height: 29px
}

#DiContent.page-vacpub .fav-b1__title h3 {
  padding: 0 5px 0 0;
  display: inline-block;
  margin: 0;
  position: relative;
  color: #ABB837;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #FFFFFF;
  z-index: 1;
}

#DiContent.page-vacpub .fav-b1__title-who h3 {
  padding: 0 5px 0 45px
}

#DiContent.page-vacpub .fav-b1__title-who h3 {
  line-height: 29px;
}

.fav-b1__title:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ABB837;
  z-index: -1;
}

.fav-b1__title-who:before {
  content: '\e905';
  font-family: "PrommuFont";
  font-size: 25px;
  color: var(--color-green);
  display: block;
  width: 28px;
  height: 29px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2
}

.fav__hint {
  width: 240px;
  color: #A5A5A5;
  font-size: 12px;
  line-height: 14px;
}

.fav__hint-vacname {
  display: block;
  width: 100%;
  padding: 0 20px 20px;
  text-align: justify;
}

.fav__select-hint {
  margin-top: 68px
}

.fav__select-hint .fav__hint-vacname {
  position: absolute;
  top: -48px;
  left: 0;
}

.fav__hint-expirience {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 0 20px;
}

.fav__input-name,
#DiContent.page-vacpub #F1vacancy .fav__label-checkbox {
  font-size: 14px;
  color: #A0A0A0;
  vertical-align: middle;
}

#DiContent.page-vacpub #F1vacancy .fav__input.fav__input-mini {
  width: 50px;
  height: 20px;
  padding: 0 2px;
  display: inline-block;
  vertical-align: middle;
}
/*
.fav__left-block,
.fav__right-block {
  float: left
}*/

.fav__left-block {
  margin-bottom: 20px
}

.fav__label-age,
.fav__label-checkbox {
  margin: 0 15px 0 10px
}

.fav__label-checkbox {
  padding-right: 22px;
  position: relative;
  line-height: 20px;
}

.fav__label-checkbox:last-child {
  margin-right: 0;
}

.fav__label-checkbox:after {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #EBEBEB;
  text-align: center;
  line-height: 18px;
  color: #343434;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

input:checked + .fav__label-checkbox:after {
  content: '\2714';
}

.fav__label-checkbox.error:after {
  box-shadow: inset 0px 0px 3px red;
  border: 1px solid red;
}

.fav__label-salary {
  display: block;
  margin-bottom: 10px;
}

.fav__third-list {
  width: 100%;
  display: table;
}

.fav__third-item {
  display: table-cell
}

.fav__third-item .fav__label-checkbox,
.fav__both-item .fav__label-checkbox {
  margin: 0
}

.fav__third-item:nth-child(2) {
  text-align: center
}

.fav__third-item:nth-child(3) {
  text-align: right
}

.fav__both-item:nth-child(1) {
  margin-bottom: 20px
}

.fav__both-item.fav__item-social {
  width: 33.33%;
  margin-bottom: 10px;
  float: left;
  text-align: center;
}

#DiContent.page-vacpub #F1vacancy .fav__input.fav__input-salary {
  width: 50px;
  height: 20px;
  padding: 0 1px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.fav__hint-index {
  width: initial;
  max-width: 400px;
  display: block;
  margin: 20px auto;
  font-size: 14px;
  text-align: justify;
}

.fav__hint-epilog {
  width: initial;
  max-width: 410px;
  display: block;
  margin: 30px auto;
}

.fav__veil {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

/*
*		editor
*/
#DiContent.page-vacpub .nicEdit-button {
  background-image: url(/jslib/nicedit/nicEditorIcons.gif) !important;
}

#DiContent.page-vacpub .nicEdit-main {
  margin: 0 !important;
  padding: 10px 15px;
  width: 100% !important;
  border: 1px solid #EBEBEB;
  font-size: 14px;
  height: 88px;
  overflow-y: auto !important;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#DiContent.page-vacpub .nicEdit-main i {
  font-style: italic !important;
}

#DiContent.page-vacpub .nicEdit-main:focus {
  outline: none;
}

.fav__label-textarea > div:nth-child(3) {
  width: initial !important;
  border: none !important;
  max-height: initial !important;
}

.fav__label-textarea div:nth-child(2) > div {
  border: none !important;
}

.fav__label-textarea .nicEdit-panel {
  float: right !important;
}

.fav__label-textarea .fav__input-name {
  position: absolute;
  line-height: 24px;
  left: 5px;
}

#DiContent.page-vacpub .nicEdit-main.error {
  box-shadow: inset 0px 0px 3px red;
  border: 1px solid red;
}

/*
*		CITY
*/
.fav__label .select2-container {
  width: 100% !important;
  min-height: 35px;
  border: 1px solid #EBEBEB;
  background-color: transparent;
  padding: 0 15px;
  color: #343434;
  font-size: 14px;
  position: relative;
  z-index: 1;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.fav__label .select2-container.error {
  box-shadow: inset 0px 0px 3px red;
  border: 1px solid red;
}

.fav__label .select2-container--default .select2-selection--multiple,
.fav__label .select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none;
  background-color: transparent;
}

.fav__label .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: rgba(52, 52, 52, 0.6);
  color: #FFFFFF;
  border-color: #858585;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder {
  float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic .select2-selection--single {
  background-color: #f6f6f6;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
}

.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey;
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white;
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

/*
*
*/
#av-paylims-list .fav__exp-new {
  display: table
}

#DiContent #av-paylims-list .fav__exp-new input {
  display: table-cell;
  width: 70%;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  outline: none;
  height: 29px;
}

.fav__exp-new input::-webkit-input-placeholder {
  color: #fff
}

.fav__exp-new input::-moz-placeholder {
  color: #fff
}

.fav__exp-new input:-moz-placeholder {
  color: #fff
}

.fav__exp-new input:-ms-input-placeholder {
  color: #fff
}

#DiContent #av-paylims-list .fav__exp-new #add-new-term {
  width: 30%;
  height: 29px;
  border: 1px solid #ffffff;
  display: table-cell;
  text-align: center;
  line-height: 27px;
  float: right;
  position: relative;
  color: #ffffff;
  right: -12px;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#DiContent #av-paylims-list .fav__exp-new #add-new-term:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*
*
*/
.fav__select-posts, .fav__select-cities {
  width: 100%;
  min-height: 35px;
  border: 1px solid #EBEBEB;
  position: relative;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.fav__select-posts.error, .fav__select-cities.error {
  box-shadow: inset 0px 0px 3px red;
  border: 1px solid red;
}

.fav__select-posts span, .fav__select-cities span {
  position: absolute;
  top: 0;
  left: 15px;
  color: #A0A0A0;
  line-height: 33px;
  z-index: 0;
}

.fav__select-cities b {
  width: 29px;
  height: 29px;
  display: none;
  background: url(/theme/pic/loading1.gif) 50% no-repeat;
  background-size: contain;
  position: absolute;
  top: 3px;
  right: 3px;
}

.fav__select-posts ul, .fav__select-cities ul {
  margin: 0;
  line-height: 33px;
  list-style: none;
  position: relative;
  z-index: 1;
}

#av-posts-select, .cities-select {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  padding: 0 35px 0 15px;
  overflow: hidden;
}

#av-posts-select {
  min-height: 33px
}

#av-posts-select li, .cities-select li {
  line-height: 29px;
  margin: 2px 5px 2px 0;
}

#av-posts-select li:not([data-id="0"]),
.cities-select li:not([data-id="0"]) {
  padding: 0 20px 0 5px;
  background-color: rgba(52, 52, 52, 0.6);
  color: #fff;
  border-radius: 5px;
  position: relative;
}

#av-posts-select li[data-id="0"],
.cities-select li[data-id="0"] {
  width: 10px;
}

#av-posts-select li i, .cities-select li i {
  width: 19px;
  height: 19px;
  display: block;
  position: absolute;
  top: 5px;
  right: 0px;
  font-style: normal;
  text-align: center;
  cursor: pointer;
}

#av-posts-select li i:before,
.cities-select li i:before {
  content: '\2716';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 20px;
}

#DiContent #av-posts-select input,
#DiContent #multyselect-cities .cities-select input {
  height: 29px;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
}

#av-posts-list, #multyselect-cities .cities-list {
  max-height: 330px;
  padding: 0;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  color: #fff;
  background-color: rgba(52, 52, 52, 0.6);
  z-index: 3;
  overflow-y: auto;
  display: none;
}

#av-posts-list li, .cities-list li {
  padding: 0 35px 0 15px;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#av-posts-list li.emp,
.cities-list li.emp {
  cursor: no-drop
}

#av-posts-list li:hover,
.cities-list li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#av-posts-list li:first-child {
  padding: 0;
  position: relative;
  /*
  !!! Скрытие добавления новой вакансии
   */
  height: 0;
  overflow: hidden;
}

#av-posts-list li:first-child:hover {
  background-color: transparent;
}

#DiContent .fav__select-posts #av-posts-list input {
  width: 100%;
  height: 33px;
  padding: 0 35px 0 15px;
  color: #343434;
  background-color: #ffffff;
  border-radius: 0;
}

#av-posts-list input:focus {
  outline: none
}

.fav__salary {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 10px;
}

.fav__salary-name {
  white-space: nowrap;
  padding-right: 20px;
}

.fav__salary-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.fav__quarter-item {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

/*
*		MEDIA
*/
@media (min-width: 768px) {
  #DiContent.page-vacpub .add-vacancy__title,
  .form-add-vacancy {
    padding-left: 15px;
    padding-right: 15px;
  }

  #DiContent.page-vacpub #F1vacancy.form-add-vacancy {
    padding-right: 200px
  }

  .fav__hint-vacname,
  .fav__select-hint .fav__hint-vacname {
    width: 180px;
    padding: 0;
    position: absolute;
    top: 0;
    right: -200px;
    left: inherit;
  }
/*
  .fav__left-block {
    margin: 0
  }

  .fav__right-block {
    float: right
  }
*/
  .fav__both-item .fav__label-checkbox {
    margin: 0
  }

  .fav__both-item:nth-child(1) {
    margin: 0
  }

  .fav__both-item:nth-child(2) {
    text-align: right
  }

  .fav__both-item {
    width: 50%;
    float: left;
  }

  .fav__label-salary {
    display: inline
  }

  .fav__quarter-item {
    width: 50%
  }

  .fav__select-hint {
    margin-top: 0
  }

  .fav__hint-expirience {
    padding: 0 20px 20px
  }
}

@media (max-width: 767px) {
  #DiContent.page-vacpub .container {
    max-width: 485px;
  }
}

@media (min-width: 992px) {
  .fav__hint-vacname,
  .fav__select-hint .fav__hint-vacname {
    width: 240px;
    right: -270px;
  }
}

#add-new-vac {
  width: 130px;
  line-height: 27px;
  padding: 0 5px;
  margin: 3px;
  background-color: rgba(52, 52, 52, 0.6);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  left: initial;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

#add-new-vac:hover {
  background-color: rgba(52, 52, 52, 0.5);
}

.fav__date .fav__hint {
  width: 50%;
  display: block;
  padding-bottom: 15px;
  text-align: center;
}

.fav__date .fav__select:after {
  right: 15px;
}

/* */
.fav__flex-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.fav__flex-item {
  padding: 0 15px 20px;
}

.fav__flex-item .fav__label-checkbox {
  margin: 0
}

@media (max-width: 470px) {
  .fav__flex-list .fav__input-name {
    width: 100%;
  }

  .av__flex-list-full .fav__flex-item {
    width: 100%;
  }
}