<tr>
	<td>
		<table background="https://prommu.com/theme/pic/letter-analitics/analitics-body-bg.png" width="600" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding:30px 50px 50px 75px">
			<tr>
				<td>
					<b style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:30px;color:#abb837;font-size:24px">Позравляем, #APPNAME#!!!</b>
				</td>
			</tr>
			<tr>
				<td>
					<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:20px">Работодатель 
						<span style="display:inline-block">
							<a href="#EMPLINK#" style="color:#abb837">#EMPCOMPANY#</a>
							<a href="#EMPLINK#">
                <img src="#EMPSRC#" style="display:inline-block;width:50px;height:50px;border-radius:50%;border: 2px solid #abb820">
              </a>
						</span><br> 
						приглашает Вас на вакансию <a href="#VACLINK#" style="color:#abb837">#VACID#</a> <a href="#VACLINK#" style="color:#abb837">&laquo;#VACNAME#&raquo;</a> на сервисе PROMMU<br>
						#VACPOSTS#
						<br>Заработная плата:<br>#VACSALARY#<br>
					</span>
				</td>
			</tr>
			<tr>
				<td>
					<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:20px">Если интересно - за более детальной информацией перейдите по <a href="#VACLINK#" style="text-decoration:underline">ссылке</a></span>
				</td>
			</tr>
			<tr>
				<td>
					<span style="display:block; font-family:Arial,Helvetica,sans-serif; padding-bottom:20px">Ссылка для просмотра приглашений <a href="#RESPLINK#" style="color:#abb837">здесь</a></span>
				</td>
			</tr>
		</table>
	</td>
</tr>