.label-important {
    background: #dd4b39;
}
/*
* table
*/
.table.table-hover{ overflow: overlay; }
.dataTable .checkclass{ margin: 0 }
.dataTable thead>tr:not(.filters) th{ text-align: center }
.dataTable thead>tr.filters>td{ 
    padding: 0;
    vertical-align: middle;
} 
.dataTable tbody tr td{ text-align: center }

.dataTable tr .checkbox-column,
.dataTable tr .column_id,
.dataTable tr .column_id_user,
.dataTable tr .column_response{ 
    width: 2%;
}
.dataTable tr .column_city{
    white-space: nowrap; 
}
.dataTable tr .column_cdate,
.dataTable tr .column_mdate,
.dataTable tr .column_rdate{
    width: 3%;
}
.dataTable tr .column_status,
.dataTable tr .column_ismoder,
.dataTable tr .column_archive,
.dataTable tr .column_edit{
    padding: 0;
}

.date_range .separator{ 
    text-align: center;
    line-height: 10px;
}
.dataTable .dropdown-menu{
    margin: 0;
    padding: 0;
    min-width: 100px;
}
.dataTable .dropdown-menu li{
    width: 100px;
    margin: 5px;
    padding: 5px;
    display: block;
    cursor: pointer;
}
.dataTable .dropdown-menu li:hover{ opacity: 0.7 }
.date_range input{ text-align: center; }
.custom-table .filters .date_range input{ min-width: 90px; }
.custom-table tbody tr:hover td:not(.empty){
    cursor: default;
    color: inherit;
}
.column_response .glyphicon{
    color: #3c8dbc;
    font-size: 16px;
    padding-bottom: 5px;
}
.column_response .glyphicon:before{
    padding-right: 5px;
}
/*
* export form
*/
#export_form input[type="radio"]{
    width: 20px;
    vertical-align: middle;
    margin: 0;
}
#export_form{
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 250;
    left: -200px;
    margin-left: 50%;
    padding: 15px;
    background: #ffffff;
    border-radius: 5px;
    z-index: 1100;
    display: none;
}
.bg_veil{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.6);
    z-index: 1099;
    display: none;
}
.export_form-radio{
    display:flex;
}
.export_form-close{
    position: absolute;
    color: #ffffff;
    background-color: #222d32;
    width: 30px;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    cursor: pointer;
    right: -20px;
    top: -20px;
    font-size: 20px;
    height: 30px;
}