.main-sidebar .treeview .glyphicon,
.sidebar-menu>li>a>.fa{
	line-height: 20px;
}
.sidebar-menu .treeview-menu .treeview-menu{ padding-left: 10px; }
.main-sidebar, .left-side{ width: 250px }
.content-wrapper, .right-side, .main-footer{ margin-left: 250px; }
.content-header .content-header__block{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#breadcrumbs{
	width: initial;
	padding: 0 15px 0 0;
	margin: 0;
}
#breadcrumbs span{ line-height: 24px }
.content-header small{
	font-size: 15px;
	padding-left: 4px;
	font-weight: 300;
	line-height: 24px;
}
.content-header h1{ margin: 0 }
@media (max-width: 767px){
	.main-sidebar, .left-side {
		-webkit-transform: translate(-250px, 0);
		-ms-transform: translate(-250px, 0);
		-o-transform: translate(-250px, 0);
		transform: translate(-250px, 0);
	}
}
@media (min-width: 768px){
	.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right-container),
	.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu{
		width: initial;
		min-width: 200px;
	}
}

.user__msg{
	list-style: none;
	padding: 0;
	margin: 0;
}
.user__msg-theme{
	min-width: 60%;
	max-width: 60%;
	border-bottom: 1px dotted;
}
.user__msg-theme,
.user__msg-icon{
	display: inline-block;
}
.user__msg .fa-pencil-square-o {
	padding-left: 15px;
	font-size: 25px;
	line-height: 40px;
}