#tablist{
	background-color: #222d32;
}
#tablist li{

}
#tablist a{
	font-weight: bold;
	color: #b8c7ce;
	border-left: 3px solid transparent;      
}
#tablist .active a,
#tablist a:hover{
	color: #fff;
	background: #1e282c;
	border-left-color: #3c8dbc;
}
.settings h4{
	font-size: 18px;
}
.btn-success{
	min-width: 150px;
	min-height: 34px;
}
.btn-loading {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 20px;
}
.btn-loading div {
  position: absolute;
  top: 5px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.btn-loading div:nth-child(1) {
  left: 6px;
  animation: btn-loading1 0.6s infinite;
}
.btn-loading div:nth-child(2) {
  left: 6px;
  animation: btn-loading2 0.6s infinite;
}
.btn-loading div:nth-child(3) {
  left: 26px;
  animation: btn-loading2 0.6s infinite;
}
.btn-loading div:nth-child(4) {
  left: 45px;
  animation: btn-loading3 0.6s infinite;
}
@keyframes btn-loading1 {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}
@keyframes btn-loading3 {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}
@keyframes btn-loading2 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(19px, 0); }
}
/*
*   Notifications
*/
.alert.success{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert.danger{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert.info{
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bcdff1;
}
.alert.warning{
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faf2cc;
}
/*
*   bs-callout
*/
.bs-callout {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  font-size: 16px;
}
.bs-callout-success {
  border-left-color: #3c763d;
  background-color: #dff0d8;
}
.bs-callout-danger {
  border-left-color: #a94442;
  background-color: #f2dede;
}
.bs-callout-info {
  border-left-color: #31708f;
  background-color: #d9edf7;
}
.bs-callout-warning {
  border-left-color: #8a6d3b;
  background-color: #faf2cc;
}
/*
*   forms
*/
.d-label{ width: 100%; }
.form-control{ border-radius: 3px; }
.d-small{ max-width: 300px; }
.d-medium{ max-width: 600px; }
.d-textarea{
  width: 100%;
  min-height: 400px;
  resize: vertical;
  font-weight: normal;
}
.CodeMirror{ 
  width: 100%;
  border: 1px solid #d2d6de;
  border-radius: 3px;
  font-weight: normal;
  min-height: 600px; 
}
.d-indent{
  margin: 1em 0;
}
/*
*   tables
*/
.custom-table{ background-color: #fff; }
.custom-table tbody tr:hover td:not(.empty) { 
  color: #3c8dbc;
  cursor: pointer;
}
.custom-table .checkclass{ margin: 0 }
.custom-table thead>tr:not(.filters) th{ text-align: center }
.custom-table thead>tr.filters>td{ padding: 0 } 
.custom-table .filters input,
.custom-table .filters select{
    width: 100%;
    max-width: 100%;
    border: 1px solid #d6d6d6; 
}
.custom-table .filters select{ height: 26px; }
.custom-table .new-row td{ background-color: #ffffc6 }
.grid-view .pager.pager{ text-align: center }
.custom-table .dropdown-menu li {
  width: 100px;
  margin: 5px;
  padding: 5px;
  display: block;
  cursor: pointer;
}
.custom-table .dropdown-menu{
  margin: 0;
  padding: 0;
  min-width: 100px;
}
  /*
  *
  */
.clearfix{ clear: both; }
/*
*   nicEdit
*/
.nicEdit-button{ 
  background-image: url("/jslib/nicedit/nicEditorIcons.gif") !important; 
}
.nicEdit-main {
  margin: 0 !important;
  padding: 4px;
  width: 100% !important;
  border-top: 1px solid #e3e3e3 !important;
  background: #fff;
}
.nicEdit-main:focus{ outline: none; }
/*
* filter date range
*/
.filter_date_range{
  width: 100%;
  height: 26px;
  display: flex;
}
.filter_date_range input{ width: 85px !important; }
/*
*   custom label
*/
.label-important{ background: #dd4b39; }
.label-double { background-color: #3c8dbc; }
.label-otdel { background-color: #9947c6; }
.label-pending { background-color: #999; }
.label-spam { background-color: #ff7373; }

/*
*
*/
.custom-select {
  display: inline-block;
  width: 30%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

#theme__new-input {
  display: inline-block;
  width: auto;
}

#theme__new-btn {
  display: inline-block;
  width: 34px;
}
#theme__sel-work {
  width: 100%;
}

.theme__heading {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.theme__wrap {
  padding: 20px 10px 10px 10px;
  border-radius: 5px;
  border: 1px solid #8aa4af;
  position: relative;
}

.theme__wrap + .theme__wrap {
  margin-top: 20px;
}

.theme__wrap-info {
  position: absolute;
  top: -10px;
  left: 20px;
  border: 1px solid #8aa4af;
  background: white;
  border-radius: 20px;
  padding: 0 10px;
}

.theme__slide-btn {
    position: absolute;
    top: 0;
    right: 30px;
    border: 1px solid #8aa4af;
    background: #189124;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.theme__slide-btn:active {
    box-shadow: 0 3px 0 #00823F;
    top: 3px;
}

.theme__search {
    position: relative;
}
.theme__search ul{
    position: absolute;
    width: 100%;
    background: #fff;
    border: 1px solid #0a5bc4;
    top: 100%;
}
/* Loading */
section.content.loading{
  position: relative;
}
section.content.loading:before {
  content: '';
  background: rgb(236, 240, 245, 0.7) url(/theme/pic/vacancy/loading.gif) center no-repeat;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}